/*-----------------------------------------------------------

    Theme Name: Bloggit
	Version: 1.0
	RTL Stylesheet


/* main
================================================== */
#post{
	float: right;
}

#sidebar{
	float: left;
}


/* Headings
================================================== */
.author-page-description img{
	float: right;
	margin-right: 0;
	margin-left: 30px;
}


/* Top Bar
================================================== */
#top-bar-social{
	left: 0;
	right: auto;
}

#top-bar-social a{
	display: block;
	float: left;
	margin-left: 5px;
	height: 24px;
	opacity: 0.8;
}

#top-navigation .sf-menu > li {
	display: block;
	float: right;
	margin-left:30px;
	margin-right: 0;
}


/* Main Navigation
================================================== */
#main-navigation .sf-menu > li {
	float: right;
}

#main-navigation .sf-menu a {
    text-align: right;
}


/* Notification Area
================================================== */
#breaking-news{
	float: right;
}

#breaking-news div#content{
	float: right;
	text-align: right;
}
#breaking-news div#title{
	float: right;
}

#top-search{
	right: auto;
	left: 30px;
}


/* Header
================================================== */
#header-banner{
	left: 0;
	right: auto;
}


/* Homepage
================================================== */
#home-recent-title span{
	float: right;
}


/* RoyalSlider
================================================== */
.videoGallery .rsABlock{
	text-align: right;
}


/* FlexSlider
================================================== */
.featured-flexslider-caption{
	top: 0;
	left: auto;
	right: 0;
	text-align: right;
}
.flex-direction-nav .flex-next {
    left: 37px;
}

.flex-direction-nav .flex-prev {
    left: 0;
}


/* Blog Entries
================================================== */
#load-more a{
	background: #000 url("images/load-more.png") 87% center no-repeat;
	padding: 0 41px 0 15px;
}

.post-entry .sticky-overlay{
	left: auto;
	right: 0;
}

.post-entry-details{
	float: left;
}

/*meta*/
.post-entry-meta li{
	float: right;
	margin-left: 4px;
	margin-right: 0;
}

.post-entry-meta li:first-child{
	margin-right: 0;
}

/*thumbnail*/
.post-entry-thumbnail{
	float: right;
}

/*post pagination*/
#paginate-post span{
    float: right;
	margin-right: 0;
    margin-left: 5px;
}

/* Blog Posts
================================================== */

/*meta*/
.meta li{
    float: right;
	margin-left: 15px;
    margin-right: 0;
}


/*author*/
#author-image{
	float: right;
}

#author-bio{
	float: left;
}

#author-bio p:last-child{
	margin:0;
}

#single-author-link{
	float: right;
}

/*tags*/
#post-tags a{
	float: right;
	margin-right: 0;
	margin-left: 5px;
}

/*related posts*/
#related-heading span{
	float: right;
}

.related-post-thumbnail{
	float: right;
	margin-left: 20px;
	margin-right: 0;
}


/* Deals
================================================== */
#deals-post .deals-entry-thumbnail{
	float: right;
}

#deals-post .deals-entry-details{
	float: left;
}

/* Page Pagination
================================================== */
.page-pagination a,
.page-pagination span.outer {
    float: right;
    margin-right: 5px;
	margin-left: 0;
}

/* Post Pagination
================================================== */
.post-pagination .post-prev,
.post-pagination .post-next {
    float: right;
}

.post-pagination .post-prev {
    margin-right: 0;
	margin-left: 5px;
}

.post-pagination .post-next {
	float: left;
}


/* Archives
================================================== */


.archives-list a{
	padding: 8px 0 8px 10px;
}
.archives-list a span.archives-count{
	float: right;
	margin: -8px 0 -8px 15px;
}

.archives-list a span.archives-date{
	margin-left: 7px;
}

.archives-list a:hover span.archives-count{
	background: #0090ff;
}

/* Widgets
================================================== */

.tagcloud a{
	float: right;
}

/*recent posts with thumb*/
.wpex-widget-recent-posts img {
    float: right;
    margin-right: 0;
	margin-left: 15px;
	padding: 3px;
}

/* Search
================================================== */
input[type="search"] {
    background: url("./images/search.png") no-repeat scroll 12px center #000;
}

/* Comments
================================================== */
.comments-title span{
	float: right;
}

.comment-details ul {
    margin: 0;
}

.children li.depth-2 {
    margin: 0 65px 0 0;
}

.children li.depth-3 {
   margin: 0 65px 0 0;
}

.children li.depth-4 {
   margin: 0 65px 0 0;
}

.children li.depth-5 {
   margin: 0 65px 0 0;
}

.children li.depth-6 {
   margin: 0 65px 0 0;
}

.children li.depth-7 {
   margin: 0 65px 0 0;
}

.children li.depth-8 {
   margin: 0 65px 0 0;
}

.children li.depth-9 {
   margin: 0 65px 0 0;
}

.children li.depth-10 {
   margin: 0 65px 0 0;
}

.comment-details {
	margin-left: 0;
	margin-right: 80px;
}

.comment-avatar {
	left: auto;
    right: -80px;
}

.form-submit {
	float: right;
}

#reply-title span{
	float: right;
}

#cancel-comment-reply-link {
	float: right;
}

/* BX Carousel
================================================== */
.bx-wrapper {
	direction: ltr !important;
}