/*-----------------------------------------------------------

    Theme Name: Bloggit
	Version: 1.05
    Description: Premium WordPress Theme By WPExplorer
    Author: http://www.wpexplorer.com
    Author URI: http://themeforest.net/user/wpexplorer/
    Designed & Developed by http://www.wpexplorer.com
	Theme URI: http://themeforest.net/user/wpexplorer/portfolio
	License: GNU General Public License version 3.0
	License URI: http://www.gnu.org/licenses/gpl-3.0.html



/* Reset
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

blockquote p:last-child {
    margin: 0;
}

a:focus {
    outline: 0;
}

a:focus {
    outline: 0;
}

a:link {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

p img {
    margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.list-style-none {
    list-style: none !important;
    margin-left: 0 !important;
}

img {
    max-width: 100%;
	height: auto;
}


/* Body & Main
================================================== */
body {
    background: #dddddd url("images/bgs/noise-see-through.png");
    nowhitespace: afterproperty;
    font-size: 14px;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	line-height: 1.8em;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

body a {
    color: #508df8;
}

body a:hover {
    text-decoration: underline;
}

#wrap {
	margin-bottom: 30px;
}

#main-content {
	margin-top: 30px;
	padding: 30px;
	background: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

#post {
    float: left;
    width: 590px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#sidebar {
    float: right;
    width: 300px;
	font-size: 14px;
}

#main-content.left-sidebar #post{
	float: right;
}

#main-content.left-sidebar #sidebar{
	float: left;
}


#top-navigation .selector,
#main-navigation .selector {
	display: none;
}


/* Commons
================================================== */
.full-width{
	width: 100% !important;
}

.grid-1{
	width: 980px;
    margin: 0 auto;
}

.remove-margin {
    margin-right: 0 !important;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.read-more{
	white-space: nowrap;
}

blockquote {
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 30px 0;
	padding: 20px;
	background: #f1f1f1;
	border-left: 6px solid #ddd;
	line-height: 1.4em;
	font-style: italic;
	color: #777;
}

blockquote p {
	color: #888;
	font-style: italic;
	line-height: 1.9em;
}

pre {
	font-size: 0.929em;
    background: #fff;
	background-color: rgba(0,0,0,0.04);
	border: 1px solid #ccc5be;
    margin: 40px 0px;
    padding: 25px 20px;
    line-height: 25px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

address {
    letter-spacing: 1px;
    margin: 20px 0;
}

#page-featured-img {
    position: relative;
	margin-bottom: 30px;
}

#page-featured-img img {
    display: block;
    width: 100%;
}

.column-2 {
    width: 48%;
}

.column-3 {
    width: 30.66%;
}

.column-4 {
    width: 22%;
}

.column-5 {
    width: 16.8%;
}

.column-6 {
    width: 13.33%;
}

.column-2, .column-3, .column-4, .column-5, .column-6 {
    position: relative;
    margin-right: 4%;
    margin-bottom: 2em;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.last-column{
	margin-right: 0 !important;
}


/* Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	color: #000;
	line-height: 1.4em;
}

h1 {
    font-size: 24px;
    margin: 0 0 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #000000;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #0090ff;
	text-decoration: none;
}

.entry p:last-child {
    margin: 0;
}

.entry ul {
    margin: 30px 0 30px 20px;
}

.entry ol {
    margin: 30px 0 30px 25px;
}

.entry ul li, .entry ol li {
    margin: 0 0 5px;
}

.entry ol {
    list-style: decimal;
}

.entry ul {
    list-style: circle;
}

.entry h2, .entry h3, .entry h4, .entry h5, .entry h6 {
    margin: 40px 0 20px;
}

.entry h3{
	text-transform: uppercase;
}

p {
    margin: 0 0 20px;
}

p.lead {
    font-size: 21px;
    line-height: 27px;
    color: #777;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

small {
    font-size: 80%;
}

hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 30px 0 30px;
    height: 0;
}

a {
    outline: 0;
}

p a, p a:visited {
    line-height: inherit;
}

p a, p a:visited {
    line-height: inherit;
}


/* Headings
================================================== */

/*page heading*/
#page-heading {
    position: relative;
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 4px solid #000;
}

#page-heading #archive-description{
	margin-top: 20px;
}

#page-heading #archive-description p:last-child{
	margin: 0;
}

#post-heading h1,
#page-heading h1 {
    margin: 0;
	line-height: 1.5em;
}

#post-heading{
	margin-bottom: 30px;
}

.author-page-description{
	padding: 20px;
	background: #f1f1f1;
	border-top: 4px solid #000;
}

.author-page-description img{
	float: left;
	margin-right: 30px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}

#page-heading.author-page-description h1{
	font-size: 24px;
	margin: 0 0 10px;
}


/* Top Bar
================================================== */
#top-bar-wrap{
	background: #000;
}

#top-bar-inner{
	position: relative;
	height: 50px;
}


#top-bar-social{
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -12px;
}

#top-bar-social a{
	display: block;
	float: left;
	margin-left: 5px;
	height: 24px;
	opacity: 0.8;
}

#top-bar-social a:hover{
	opacity: 1;
}

#top-bar-social img{
	height: 24px;
	width: auto;
}



/* Superfish Styles
================================================== */
.sf-menu, .sf-menu * { margin: 0; padding: 0; list-style: none; }
.sf-menu { line-height: 1.0 }
.sf-menu ul { position: absolute; top: -999em; width: 180px; }
.sf-menu ul li { width: 100% }
.sf-menu li:hover { visibility: inherit }
.sf-menu li { float: left; position: relative; }
.sf-menu a { display: block; position: relative; }
.sf-menu li:hover ul, .sf-menu li.sfHover ul { left: 0px; top: 50px; z-index: 99; }
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul { top: -999em }
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul { left: 180px; top: 1px; }

/* arrows */
#main-navigation .sf-menu a.sf-with-ul { padding-right: 2.25em; min-width: 1px; }
#main-navigation .sf-sub-indicator { position: absolute; display: block; top: 50%; margin-top: -2px; right: 12px; width: 5px; height: 3px; text-indent: -999em; overflow: hidden; background: url("images/menu-arrow.png") -5px 0px no-repeat; opacity: 0.6; }
#main-navigation a:focus >.sf-sub-indicator, #main-navigation a:hover >.sf-sub-indicator, #main-navigation a:active >.sf-sub-indicator, li:hover > a >.sf-sub-indicator, #main-navigation li.sfHover > a >.sf-sub-indicator { opacity: 1 }
#main-navigation .sf-menu ul .sf-sub-indicator { top: 50%; background: url("images/menu-arrow-dark.png") center left no-repeat; display: block; width: 3px; height: 5px; margin-top: -2px; opacity: 0.8; }
#main-navigation .sf-menu ul a:focus >.sf-sub-indicator, #main-navigation .sf-menu ul a:hover  >.sf-sub-indicator, #main-navigation .sf-menu ul a:active > .sf-sub-indicator, #main-navigation .sf-menu ul li:hover > a >.sf-sub-indicator, #main-navigation .sf-menu ul li.sfHover > a >.sf-sub-indicator { opacity: 1 }


/* Top Navigation
================================================== */
#top-navigation .sf-menu > li:hover > ul, .sf-menu li.sfHover > ul {
    top: 50px;
}

#top-navigation .sf-menu ul {
    position: absolute;
    nowhitespace: afterproperty;
    top: -999em;
    z-index: 9999;
	width: 180px;
}
#top-navigation .sf-menu > li {
	display: block;
	float: left;
	margin-right: 30px;
}

#top-navigation .sf-menu a {
	display: block;
    color: #999;
	font-weight: bold;
	font-size: 11px;
	height: 50px;
    line-height: 50px;
	text-transform: none;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
}

#top-navigation .sf-menu > li > a:hover,
#top-navigation .sf-menu > li.sfHover > a,
#top-navigation .sf-menu > .current-menu-item > a,
#top-navigation .current-menu-parent > a,
#top-navigation .current-menu-parent > a:hover,
#top-navigation .sf-menu > .current-menu-item > a:hover {
    color: #fff;
	background: url("images/top-menu-current.png") center bottom no-repeat;
}

#top-navigation .sf-menu ul {
    background: #000;
	font-size: 0.813em;
}

#top-navigation .sf-menu ul a {
    display: block;
    height: auto;
    line-height: 1.7em;
    padding: 10px 15px;
    margin: 0px;
    border: 0px;
    text-transform: none;
}

#top-navigation .sf-menu li {
    position: relative;
}

#top-navigation .sf-menu ul li {
    border-bottom: 1px solid #333;
}

#top-navigation .sf-menu ul li:last-child{
	border: none;
}

#top-navigation .sf-menu ul li > a:hover {
    color: #fff;
}

#top-bar .selector, #top-navigation .selector {
    display: none;
}



/* Main Navigation
================================================== */
#main-navigation{
	height: 55px;
	background: #000;
	margin: 0 0 30px;
}

#main-navigation .sf-menu > li {
	display: block;
	float: left;
}

#main-navigation .sf-menu a {
	display: block;
    color: #fff;
	font-weight: bold;
	height: 55px;
    line-height: 55px;
	font-size: 14px;
	padding: 0 25px;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
	-webkit-transition:background .8s ease-out;
	-moz-transition:background .8s linear;  
	transition:background .8s linear;
}

#main-navigation .sf-menu > li.sfHover > a,
#main-navigation .sf-menu > li > a:hover,
#main-navigation .sf-menu > .current-menu-item > a,
#main-navigation .sf-menu > .current-menu-item > a:hover {
    color: #fff;
	background: #0090ff;
	-webkit-transition:background .01s ease-out; 
	-moz-transition:background .01s linear; 
	transition:background .01s linear;
}

#main-navigation .sf-menu > li:hover > ul, .sf-menu li.sfHover > ul {
    top: 55px;
}

#main-navigation .sf-menu ul {
    position: absolute;
    nowhitespace: afterproperty;
    z-index: 9999;
	width: 180px;
    background: #fff;
	font-size: 12px;
	font-weight: 400;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#main-navigation .sf-menu ul a {
    display: block;
    height: auto;
    line-height: 1.7em;
	font-weight: 400;
    padding: 10px 15px;
    margin: 0px;
    border: 0px;
	color: #555;
    text-transform: none;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

#main-navigation .sf-menu li {
    position: relative;
}

#main-navigation .sf-menu ul li {
    border-bottom: 1px solid #eee;
}

#main-navigation .sf-menu ul li:last-child{
	border: none;
}

#main-navigation .sf-menu ul li > a:hover {
    color: #000;
	background: #f6f6f6;
}


/* Notification Area
================================================== */
#notification-bar{
	position: relative;
	background: #fff;
	margin-bottom: 30px;
	font-size: 13px;
	padding: 17px 30px;
	border-top: none;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

#breaking-news{
	height: 30px;
	line-height: 30px;
}

#breaking-news div#content{
	float: left;
	font-size: 12px;
	background: #f1f1f1;
	padding: 0 10px;
	color: #000;
	font-weight: bold;
}

#breaking-news div#content a{
	color: #da3610;
}

#breaking-news div#title{
	float: left;
	background: #da3610;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	padding: 0 12px;
}

#top-search{
	width: 167px;
	position: absolute;
	top: 50%;
	margin-top: -16px;
	right: 30px;
}

#top-search input[type="search"]{
	height: 30px;
	line-height: 30px;
}


/* Header
================================================== */
#header {
	position: relative;
	padding: 10px 0 40px;
}

/*logo*/
#logo img{
	display: inline;
	margin: 0 auto;
}

#logo h2 {
    font-size: 32px;
    font-weight: 700;
	line-height: 1em;
	margin: 0;
}

#logo h2 a{
	color: #000;
}

#logo p#site-description{
	font-size: 14px;
	font-style: italic;
	margin: 0;
	color: #555;
}

/*banner*/
#header-banner{
	position: absolute;
	right: 0;
	top: 10px;
}


/* Homepage
================================================== */

#homepage-tagline{
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: center;
	margin: 20px 0;
	background: #f1f1f1;
	padding: 20px;
}

#homepage-tagline h1{
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	font-weight: 400;
	font-size: 24px;
	text-transform: uppercase;
}

#homepage-tagline h1 a{
	text-decoration: underline;
}

.home-title{
	margin-bottom: 60px;
	border-top: 4px solid #000;
}

.home-title span{
	display: block;
	float: left;
	font-size: 13px;
	color: #fff;
	background: #000;
	border-top: 4px solid #0090ff;
	padding: 2px 8px;
	font-weight: bold;
	margin-top: -4px;
}

/*slider*/
#featured-slider,
#home-slider-alt{
	display: block;
	width: 100%;
	margin-bottom: 30px;
	margin-bottom: 30px;
}



/* Royal Slider
================================================== */
#video-gallery {
	display: none;
	width: 100%;
	color: #FFF;
}

#video-gallery img {
	width: 100%;
	height: 100%;
}

.videoGallery .rsCloseVideoBtn {
  display: none;
}

.videoGallery span.rsTmbTitle {
	display: block;
	margin: 0 0 4px;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	line-height: 1.4em;
	white-space: nowrap;
	overflow: hidden;
}

.videoGallery span.rsTmbCat {
	background: #333;
	color: #fff;
	font-size: 11px;
	margin: 0;
	height: auto;
	padding: 2px 4px;
	border-radius: 2px;
}

.videoGallery .rsNavSelected span.rsTmbCat{
	background: #000;
}

.videoGallery .rsTmb {
  padding: 20px;
}

.videoGallery .rsThumbs .rsThumb {
  width: 220px;
  height: 85px;
  border-bottom: 1px solid #2E2E2E;
}

.videoGallery .rsThumbs.rsThumbsVer {
  width: 220px;
  padding: 0;
}

.videoGallery .rsThumb:hover {
  background: #000;
}

.videoGallery .rsThumb.rsNavSelected {
  background-color: #0090ff;
  border-bottom: 1px solid #transparent;
}

.rsDefault .rsOverflow,
.rsDefault .rsSlide,
.rsDefault .rsVideoFrameHolder,
.rsDefault .rsThumbs {
  background: #202020;
}

.sampleBlock {
  left: 3%; 
  top: 1%; 
  width: 100%;
  max-width: 400px;
}

.videoGallery .caption{
	background: #000;
	background: rgba(0,0,0,0.85);
	padding: 20px;
}

.videoGallery .rsABlock{
	background: #000;
	background: rgba(0,0,0,0.85);
	color: #666;
	z-index: 99;
	top: auto;
	bottom: 0;
	left: 0;
	height: auto;
	max-width: 60%;
	padding: 20px;
	font-size: 13px;
}

.videoGallery .rsABlock p:last-child{
	margin: 0;
}

.videoGallery .rsABlock h2{
	font-weight: bold;
	font-size: 18px;
	line-height: 1.4em;
	color: #fff;
	margin: 0 0 10px;
}


@media screen and (min-width: 0px) and (max-width: 500px) {
  .videoGallery .rsTmb {
    padding: 6px 8px;
  }
  .videoGallery h5 {
    font-size: 13px;
    line-height: 17px;
  }
  .videoGallery .rsThumbs.rsThumbsVer {
    width: 100px;
    padding: 0;
  }
  .videoGallery .rsThumbs .rsThumb {
    width: 100px;
    height: 47px;
  }
  .videoGallery .rsTmb p {
    display: none;
  }
  .videoGallery .rsOverflow,
  .royalSlider.videoGallery {
    height: 300px !important;
  }
  .sampleBlock {
    font-size: 14px;
  }
}


/* FlexSlider
================================================== */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

.flexslider {margin: 0; padding: 0; direction: ltr !important; }
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;}
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}
.no-js .slides > li:first-child {display: block;}

.flexslider { position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

/*homepage*/
#featured-flexslider{
	margin-bottom: 30px;
	min-height: 60px;
	background: url("images/loader.gif") center center no-repeat #fff;
}

.featured-flexslider-caption{
	position: absolute;
	top: 0;
	left: 0;
	max-width: 70%;
	background: #000;
	background: rgba(0,0,0,0.85);
	padding: 15px;
	color: #fff;
	font-size: 14px;
}

.flex-direction-nav {
    *height: 0;
}

.flex-direction-nav a {
    width: 35px;
    height: 30px;
    display: block;
    background: #000;
    position: absolute;
   	bottom: 0;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
	opacity: 0.85;
	transition: all .3s ease;
	-moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.flex-direction-nav .flex-next {
    background: #000 url("images/flex-next.png") center center no-repeat;
    right: 0;
}

.flex-direction-nav .flex-prev {
    right: 37px;
	background: #000 url("images/flex-prev.png") center center no-repeat;
}

.flex-direction-nav a:hover {
   background-color: #0090ff;
}


/* Blog Entries
================================================== */

/*ajax load more btn*/
#load-more{
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

#load-more a{
	display: inline;
	display: inline-block;
	background: #000 url("images/load-more.png") 15px center no-repeat;
	height: 45px;
	line-height: 45px;
	padding: 0 15px 0 41px;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#load-more a:hover{
	text-decoration: none;
}

@media only screen and (min-width: 959px) {
	#load-more a:hover{
		background-color: #0090ff;
		color: #fff;
	}
}

#load-more a.loading,
#load-more a.loading:hover{
	background: #fff url("images/loader.gif") center center no-repeat;	
	text-indent: -99999px;
}


/* Entries*/
.post-entry{
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
	font-size: 13px;
}

.post-entry .sticky-overlay{
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	background: #f9c301 url("images/sticky.png") center center no-repeat;
	height: 35px;
	width: 35px;
}

.post-entry-details{
	float: right;
	width: 370px;
}

.post-entry h2 {
	font-size: 21px;
	line-height: 1.4em;
	font-weight: bold;
	margin: 0;
}

.post-entry-excerpt p:last-child{
	margin: 0;
}

/*meta*/
.post-entry-meta{
	list-style: none;
	margin: 0 0 20px;
	font-size: 12px;
	color: #777;
}

.post-entry-meta li{
	float: left;
	margin-right: 4px;
}

.post-entry-meta li:last-child{
	margin-right: 0;
}

.post-entry-meta li span{
	text-decoration: underline;
}

.post-entry-meta a{
	color: #000;
	text-decoration: underline;
}


/*thumbnail*/
.post-entry-thumbnail{
	float: left;
	width: 200px;
    display: block;
	position: relative;
}
.post-entry-thumbnail img{
    display: block;
}

/*overlay*/
.overlay{
	z-index: 2;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0090ff;
}
.overlay{
	background: #0090ff url("images/standard.png") center center no-repeat;
}
.overlay.video{
	background: #52d591 url("images/video.png") center center no-repeat;
}
.overlay.link{
	background: #ea724d url("images/link.png") center center no-repeat;
}
.overlay.image{
	background: #d04e4e url("images/image.png") center center no-repeat;
}
.overlay.gallery{
	background: #fdc46a url("images/gallery.png") center center no-repeat;
}
.overlay.audio{
	background: #b1a599 url("images/audio.png") center center no-repeat;
}

/*post pagination*/
#paginate-post {
	margin-top: 30px;
}

#paginate-post span{
    float: left;
	background: #0090ff;
	color: #fff;
    cursor: pointer;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    text-decoration: none;
    -webkit-appearance: none !important;
    margin-right: 5px;
}

#paginate-post a span{
	display: block;
	background: #bbb;
}

#paginate-post a:hover span{
    color: #fff;
	background: #0090ff;
	text-decoration: none;
}


/* Blog Posts
================================================== */

/*meta*/
.meta {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #555;
	font-size: 13px;
	margin-top: 10px;
	padding-bottom: 10px;
	border-bottom: 4px solid #000;
}

.meta li{
    float: left;
    margin-right: 15px;
}

.meta li:last-child{
	margin: 0;
}

.meta li span{
	color: #000;
	font-weight: 600;
}

.meta a{
	color: #0090ff;
}


/*post-thumbnail*/
#post-thumbnail,
#post-video{
	text-align: center;
	margin-bottom: 30px;
}

#post-thumbnail img{
	display: block;
	margin: 0 auto;
}

/*post edit link*/
#post-edit-link,
#post-edit-link a{
	color: #F30;
	margin-top: 30px;
}

/*author*/
#single-author{
	background: #f6f6f6;
	padding: 20px;
	border-top: 4px solid #000;
	margin-top: 30px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#single-author-title{
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 10px;
}

#author-image{
	float: left;
	width: 10%;
}

#author-image img{
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}

#author-bio{
	float: right;
	width: 85%;
}

#author-bio p:last-child{
	margin:0;
}

#single-author-link{
	font-size: 12px;
	float: left;
	background: #eee;
	padding: 1px 10px;
	font-weight: bold;
}

/*post share*/
div.sharedaddy div.sd-block {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}


/*tags*/
#post-tags{
	margin-top: 30px;
}

#post-tags h4{
	font-size: 14px;
	margin: 0 0 15px;
}

#post-tags a{
	font-size: 13px;
	display: block;
	float: left;
	background: #000;
	color: #fff;
	padding: 1px 7px;
	margin-right: 5px;
	margin-bottom: 5px;
	transition: background 0.15s ease;
    -webkit-transition: background 0.15s ease;
    -o-transition: background 0.15s ease;
    -moz-transition: background 0.15s ease;
}

#post-tags a:hover{
	background: #0090ff;
	color: #fff;
	text-decoration: none;
}

#post-tags a:last-child{
	margin-right: 0;
}

/*related posts*/
#related-posts{
	margin-top: 30px;
}

#related-heading{
	margin-bottom: 60px;
	border-top: 4px solid #000;
}

#related-heading span{
	display: block;
	float: left;
	font-size: 13px;
	color: #fff;
	background: #000;
	border-top: 4px solid #0090ff;
	padding: 2px 8px;
	font-weight: bold;
	margin-top: -4px;
}

.related-post-entry{
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
	font-size: 13px;
}

.related-post-entry:last-child{
	border: 0;
	margin: 0;
	padding: 0;
}

.related-post-thumbnail{
	float: left;
	width: 12%;
	max-width: 90px;
	display: block;
	padding: 4px;
	border: 1px solid #eee;
	-webkit-transition:.4s ease-out;
	-moz-transition:.4s linear;  
	transition:.4s linear;
}

.related-post-description{
	float: right;
	width: 82%;
}

.related-post-thumbnail:hover{
	background: #0090ff;
	border-color: #0090ff;
	-webkit-transition:.01s ease-out; 
	-moz-transition:.01s linear; 
	transition:.01s linear
}

.related-post-thumbnail img{
	display: block;
}

.related-post-title{
	font-weight: bold;
	font-size: 16px;	
	margin: 0 0 7px;
}


/*other*/
#post-link-button{	
	margin-top: 30px;
}

/* Page Pagination
================================================== */
.page-pagination {
	font-size: 12px;
}

.page-pagination a {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

.page-pagination a,
.page-pagination span.outer {
    float: left;
	background: #bbb;
	color: #fff;
    cursor: pointer;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    text-decoration: none;
    -webkit-appearance: none !important;
    margin-right: 5px;
}

.page-pagination a:hover,
.page-pagination span.current {
    background: #0090ff;
    color: #fff;
	text-decoration: none;
}

.page-of-page {
    display: none;
}


/* Post Pagination
================================================== */
.post-pagination {
	margin-top: 30px;
	padding-top: 30px;
	border-top: 4px solid #000;
}

.post-pagination .post-prev,
.post-pagination .post-next {
    display: block;
    float: left;
}

.post-pagination .post-prev {
    margin-right: 5px;
}

.post-pagination .post-next {
	float: right;
}

.post-pagination .post-prev a,
.post-pagination .post-next a {
	font-size: 13px;
	font-weight: bold;
}

.post-pagination .post-prev a:hover,
.post-pagination .post-next a:hover {
	text-decoration: underline;
}


/* Deals
================================================== */
.deals-wrap{
	margin-right: -40px;
	margin-bottom: -40px;
}

.deals-entry{
	width: 280px;
	float: left;
	margin-right: 40px;
	margin-bottom: 40px;
}

.deals-entry-details{
	padding: 20px;
	background: #fdf6e4;
	border: 3px dashed #fde19d;
	text-align: center;
}

#deals-post .deals-entry-thumbnail{
	float: left;
	width: 40%;
}

#deals-post{
	margin-bottom: 30px;
}

#deals-post .deals-entry-details{
	float: right;
	width: 56%;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.deals-entry:hover .deals-entry-details{
	border-color: #f2cf79;
}

.deals-entry-thumbnail{
	margin-bottom: 10px;
}

.deals-entry-thumbnail img{
	display: block;
}

.deals-entry-details p:last-child{
	margin: 0;
}

.deals-entry-details{
	font-size: 14px;
}

.deals-entry-details h2{
	margin: 0 0 15px;
	font-size: 18px;
}

.deals-button{
	display: block;
	font-size: 14px;
	margin-top: 15px;
	color: #fff;
	font-weight: bold;
	color: #fff;
	background: #88dd48;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	background: -moz-linear-gradient(top,  #88dd48 0%, #5fb139 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88dd48), color-stop(100%,#5fb139));
	background: -webkit-linear-gradient(top,  #88dd48 0%,#5fb139 100%);
	background: -o-linear-gradient(top,  #88dd48 0%,#5fb139 100%);
	background: -ms-linear-gradient(top,  #88dd48 0%,#5fb139 100%);
	background: linear-gradient(to bottom,  #88dd48 0%,#5fb139 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88dd48', endColorstr='#5fb139',GradientType=0 );
	border: 1px solid #60AE40;
}

.deals-button:hover{
	text-decoration: none;
	background: -moz-linear-gradient(top,  #91e056 0%, #6fc448 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#91e056), color-stop(100%,#6fc448));
	background: -webkit-linear-gradient(top,  #91e056 0%,#6fc448 100%);
	background: -o-linear-gradient(top,  #91e056 0%,#6fc448 100%);
	background: -ms-linear-gradient(top,  #91e056 0%,#6fc448 100%);
	background: linear-gradient(to bottom,  #91e056 0%,#6fc448 100%);
}

.deals-button:active{
	background: -moz-linear-gradient(top,  #5fb139 0%, #88dd48 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5fb139), color-stop(100%,#88dd48));
	background: -webkit-linear-gradient(top,  #5fb139 0%,#88dd48 100%);
	background: -o-linear-gradient(top,  #5fb139 0%,#88dd48 100%);
	background: -ms-linear-gradient(top,  #5fb139 0%,#88dd48 100%);
	background: linear-gradient(to bottom,  #5fb139 0%,#88dd48 100%);
}

.deals-button span {
	display: block;
	color: #fff;
	font-weight: bold;
	padding: 1.1em 1.4em;
	line-height: 0.8em;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	border-top: 1px solid #b7ea90;
	border-radius: 3px;
}


/* Archives
================================================== */
.archives-section{
	margin-bottom: 40px;
}
.archives-section h2{
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 14px;
}

.archives-list li{
	margin-bottom: 7px;
	display: block;
}

.archives-list a{
	display: block;
	background: #eee;
	color: #666;
	font-weight: bold;
	font-size: 12px;
	padding: 8px 10px 8px 0;
	transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
}

.archives-list a:hover{
	background: #46adfc;
	color: #fff;
	text-decoration: none;
}
.archives-list a span.archives-count{
	font-size: 11px;
	display: block;
	float: left;
	background: #bbb;
	color: #fff;
	text-align: center;
	margin: -8px 15px -8px 0;
	padding: 8px 15px;
	transition: all 0.15s ease;
    -webkit-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
}

.archives-list a span.archives-date{
	margin-left: 7px;
	font-size: 12px;
	font-weight: 400;
}

.archives-list a:hover span.archives-count{
	background: #0090ff;
}



/* Sidebar
================================================== */
#sidebar h6 {
	font-size: 14px;
	margin: 0 0 20px;
	font-weight: bold;
	padding-bottom: 10px;
	border-bottom: 4px solid #000;
}

.sidebar-box {
    margin-bottom: 40px;
}

body #sidebar a{
    color: #505050;
}

body #sidebar a:hover {
    color: #508df8;
	text-decoration: none;
}


/* Widgets
================================================== */

/*Jetpack facebook like*/
#likebox-wrapper * {
   width: 100% !important;
}

/*social box tweaks*/
.socialbox-button{
	font-size: 0.750em !important;
}

/*subscription*/
.jetpack_subscription_widget{
	padding: 20px 20px 0;
	border: 1px solid #ccc;
	box-shadow: 0 0 0 10px #eee;
	margin: 10px 10px 40px;
}

#footer .jetpack_subscription_widget{
	border-color: #333;
	box-shadow: 0 0 0 10px #222;
	margin: 10px;
}

.jetpack_subscription_widget input[type="text"]#subscribe-field{
	padding: 10px !important;
    background: #eee;
	border: none;
	outline: none;
    color: #66;
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
}

#footer .jetpack_subscription_widget input[type="text"]#subscribe-field{
	background: #fff;
}

.jetpack_subscription_widget input[type="submit"]{
	font-size: 11px;
	font-weight: bold;
	display: inline;
	display: inline-block;
	padding: 4px 12px;
	line-height: 20px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	border-radius: 3px;
	color: #9C6533;
	text-shadow: 1px 1px 1px #ffe2a5;
	box-shadow: inset 0 1px 0 0 #ffd783;
	background: #ffc750;
	background: -moz-linear-gradient(top,  #ffc750 0%, #faaa00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc750), color-stop(100%,#faaa00));
	background: -webkit-linear-gradient(top,  #ffc750 0%,#faaa00 100%);
	background: -o-linear-gradient(top,  #ffc750 0%,#faaa00 100%);
	background: -ms-linear-gradient(top,  #ffc750 0%,#faaa00 100%);
	background: linear-gradient(to bottom,  #ffc750 0%,#faaa00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc750', endColorstr='#faaa00',GradientType=0 );
	border: 1px solid #faaa00;
}

.jetpack_subscription_widget input[type="submit"]:hover{
	background: #faaa00;
	background: -moz-linear-gradient(top,  #faaa00 0%, #ffc750 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faaa00), color-stop(100%,#ffc750));
	background: -webkit-linear-gradient(top,  #faaa00 0%,#ffc750 100%);
	background: -o-linear-gradient(top,  #faaa00 0%,#ffc750 100%);
	background: -ms-linear-gradient(top,  #faaa00 0%,#ffc750 100%);
	background: linear-gradient(to bottom,  #faaa00 0%,#ffc750 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faaa00', endColorstr='#ffc750',GradientType=0 );
}

.jetpack_subscription_widget input[type="submit"]:active{
	position: relative;
	top: 1px;
}

/*tagcloud*/
.tagcloud a {
    float: left;
    display: block;
    margin-bottom: 1px;
    margin-right: 1px;
	background: #000;
	padding: 5px 8px;
	font-size: 13px !important;
	line-height: 1.4em !important;
	color: #fff !important;
	text-decoration: none;
	font-weight: 500;
	transition: background 0.15s ease;
    -webkit-transition: background 0.15s ease;
    -o-transition: background 0.15s ease;
    -moz-transition: background 0.15s ease;
}
.tagcloud a:hover {
	background: #0090ff;
	color: #fff;
	text-decoration: none;
}

.tagcloud a:active {
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
}

/*calendar*/
#wp-calendar {
	width: 100%;
    font-size: 0.750em;
}

#wp-calendar thead th{
	background: #ddd;
}

#wp-calendar tfoot td.pad {
     background: #f6f6f6;
}

#wp-calendar tbody td {
    text-align: center;
    border: 1px solid #fff;
	background: #f6f6f6;
	line-height: 3.2em;
	transition: background 0.15s ease;
    -webkit-transition: background 0.15s ease;
    -o-transition: background 0.15s ease;
    -moz-transition: background 0.15s ease;
}

#wp-calendar tbody td:hover {
    background: #0090ff;
    color: #fff;
}

#wp-calendar tbody td a{
	display: block;
	text-decoration: none;
	background: #eee;
}

#wp-calendar tbody td:hover a{
	background: #0090ff;
	color: #fff;
}

#wp-calendar tfoot td {
    padding-top: 1px;
	background: #f6f6f6;
	padding: 5px;
	font-size: 12px;
}

#wp-calendar caption {
	text-align: right;
    cursor: pointer;
	font-size: 13px;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 0;
    outline: 0 none !important;
}

#wp-calendar tbody a {
    display: block;
	font-weight: bold;
	text-decoration: underline;
}

#wp-calendar td.pad {
     background: #f6f6f6;
}

#wp-calendar th {
    text-align: center;
    border: 1px solid #fff;
    border-top: none;
    padding: 5px 0;
     background: #f6f6f6;
}

/*twitter*/
.widget_twitter li{
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}

#main-footer-widgets .widget_twitter li:first-child{
	padding-top: 15px;
    border-top: 1px solid #eee;
}

.widget_twitter li:last-child{
	margin-bottom: 20;
}

#footer .widget_twitter li{
	border-color: #222;
}

#sidebar .widget_twitter li a,
#main-footer-widgets .widget_twitter li a{
	color: #508df8;
}

#sidebar .widget_twitter li a:hover,
#main-footer-widgets .widget_twitter li a:hover{
	color: #508df8;
	text-decoration: underline;
}

.wpex-twitter-follow{
	margin-top: 4px;
	text-align: right;
}

#sidebar .wpex-twitter-follow a{
	color: #06F;
}


/*flickr*/
.wpex-flickr-widget{
	margin-right: -10px;
}

.wpex-flickr-widget .flickr_badge_image{
	display: block;
	width: 22%;
	float: left;
	margin-right: 2%;
	margin-bottom: 7px;
	padding: 3px;
	border: 1px solid #eee;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	-webkit-transition:.4s ease-out;
	-moz-transition:.4s linear;  
	transition:.4s linear;
}

#footer .wpex-flickr-widget .flickr_badge_image{
	border-color: #222;
}

.wpex-flickr-widget .flickr_badge_image img{
	display: block;	
}

.wpex-flickr-widget .flickr_badge_image:hover{
	background: #0090ff;
	border-color: #0090ff;
	-webkit-transition:.01s ease-out; 
	-moz-transition:.01s linear; 
	transition:.01s linear
}


/*recent posts with thumb*/
.wpex-widget-recent-posts {
    line-height: 1.5em;
}

.wpex-widget-recent-posts-thumb{
	float: left;
	width: 30%;
}

.wpex-widget-recent-posts-description{
	float: right;
	width: 62%;
}

.wpex-widget-recent-posts-thumb img {
	padding: 3px;
	border: 1px solid #eee;
	-webkit-transition:.4s ease-out;
	-moz-transition:.4s linear;  
	transition:.4s linear;
}

.wpex-widget-recent-posts img:hover{
	background: #0090ff;
	border-color: #0090ff;
	-webkit-transition:.01s ease-out; 
	-moz-transition:.01s linear; 
	transition:.01s linear
}

#footer .wpex-widget-recent-posts img {
	border-color: #333;
}

.wpex-widget-recent-posts li {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.wpex-widget-recent-posts li .title{
	font-weight: 700;
}

.wpex-widget-recent-posts li .title:hover{
	text-decoration: none;
}

#footer .wpex-widget-recent-posts li {
	border-color: #222;
}

#footer .wpex-widget-recent-posts li:first-child {
	padding-top: 15px;
    border-top: 1px solid #222;
}

.wpex-widget-recent-posts li .date {
    color: #666;
}

.wpex-widget-recent-posts li .date {
    font-size: 11px;
    color: #999;
}

/* Menu widget*/
#sidebar .widget_nav_menu ul ul,
#sidebar .primary-menu ul{
	margin-left: 10px;
}

#sidebar .widget_nav_menu .current-menu-item > a,
#sidebar .primary-menu .current-menu-item > a{
	color: #e42f2f;
}

/*WP widgets*/
.widget_categories li,
.widget_archive li,
.wpex-taxonomies-widget li,
.widget_pages li,
.widget_links li,
.widget_nav_menu li{
	margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
}

#footer .widget_recent_entries li, #footer .widget_categories li, #footer .widget_archive li, #footer widget_meta li, #footer .wpex-taxonomies-widget li, #footer #footer .wpex-recent-post-types-widget li, #footer .widget_pages li, #footer .widget_links li {
    border-color: #222;
}

#main-footer-widgets .widget_recent_entries ul, #main-footer-widgets .widget_categories ul, #main-footer-widgets .widget_archive ul, #main-footer-widgets widget_meta ul, #main-footer-widgets .wpex-taxonomies-widget ul, #main-footer-widgets #main-footer-widgets .wpex-recent-post-types-widget ul, #main-footer-widgets .widget_pages ul, #main-footer-widgets .widget_links ul {
    padding-top: 8px;
    border-top: 1px solid #eee;
}

#footer .widget_recent_entries ul, #footer .widget_categories ul, #footer .widget_archive ul, #footer widget_meta ul, #footer .wpex-taxonomies-widget ul, #footer #footer .wpex-recent-post-types-widget ul, #footer .widget_pages ul, #footer .widget_links ul {
    padding-top: 8px;
    border-top: 1px solid #222;
}


/* Search
================================================== */
input[type="search"] {
    background: url("./images/search.png") no-repeat scroll 92% center #000;
    -moz-box-sizing: border-box;
	border: none;
    color: #fff;
    display: block;
    font: 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 200;
    padding: 20px;
    padding: 10px 14px;
    width: 100%;
    -webkit-appearance: none !important;
    webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
    display: none;
}

input[type="search"]:focus {
    outline: none;
}


/* Forms / Inputs / Buttons
================================================== */
input[type="text"],
input[type="password"],
textarea {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background: #fff;
    border: 1px solid #ddd;
    color: #333;
    display: block;
    font-size: 0.857em;
    margin-left: 0;
    padding: 0 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    -webkit-appearance: none;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

input[type="text"], input[type="password"] {
	padding-top: 7px;
	padding-bottom: 7px;
}

textarea {
    width: 100%;
    padding: 10px;
}

input[type="text"], input[type="password"] {
    width: 200px;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    outline: none;
    border-color: #abadb3;
}

.entry input[type="button"],
.entry input[type="submit"],
#commentsbox input[type="submit"],
.theme-button{
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: relative;
    font-size: 0.929em;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    nowhitespace: afterproperty;
    text-align: center;
    outline: none;
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
	border: 0;
	background: #000;
	-webkit-appearance: none;
	transition: background 0.15s ease;
    -webkit-transition: background 0.15s ease;
    -o-transition: background 0.15s ease;
    -moz-transition: background 0.15s ease;
}

.entry input[type="button"]:hover,
.entry input[type="submit"]:hover,
#commentsbox input[type="submit"]:hover,
.theme-button:hover{
	background: #0090ff;
    color: #fff;
	text-decoration: none;
}

.entry input[type="button"]:active,
.entry input[type="submit"]:active,
#commentsbox input[type="submit"]:active,
.theme-button:active {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6) inset;
}

.wpcf7 p {
    font-size: 0.929em;
}

.wpcf7 input {
    margin-top: 5px;
}



/* Comments
================================================== */
#commentsbox {
    margin-top: 30px;
	font-size: 14px;
}

.comments-title{
	margin-bottom: 60px;
	border-top: 4px solid #000;
}

.comments-title span{
	display: block;
	float: left;
	font-size: 13px;
	color: #fff;
	background: #000;
	border-top: 4px solid #0090ff;
	padding: 2px 8px;
	font-weight: bold;
	margin-top: -4px;
}

.comment-details ul {
    margin: 0;
}

.commentlist {
    margin: 0;
}

.commentlist li {
    list-style: none;
    margin: 0;
}

.children li.depth-2 {
    margin: 0 0 0px 65px;
}

.children li.depth-3 {
    margin: 0 0 0px 65px;
}

.children li.depth-4 {
    margin: 0 0 0px 65px;
}

.children li.depth-5 {
    margin: 0 0 0px 65px;
}

.children li.depth-6 {
    margin: 0 0 0px 65px;
}

.children li.depth-7 {
    margin: 0 0 0px 65px;
}

.children li.depth-8 {
    margin: 0 0 0px 65px;
}

.children li.depth-9 {
    margin: 0 0 0px 65px;
}

.children li.depth-10 {
    margin: 0 0 0px 65px;
}

.comment-body {
    margin-bottom: 25px;
}

.comment-details {
    position: relative;
	margin-left: 80px;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #eee;
}

.comment-avatar {
    position: absolute;
    left: -80px;
    top: 0;
}

.comment-avatar img {
    display: block;
	height: 50px;
	width: 50px;
	padding: 3px;
	border: 1px solid #eee;
}

.comment-author {
    color: #484848;
}

.bypostauthor > .comment-body > .comment-details > .comment-avatar { }

.comment-author,
.comment-author .author a:link {
    font-weight: bold;
}

.comment-content {
    margin-top: 5px;
}

.comment-content p:last-child {
    margin: 0;
}

.comment-date {
    font-size: 0.786em;
    font-weight: normal;
	text-transform: none;
}

.comment-date a {
    color: #888;
}

.comment-content .reply{
	margin-top: 20px;
	text-align: right;
}

.comment-reply-link {
    font-size: 0.786em;
    color: #555;
	font-style: italic;
}

.comment-reply-link:hover {
    color: #000;
}

.commentlist .children {
    margin: 0;
}

#comments_wrap {
    margin-top: 15px;
}

#comments-logged-in {
    margin-bottom: 30px;
    margin-top: 10px;
    font-size: 0.929em;
}

#log-out {
    float: right;
    margin-top: -56px;
}

.form-submit {
    margin-bottom: 0;
    height: 55px;
}

#reply-title {
	margin-bottom: 60px;
	border-top: 4px solid #000;
}

#reply-title span{
	display: block;
	float: left;
	font-size: 13px;
	color: #fff;
	background: #000;
	border-top: 4px solid #0090ff;
	padding: 2px 8px;
	font-weight: bold;
	margin-top: -4px;
}

.logged-in-as{
	margin-top: -10px;
	font-size: 0.929em;
}

#cancel-comment-reply-link {
    display: block;
	float: left;
	color: #fff;
    background: #e42f2f;
	font-weight: normal;
	font-size: 12px;
	padding: 2px 8px;
	margin-top: -4px;
	border-top: 4px solid #cc2525;
}

#cancel-comment-reply-link:hover {
    text-decoration: underline;
}

.children #commentform textarea {
    width: 95.6%;
}

#commentform input {
    float: left;
    margin-right: 10px;
}

#commentform label {
    font-size: 0.929em;
    font-weight: 400;
}

#commentsbox span.required {
    color: #e42f2f;
    font-size: 0.643em;
}

#commentform input {
    margin-top: 0 !important;
}

#commentform input#author, #commentform input#email, #commentform input#url {
    font-size: 0.929em;
    width: 40%;
    margin-top: 10px;
}

#commentform textarea {
    font-size: 0.929em;
    width: 100%;
    margin-top: 10px;
}


/*jetpack support*/
#commentform .comment-subscription-form{ margin-bottom: 0; margin-top: 20px; }
#commentform .comment-subscription-form input{ padding: 0; margin: 0; display: inline; height: auto; line-height: 0; margin-right: 10px; }
#commentform .comment-subscription-form label{ float: none; display: inline; height: auto; line-height: 0; top: -5px; position: relative; width: auto; }

/* BX Carousel
================================================== */
.bx-wrapper {
	position: relative;
	margin: 0;
	padding: 0;
	*zoom: 1;
}

.bx-wrapper img {
	width: 100%;
	display: block;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */
.bx-wrapper .bx-loading {
	min-height: 50px;
	background: url("images/loader.gif") center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */
.bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
	text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.bx-wrapper .bx-caption span {
	color: #fff;
	display: block;
	font-size: .85em;
	padding: 10px;
}

/* Main Container Footer Widgets
================================================== */
#main-footer-widgets{
	margin-top: 30px;
	border-top: 4px solid #000;
	font-size: 14px;
}

.main-footer-box{
	margin-bottom: 0;
}

#main-footer-widgets h6{
	background: #f1f1f1;
	padding: 12px;
	margin: 0 0 20px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

body #main-footer-widgets a{
    color: #505050;
}

body #main-footer-widgets a:hover {
    color: #508df8;
	text-decoration: none;
}

.main-footer-widget{
	margin-top: 30px;
}


/* Footer Carousel
================================================== */
#footer-carousel-wrap{
	margin-bottom: 30px;	
}

#footer-carousel-inner{
	position: relative;
	background: #fff;
	padding: 30px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -23px;
	outline: 0;
	width: 46px;
	height: 46px;
	text-indent: -9999px;
	z-index: 9999;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
}

.bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

#footer-carousel-wrap .bx-wrapper .bx-prev {
	left: -26px;
	background: #fff url(images/back.png) center center no-repeat;
	-webkit-transition:.2s ease-out;
	-moz-transition:.2s linear;  
	transition:.2s linear;
}

#footer-carousel-wrap .bx-wrapper .bx-prev:hover{
	left: -30px;
}

#footer-carousel-wrap .bx-wrapper .bx-next {
	right: -26px;
	background: #fff url(images/next.png) center center no-repeat;
	-webkit-transition:.2s ease-out;
	-moz-transition:.2s linear;  
	transition:.2s linear;
}

#footer-carousel-wrap .bx-wrapper .bx-next:hover{
	right: -30px;
}

#footer-carousel-wrap .bx-wrapper li{
	position: relative;
}

#footer-carousel-wrap .bx-wrapper li h4{
	min-height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 12px;
	line-height: 1.7em;
	background: #000;
	background: rgba(0,0,0,0.8);
	font-weight: normal;
	color:#fff;
	padding: 2px 8px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.footer-carousel-item{
	position: relative;
	display: block;
}


/* Footer banner
================================================== */
#footer-banner{
	margin-bottom: 30px;
}

#footer-banner img{
	max-width: 100%;
	margin: 0 auto;
	display: block;
	border: 10px solid #fff;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


/* Footer
================================================== */
#footer-wrap {
	overflow: hidden;
	background: #000;
	position: relative;
}

#footer {
    position: relative;
    padding: 50px 0 80px;
	color: #787878;
	font-size: 14px;
}

#footer a {
    color: #aaa;
    font-size: 0.9em;
}

#footer a:hover {
    color: #0090ff;
	text-decoration: none;
}

.footer-box {
    float: left;
    width: 215px;
    margin-right: 40px;
}
.footer-box.four{
	margin-right: 0;
}

.footer-box h6{
	font-size: 16px;
	margin: 0 0 20px;
	font-weight: bold;
	color: #fff;
}

.footer-widget {
    margin-bottom: 60px;
}

#toplink{
	display: block;
	position: absolute;
	bottom: 30px;
	left: 50%;
	margin-left: -15px;
	height: 30px;
	width: 30px;
	text-indent: -99999px;
	background: url("images/arrow-up.png") center center no-repeat;
	opacity: 0.7;
}

#toplink:hover{
	opacity: 1;
}


/* WordPress Styles
================================================== */

/*aligns*/
.aligncenter {
    display: block;
    margin: 0 auto;
}

.alignleft {
    float: left;
	margin: 0 20px 20px 0;
}
.alignright {
    float: right;
	margin: 0 0 20px 20px;
}

/*floats*/
.floatleft {
    float: left;
}

.floatright {
    float: right;
}

/*text style*/
.textcenter {
    text-align: center;
}

.textright {
    text-align: right;
}

.textleft {
    text-align: left;
}

/*captions*/
.wp-caption,
.fancyimg{
    max-width: 100% !important;
    text-align: center;
    background-color: #fff;
    padding: 6px;
    margin: 20px 0;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 transparent, 0 0 0 transparent;
}

.wp-caption p.wp-caption-text {
    padding: 0 5px 5px;
    margin: 0;
	line-height: 1.4em;
	font-size: 0.875em;
}

.wp-caption img {
    margin: 0;
    padding: 0;
    border: 0 none;
    max-width: 100$;
}

/*smiley reset*/
.wp-smiley {
    margin: 0 !important;
    max-height: 1em;
}

/*blockquote*/
blockquote.left {
    margin-right: 20px;
    text-align: right;
    margin-left: 0;
    width: 33%;
    float: left;
}

blockquote.right {
    margin-left: 20px;
    text-align: left;
    margin-right: 0;
    width: 33%;
    float: right;
}

/*img attchment*/
#img-wpexch-page {
    text-align: center;
    overflow: hidden;
}

#img-wpexch-page img {
    display: inline-block;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 20px;
}


/* WP Gallery
================================================== */
.symple-gallery .gallery-item{
    display: block;
	border: 1px solid #eee;
	padding: 3px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.symple-gallery .gallery-icon a{
	display: block;
}

.symple-gallery .gallery-icon img{
	display: block;
}

.symple-gallery a:hover{
    opacity: 0.7;
    -moz-opacity: 0.7;
    -webkit-opacity: 0.7;
}

.symple-gallery .gallery-caption{
	padding-top: 2px;
	text-align: center;
	font-size: 0.875em;
}



/* Contact 7 Style
================================================== */

.wpcf7-form span.wpcf7-form-control-wrap {
    display: block;
    margin-top: 5px;
    position: relative;
}

.wpcf7-form input[type="submit"] {
    margin-top: 0;
}

.wpcf7-form .ajax-loader {
    display: none;
}

.wpcf7-form p {
    margin: 0 0 15px;
}

.wpcf7-form p:last-of-type {
    margin: 0;
}

div.wpcf7-validation-errors,
span.wpcf7-not-valid-tip {
	font-size: 13px;
    background: #e42f2f;
    border: medium none !important;
    color: #fff;
    padding: 10px 25px;
    text-align: center;
    margin: 0;
}

div.wpcf7-validation-errors {
    margin: 25px 0 0;
}

span.wpcf7-not-valid-tip {
    float: left;
    position: absolute;
    right: 0;
    top: 0;
}

.wpcf7-mail-sent-ok{
	margin-top: 20px;
}