/*-----------------------------------------------------------

    Theme Name: Bloggit (Responsive CSS)
	Version: 1.0
    Description: Premium WordPress Theme By WPExplorer
    Author: http://www.wpexplorer.com
    Author URI: http://themeforest.net/user/wpexplorer/
    Designed & Developed by http://www.wpexplorer.com
	Theme URI: http://themeforest.net/user/wpexplorer/portfolio
	License: GNU General Public License version 3.0
	License URI: http://www.gnu.org/licenses/gpl-3.0.html
	
/* Desktop
================================================== */
@media only screen and (min-width: 959px) { }


/* All Responsive
================================================== */
@media only screen and (max-width: 959px) {
 
	/*logo*/
    #logo {
        display: block;
		float: none;
		margin: 0 auto;
		text-align: center;
    }
	#logo img {
        display: block;
		margin: 0 auto;
    }
	
	/*header banner*/
	#header-banner{
		display: none;
	}
	
	/*top notification*/
	#breaking-news{
		height: auto;
	}
	#top-search{
		position: inherit;
		top: auto;
		right: auto;
		margin-top: 20px;
		width: 100%;
	}
	
	#top-search input[type="search"]{
		height: 45px;
		line-height: 45px;
		background: #fff url("../images/search-mobile.png") right center no-repeat;
		color: #666;
		border: 2px solid #ddd;
		border-radius:50px;
		-moz-border-radius:50px;
		-webkit-border-radius:50px;
	}
	
	/*top navigation*/
    #top-navigation ul {
        display: none;
    }
	
    #top-navigation {
		height: 50px;
		width: 24px;
		background: url("../images/top-menu-responsive.png") center center no-repeat;
		text-indent: -9999px;
		opacity: 0.7;
    }
	
	#top-navigation:hover{
	 	opacity: 1;
	}

    #top-navigation .selector {
        margin: 0;
        padding: 0;
        border: none;
		display: block;
    }

    #top-navigation .selector select {
        position: absolute;
        top: 0px;
        left: 0;
        height: 50px;
        width: 24px;
        cursor: pointer;
    }

    #top-navigation .selector select:focus {
        outline: 0;
    }

    #top-navigation .selector option {
		color: #ccc;
        background: #000;
        -webkit-appearance: none;
        padding: 15px 25px !important;
        border-bottom: 1px solid #303030;
    }

    #top-navigation .selector span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

	/*main navigation*/
	#main-navigation ul {
        display: none;
    }
	
    #main-navigation {
		height: 55px;
		line-height: 55px;
		width: 100%;
		background: #000 url("../images/responsive-nav.png") right center no-repeat;
		text-indent: 20px;
		font-weight: bold;
		color: #fff;
		position: relative;
    }
	
	#main-navigation:hover{
	 	opacity: 1;
	}

    #main-navigation .selector {
        margin: 0;
        padding: 0;
        border: none;
		display: block;
		width: 100%;
    }

    #main-navigation .selector select {
        position: absolute;
        top: 0px;
        left: 0;
        height: 50px;
        width: 100%;
        cursor: pointer;
    }

    #main-navigation .selector select:focus {
        outline: 0;
    }

    #main-navigation .selector option {
		color: #ccc;
        background: #000;
        -webkit-appearance: none;
        padding: 15px 25px !important;
        border-bottom: 1px solid #303030;
    }

    #main-navigation .selector span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
	
}


/* Tablet (Portrait)
================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
 
	/*grid*/
    .grid-1{
        width: 700px;
    }
	
    #post {
        width: 400px;
    }
	
	#sidebar{
		width: 200px;
	}
	
	/*sliders*/
	.featured-flexslider-caption{
		padding: 10px;
	}
	
	.post-entry-thumbnail{
		width: 120px;
	}
	
	.post-entry-details{
		width: 250px;
	}
	
	.meta li{
		float: none;
		margin-right: 0;
	}
	
	#author-image{
		width: 15%;
	}

	#author-bio{
		width: 80%;
	}
	
	.related-post-thumbnail{
		float: left;
		width: 17%;
	}
	
	.related-post-description{
		float: right;
		width: 75%;
	}
	
	/*deals*/
	.deals-entry{
		width: 200px;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	
	.deals-wrap{
		margin-right: -20px;
		margin-bottom: -20px;
	}
	
	#deals-post .deals-entry-thumbnail{
		width: 30%;
	}
	
	#deals-post .deals-entry-details{
		width: 66%;
	}
	
  
	/*comments*/
    .comment-details {
        margin-left: 0;
    }

    .comment-avatar {
        display: block;
		float: left;
		margin-right: 20px;
        margin-bottom: 20px;
        position: inherit;
        top: auto;
        left: auto;
    }

    .comment-date {
        display: none;
    }

    .comment-break {
        display: none;
    }

    .children {
        margin: 30px 0 0;
    }

    .children li.depth-2, .children li.depth-3, .children li.depth-4, .children li.depth-5, .children li.depth-6, .children li.depth-7, .children li.depth-8, .children li.depth-9, .children li.depth-10 {
        margin: 0;
    }
	
	
	/*footer*/
	.footer-box{
		width: 160px;
		margin-right: 20px;
	}

}


/* Ipad Mini Portrait Edits
================================================== */
@media only screen 
and (min-device-width : 768px)
and (max-device-width : 1024px) 
and (orientation : portrait) {
	.symple-one-half, .symple-one-third, .symple-two-third, .symple-three-fourth, .symple-one-fourth, .symple-one-fifth, .symple-two-fifth,.symple-three-fifth, .symple-four-fifth, .symple-one-sixth, .symple-five-sixth { width: 100%; float: none; margin-right: 0; margin-bottom: 20px; }
	.symple-pricing-table > div{ margin-bottom: 25px; }
	.symple-box, .symple-box.left, .symple-box.right{ float: none; width: 100% !important; }
}



/* Mobile (Portrait)
================================================== */
@media only screen and (max-width: 767px) {
 
	/*hide things*/
	#featured-slider,
    #home-slider,
	.symple-gallery .gallery-caption,
	.home-title.recent-posts-title,
	#featured-flexslider,
	#footer-carousel,
	#footer-banner,
	.archives-list a span.archives-count{
        display: none !important;
    }
	
	/*grid*/
	.grid-1{
        width: 280px;
    }
	
	#sidebar{
		margin-top: 100px;
	}
	
	#main-footer-widgets{
		margin-top: 40px;
		padding-top: 0;
		border-top: 0;
	}
	
	#post,
	#sidebar,
	#single-author,
	.deals-entry,
	.deals-entry img,
	.column-2, .column-3, .column-4, .column-5, .column-6,
	.post-entry-details,
	.post-entry-thumbnail,
	.footer-box{
		width: 100%;
		margin-right: 0;
	}

	.column-2, .column-3, .column-4, .column-5, .column-6 {
		margin-right: 0;
	}

	/*posts*/
	#load-more a:hover{
		background-color: #000 !important;
	}
	
	.post-entry-thumbnail{
		margin-bottom: 20px;
	}
	
	.meta li{
		float: none;
		margin-right: 0;
	}
	
	.author-page-description img{
		float: none;
		margin-bottom: 10px;
	}
	
	#author-image{
		width: 100%;
		margin-bottom: 15px;
		float: none;
	}

	#author-bio{
		width: 100%
	}
	
	.related-post-thumbnail{
		float: left;
		width: 25%;
	}
	
	.related-post-description{
		float: right;
		width: 60%;
	}
	
	.post-pagination .post-prev,
	.post-pagination .post-next {
		float: none;
		text-align: inherit;
	}
	
	
	/*deals*/
	.deals-wrap{
		margin-right: 0;
	}
	
	#deals-post .deals-entry-thumbnail{
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}
	
	#deals-post .deals-entry-details{
		float: none;
		width: 100%;
	}
	
	
	/*comments*/
    .comment-details {
        margin-left: 0;
    }

    .comment-avatar {
        display: block;
		float: left;
		margin-right: 20px;
        margin-bottom: 20px;
        position: inherit;
        top: auto;
        left: auto;
    }

    .comment-date {
        display: none;
    }

    .comment-break {
        display: none;
    }

    .children {
        margin: 30px 0 0;
    }

    .children li.depth-2, .children li.depth-3, .children li.depth-4, .children li.depth-5, .children li.depth-6, .children li.depth-7, .children li.depth-8, .children li.depth-9, .children li.depth-10 {
        margin: 0;
    }
	
	/* Symple Shortcodes */
	.symple-one-half, .symple-one-third, .symple-two-third, .symple-three-fourth, .symple-one-fourth, .symple-one-fifth, .symple-two-fifth,.symple-three-fifth, .symple-four-fifth, .symple-one-sixth, .symple-five-sixth { width: 100%; float: none; margin-right: 0; margin-bottom: 20px; }
	.symple-pricing-table > div{ margin-bottom: 25px; }
	.symple-box, .symple-box.left, .symple-box.right{ float: none; width: 100% !important; }


	/* other */
	.archives-list a{
		padding-left: 10px;
	}
	#footer-widgets{
		margin-left: 30px;
		margin-right: 30px;
	}

}

/* Mobile (Landscape)
================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
 
	.grid-1{
        width: 370px;
    }
	
}