.of-radio-img-img.of-radio-img-selected {
    border: 3px solid #CCCCCC;
}

.of-radio-img-img {
    border: 3px solid #FFFFFF;
    cursor: pointer;
    display: none;
    float: left;
    margin: 0 5px 10px 0;
}