/*-- RESPONSIVE --*/
/* --------------------------------------------
  All
-------------------------------------------- */

@media only screen and (max-width: 1200px) {

#back-top span {
	display: none;
}


}


/* #Tablet & Small Desktop
================================================== */

/* Note: Design for a width of 1024px */

@media only screen and (min-width: 960px) and (max-width: 1024px) {


/*-----------------------------------------------------------------------------------*/
/*	Body
/*-----------------------------------------------------------------------------------*/

.body.boxed {
	width: 960px;
}

.container {
	width: 910px;
}

.wrapper {
	width: 910px;
}

#content {
	width: 575px;
}

/*-----------------------------------------------------------------------------------*/
/*	Top Menu
/*-----------------------------------------------------------------------------------*/

#top-navigation {
	width: 880px;
}

.top-navigation-left { 
	width: 500px;
}

/*-----------------------------------------------------------------------------------*/
/*	Logo - Ads
/*-----------------------------------------------------------------------------------*/

#logo-ads {
	width: 910px;
}

.header-ads {
	margin: 15px 0 0 0;
	width: 500px;
}

/*-----------------------------------------------------------------------------------*/
/*	Primary Menu
/*-----------------------------------------------------------------------------------*/

#primary-navigation {
	width: 910px;
	height: auto;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Style #1
/*-----------------------------------------------------------------------------------*/

.uxde_posts_widget_home_1 ul li .big.hentry {
	margin: 0 0 25px 0;
	width: 575px;
}

.uxde_posts_widget_home_1 ul li .big.hentry .featured-image {
	width: 575px;
	height: 282px;
}

.uxde_posts_widget_home_1 ul li .big.hentry .featured-image img {
	width: 575px;
	height: 282px;
}

.uxde_posts_widget_home_1 ul li .hentry {
    float: left;
    margin: 0 25px 0 0;
    width: 275px;
}

.uxde_posts_widget_home_1 ul li .hentry:last-child {
    float: left;
    margin: 0 0 0 0;
    width: 275px;
}

.uxde_posts_widget_home_1 ul li .hentry .featured-image {
	width: 275px;
	height: 157px;
}

.uxde_posts_widget_home_1 ul li .hentry .featured-image img {
	width: 275px;
	height: 157px;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Style #2
/*-----------------------------------------------------------------------------------*/

.uxde_posts_widget_home_2 ul li .big.hentry {
	width: 575px;
	margin: 0 0 25px 0;
	padding: 0 0 25px 0;
	border-bottom: 1px solid #dfdfdf;
}

.uxde_posts_widget_home_2 ul li .big.hentry .featured-image {
	width: 575px;
	height: 264px;
}

.uxde_posts_widget_home_2 ul li .big.hentry .featured-image img {
	width: 575px;
	height: 264px;
}

.uxde_posts_widget_home_2 ul li .hentry {
	width: 575px;
	padding: 0 0 25px 0;
	border-bottom: 1px solid #dfdfdf;
}

.uxde_posts_widget_home_2 ul li .hentry:last-child {
	padding: 0 0 0 0;
	border-bottom: none;
}

.uxde_posts_widget_home_2 ul li .post-header {
	width: 460px;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Style #3
/*-----------------------------------------------------------------------------------*/

.uxde_posts_widget_home_3 ul li .featured-image {
	width: 180px;
	height: 158px;
}

.uxde_posts_widget_home_3 ul li .post-content {
	width: 370px;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Half Style
/*-----------------------------------------------------------------------------------*/

.widget.uxde_posts_widget_half {
	width: 275px;
	margin: 0 25px 25px 0;
}

.uxde_posts_widget_half ul li .big.hentry { 
	width: 275px;
}

.uxde_posts_widget_half ul li .big.hentry .featured-image {
	width: 275px;
	height: 144px;
}

.uxde_posts_widget_half ul li .hentry {
	width: 275px;
}

.uxde_posts_widget_half ul li .hentry .featured-image {
	width: 75px;
	height: 75px;
}

.uxde_posts_widget_half ul li .post-header {
	width: 190px;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Half Last Style
/*-----------------------------------------------------------------------------------*/

.widget.uxde_posts_widget_half_last {
	width: 275px;
	margin: 0 0 25px 0;
}

.uxde_posts_widget_half_last ul li .big.hentry { 
	width: 275px;
}

.uxde_posts_widget_half_last ul li .big.hentry .featured-image {
	width: 275px;
	height: 144px;
}

.uxde_posts_widget_half_last ul li .hentry {
	width: 275px;
}

.uxde_posts_widget_half_last ul li .hentry .featured-image {
	width: 75px;
	height: 75px;
}

.uxde_posts_widget_half_last ul li .post-header {
	width: 190px;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Gallery Style
/*-----------------------------------------------------------------------------------*/

.widget.uxde_posts_widget_home_gallery {
	width: 575px;
}

.uxde_posts_widget_home_gallery ul li .hentry {
	width: 181px;
}

.uxde_posts_widget_home_gallery ul li .hentry .featured-image {
	width: 181px;
	height: 162px;
}

.uxde_posts_widget_home_gallery ul li .hentry h2.post-title {
	width: 157px;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Blog Style
/*-----------------------------------------------------------------------------------*/

.block {
	width: 100%;
}

.block .hentry .featured-image {
	width: 180px;
	height: 158px;
}

.block .hentry .post-content {
	width: 370px;
}

#content.full-width .block .hentry .post-content {
    float: left;
    width: 705px;
}

/*-----------------------------------------------------------------------------------*/
/*	Paginaion
/*-----------------------------------------------------------------------------------*/

.pagination a, .pagination span {
	padding: 6px 14px;
}

/*-----------------------------------------------------------------------------------*/
/*	Single Post
/*-----------------------------------------------------------------------------------*/

.block.loop-single .hentry .post-content {
	width: 575px;
}

.block.loop-single .hentry .featured-image.video {
	width: 575px;
	height: 324px;
}

.block.loop-single .hentry .featured-image {
	width: 575px;
	height: 253px;
}

.block.loop-single .hentry .post-content .share-buttons {
	padding: 20px 40px 20px 40px;
	width: 493px;
}

.share-buttons ul li { 
	margin-right: 10px;
}

.share-buttons ul li.twitter-button {
    width: 105px;
}

.share-buttons ul li.facebook-button {
    width: 105px;
}

.share-buttons ul li.google-button {
    width: 90px;
}

.share-buttons ul li.linkedin-button {
    width: 95px;
}

.share-buttons ul li.pinterest-button {
    width: 45px;
    margin: 0 0 0 0;
}

.share-buttons ul li.stumbleupon-button {
    display: none;
}

.block.loop-single .hentry .post-content .tags-nav {
	width: 545px;
}

.block.loop-single .hentry .post-content .post-tags {
	width: 545px;
}

.block.loop-single .hentry .post-content .post-nav-link {
	display: none;
}

#content.full-width .block.loop-single {
    width: 910px;
}

#content.full-width .block.loop-single .hentry .post-content {
    width: 910px;
}

#content.full-width .block.loop-single .featured-image {
    height: 400px;
    width: 910px;
}

#content.full-width .block.loop-single .featured-image.video {
    height: 513px;
    width: 910px;
}

#content.full-width .block.loop-single .hentry .post-content .share-buttons {
    width: 827px;
}

#content.full-width .block.loop-single .hentry .post-content .share-buttons ul {
	width: 620px;
}

#content.full-width .block.loop-single .hentry .post-content .share-buttons ul li.pinterest-button {
    width: 75px;
    margin-right: 10px;
}

#content.full-width .block.loop-single .hentry .post-content .share-buttons ul li.stumbleupon-button {
    display: block;
}

#content.full-width .block.loop-single .hentry .post-content .tags-nav { 
	width: 880px;
}

#content.full-width .block.loop-single .hentry .post-content .post-tags { 
	width: 880px;
}

#content.full-width .block.loop-single .hentry .author-info { 
	width: 735px;
}

#content.full-width .block.loop-single .hentry .related-posts ul li {
    width: 286px;
}

#content.full-width .block.loop-single .hentry .related-posts .featured-image {
    width: 286px;
    height: 144px;
}

#content.full-width .block.loop-single .hentry .related-posts .featured-image img {
    width: 286px;
    height: 144px;
}

#content.full-width .block.loop-single .hentry #respond textarea {
    width: 885px;
}

/*-----------------------------------------------------------------------------------*/
/*	Author
/*-----------------------------------------------------------------------------------*/

.author-info {
    float: left;
    width: 400px;
}

/*-----------------------------------------------------------------------------------*/
/*	Related Posts
/*-----------------------------------------------------------------------------------*/

.block.loop-single .hentry .related-posts ul li {
	width: 174px;
}

.block.loop-single .hentry .related-posts .featured-image {
	width: 174px;
	height: 100px;
}

.block.loop-single .hentry .related-posts .featured-image img {
	width: 174px;
	height: 100px;
}

/*-----------------------------------------------------------------------------------*/
/*	Comments
/*-----------------------------------------------------------------------------------*/

#respond textarea {
	width:550px;
}

/*-----------------------------------------------------------------------------------*/
/*	Page Templates
/*-----------------------------------------------------------------------------------*/

.error-search #searchform {
	width: 572px;
}

.error-search #searchform input[type="text"] {
	width: 520px;
}

/*-----------------------------------------------------------------------------------*/
/* Footer
/*-----------------------------------------------------------------------------------*/

#footer .widgets {
	width: 910px;
}

#footer .widgets .widget-1 {
	width: 295px;
}

#footer .widgets .widget-4 {
	margin: 0 0 0 0;
	border-right: none;
}

#footer .widgets .widget-5 { 
	display: none;
}

/*-----------------------------------------------------------------------------------*/
/*	End Responsive
/*-----------------------------------------------------------------------------------*/


}






/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {


/*-----------------------------------------------------------------------------------*/
/*	Body
/*-----------------------------------------------------------------------------------*/

.body.boxed {
	width: 708px;
}

.container {
	width: 658px;
}

.wrapper {
	width: 658px;
}

#content {
	width: 658px;
}

#sidebar {
	display: none;
}



/*-----------------------------------------------------------------------------------*/
/*	Top Menu
/*-----------------------------------------------------------------------------------*/

#top-navigation {
	width: 628px;
}

.top-navigation-left {
	width: 430px;
	margin: 0 0 0 0;
}

#top-menu {
	display: none;
}

.top-form-mobile {
	background: #ffffff;
	height: 38px;
	display: block;
	width: 430px;
	margin: 1px 0 1px 0;
}

.top-form-mobile select {
	line-height: 13px;
	width: 430px;
	padding: 9px 11px 9px 11px;
	border: none;
	-webkit-appearance: none;
}

.chrome .top-form-mobile select, .safari .top-form-mobile select {
	background: url("images/icon-menu.png") no-repeat 98% 8px;
	background-size: 20px 20px;
}

/*-----------------------------------------------------------------------------------*/
/*	Logo - Ads
/*-----------------------------------------------------------------------------------*/

#logo-ads {
	width: 658px;
}

.header-ads {
	display: none;
}

/*-----------------------------------------------------------------------------------*/
/*	Primary Menu
/*-----------------------------------------------------------------------------------*/

#primary-navigation {
	width: 658px;
}

#primary-menu {
	display: none;
}

.primary-form-mobile { 
	background: #ffffff;
	display: block;
	height: 50px;
	margin: 0 0 0 0;
}

.primary-form-mobile select {
	line-height: 13px;
	padding: 16px 11px 16px 11px;
	width: 658px;
	-webkit-appearance: none;
	-webkit-border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
}

.chrome .primary-form-mobile select, .safari .primary-form-mobile select {
	background: url("images/icon-menu.png") no-repeat 99% 15px;
	background-size: 20px 20px;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Style #1
/*-----------------------------------------------------------------------------------*/

.uxde_posts_widget_home_1 ul li .big.hentry {
	margin: 0 0 25px 0;
	width: 658px;
}

.uxde_posts_widget_home_1 ul li .big.hentry .featured-image {
	width: 658px;
	height: 328px;
}

.uxde_posts_widget_home_1 ul li .big.hentry .featured-image img {
	width: 658px;
	height: 328px;
}

.uxde_posts_widget_home_1 ul li .hentry {
    float: left;
    margin: 0 25px 0 0;
    width: 316px;
}

.uxde_posts_widget_home_1 ul li .hentry:last-child {
    float: left;
    margin: 0 0 0 0;
    width: 316px;
}

.uxde_posts_widget_home_1 ul li .hentry .featured-image {
	width: 316px;
	height: 180px;
}

.uxde_posts_widget_home_1 ul li .hentry .featured-image img {
	width: 316px;
	height: 180px;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Style #2
/*-----------------------------------------------------------------------------------*/

.uxde_posts_widget_home_2 ul li .big.hentry {
	width: 658px;
	margin: 0 0 25px 0;
	padding: 0 0 25px 0;
	border-bottom: 1px solid #dfdfdf;
}

.uxde_posts_widget_home_2 ul li .big.hentry .featured-image {
	width: 658px;
	height: 302px;
}

.uxde_posts_widget_home_2 ul li .big.hentry .featured-image img {
	width: 658px;
	height: 302px;
}

.uxde_posts_widget_home_2 ul li .hentry {
	width: 658px;
	padding: 0 0 25px 0;
	border-bottom: 1px solid #dfdfdf;
}

.uxde_posts_widget_home_2 ul li .hentry:last-child {
	padding: 0 0 0 0;
	border-bottom: none;
}

.uxde_posts_widget_home_2 ul li .post-header {
	width: 548px;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Style #3
/*-----------------------------------------------------------------------------------*/

.uxde_posts_widget_home_3 ul li .featured-image {
	width: 180px;
	height: 158px;
}

.uxde_posts_widget_home_3 ul li .post-content {
	width: 453px;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Half Style
/*-----------------------------------------------------------------------------------*/

.widget.uxde_posts_widget_half {
	width: 317px;
	margin: 0 24px 25px 0;
}

.uxde_posts_widget_half ul li .big.hentry { 
	width: 317px;
}

.uxde_posts_widget_half ul li .big.hentry .featured-image {
	width: 317px;
	height: 166px;
}

.uxde_posts_widget_half ul li .hentry {
	width: 317px;
}

.uxde_posts_widget_half ul li .hentry .featured-image {
	width: 75px;
	height: 75px;
}

.uxde_posts_widget_half ul li .post-header {
	width: 232px;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Half Last Style
/*-----------------------------------------------------------------------------------*/

.widget.uxde_posts_widget_half_last {
	width: 317px;
	margin: 0 0 25px 0;
}

.uxde_posts_widget_half_last ul li .big.hentry { 
	width: 317px;
}

.uxde_posts_widget_half_last ul li .big.hentry .featured-image {
	width: 317px;
	height: 166px;
}

.uxde_posts_widget_half_last ul li .hentry {
	width: 317px;
}

.uxde_posts_widget_half_last ul li .hentry .featured-image {
	width: 75px;
	height: 75px;
}

.uxde_posts_widget_half_last ul li .post-header {
	width: 232px;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Gallery Style
/*-----------------------------------------------------------------------------------*/

.widget.uxde_posts_widget_home_gallery {
	width: 658px;
}

.uxde_posts_widget_home_gallery ul li .hentry {
	width: 209px;
}

.uxde_posts_widget_home_gallery ul li .hentry .featured-image {
	width: 209px;
	height: 186px;
}

.uxde_posts_widget_home_gallery ul li .hentry h2.post-title {
	width: 187px;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Blog Style
/*-----------------------------------------------------------------------------------*/

.block {
	width: 100%;
}

.block .hentry .featured-image {
	width: 180px;
	height: 158px;
}

.block .hentry .post-content {
	width: 453px;
}

#content.full-width .block .hentry .post-content {
    float: left;
    width: 658px;
}

/*-----------------------------------------------------------------------------------*/
/*	Single Post
/*-----------------------------------------------------------------------------------*/

.block.loop-single .hentry .post-content {
	width: 658px;
}

.block.loop-single .hentry .featured-image.video {
	width: 658px;
	height: 371px;
}

.block.loop-single .hentry .featured-image {
	width: 658px;
	height: 290px;
}

.block.loop-single .hentry .post-content .share-buttons {
	padding: 20px 45px 20px 45px;
	width: 566px;
}

.share-buttons ul li.pinterest-button {
    width: 45px;
    margin: 0 0 0 0;
}

.share-buttons ul li.stumbleupon-button {
    display: none;
}

.block.loop-single .hentry .post-content .tags-nav {
	width: 628px;
}

.block.loop-single .hentry .post-content .post-tags {
	width: 628px;
}

.block.loop-single .hentry .post-content .post-nav-link {
	display: none;
}

/*-----------------------------------------------------------------------------------*/
/*	Author
/*-----------------------------------------------------------------------------------*/

.author-info {
    float: left;
    width: 483px;
}

/*-----------------------------------------------------------------------------------*/
/*	Related Posts
/*-----------------------------------------------------------------------------------*/

.block.loop-single .hentry .related-posts ul li {
	width: 202px;
}

.block.loop-single .hentry .related-posts .featured-image {
	width: 202px;
	height: 116px;
}

.block.loop-single .hentry .related-posts .featured-image img {
	width: 202px;
	height: 116px;
}

/*-----------------------------------------------------------------------------------*/
/*	Content Full Width
/*-----------------------------------------------------------------------------------*/

#content.full-width .block .hentry .post-content {
    float: left;
    width: 453px;
}

#content.full-width .block.loop-single .featured-image {
    height: 290px;
    width: 658px;
}

#content.full-width .block.loop-single .featured-image.video {
    height: 371px;
    width: 658px;
}

#content.full-width .block.loop-single .hentry .post-content .share-buttons {
	padding: 20px 45px 20px 45px;
    width: 566px;
}

#content.full-width .block.loop-single .hentry .post-content .share-buttons ul li.pinterest-button {
    width: 45px;
    margin: 0 0 0 0;
}

#content.full-width .block.loop-single .hentry .post-content .share-buttons ul li.stumbleupon-button {
    display: none;
}

#content.full-width .block.loop-single .hentry .post-content .tags-nav { 
	width: 628px;
}

#content.full-width .block.loop-single .hentry .post-content .post-tags {
	width: 628px;
}

#content.full-width .block.loop-single .hentry .author-info { 
	width: 483px;
}

#content.full-width .block.loop-single .hentry .related-posts ul li {
	width: 202px;
}

#content.full-width .block.loop-single .hentry .related-posts .featured-image {
	width: 202px;
	height: 116px;
}

#content.full-width .block.loop-single .hentry .related-posts .featured-image img {
	width: 202px;
	height: 116px;
}

#content.full-width .block.loop-single .hentry #respond textarea {
    width: 634px;
}

/*-----------------------------------------------------------------------------------*/
/*	Comments
/*-----------------------------------------------------------------------------------*/

#respond textarea {
	width: 634px;
}

/*-----------------------------------------------------------------------------------*/
/*	Page Templates
/*-----------------------------------------------------------------------------------*/

.error-search #searchform {
	width: 656px;
}

.error-search #searchform input[type="text"] {
	width: 600px;
}

/*-----------------------------------------------------------------------------------*/
/* Footer
/*-----------------------------------------------------------------------------------*/

#footer .widgets {
	width: 708px;
}

#footer .widgets .widget-1 {
	width: 263px;
}

#footer .widgets .widget-3 {
	margin: 0 0 0 0;
	border-right: none;
}

#footer .widgets .widget-4 {
	display: none;
}

#footer .widgets .widget-5 { 
	display: none;
}

/*-----------------------------------------------------------------------------------*/
/*	End Responsive
/*-----------------------------------------------------------------------------------*/


}






/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 479px) {


/*-----------------------------------------------------------------------------------*/
/*	Body
/*-----------------------------------------------------------------------------------*/

.body.boxed {
	width: 310px;
}

.container {
	width: 280px;
	padding: 0 15px;
}

.wrapper {
	width: 280px;
}

#content {
	width: 280px;
}

#sidebar {
	display: none;
}

/*-----------------------------------------------------------------------------------*/
/*	Menu Bar
/*-----------------------------------------------------------------------------------*/

#top-navigation {
	width: 250px;
	height: auto;
}

.top-navigation-left {
	width: 250px;
	margin: 0 0 0 0;
}

.top-navigation-right {
	float: left;
	width: 250px;
}

.top-navigation-right ul {
	margin: 5px 40px 10px 0;
}

#top-menu {
	display: none;
}

.top-form-mobile {
	background: #ffffff;
	height: 38px;
	display: block;
	width: 250px;
	margin: 1px 0 1px 0;
}

.top-form-mobile select {
	line-height: 13px;
	width: 250px;
	padding: 9px 11px 9px 11px;
	border: none;
	-webkit-appearance: none;
}

.chrome .top-form-mobile select, .safari .top-form-mobile select {
	background: url("images/icon-menu.png") no-repeat 98% 8px;
	background-size: 20px 20px;
}

/*-----------------------------------------------------------------------------------*/
/*	Header Ads
/*-----------------------------------------------------------------------------------*/

#logo-ads { 
	width: 280px;
}

.logo { 
	margin: 0 0 0 0;
}

.header-ads {
	display: none;
}

/*-----------------------------------------------------------------------------------*/
/*	Primary Menu
/*-----------------------------------------------------------------------------------*/

#primary-navigation {
	width: 280px;
}

#primary-menu {
	display: none;
}

.primary-form-mobile { 
	background: #ffffff;
	display: block;
	height: 50px;
	margin: 0 0 0 0;
}

.primary-form-mobile select {
	line-height: 13px;
	padding: 16px 11px 16px 11px;
	width: 280px;
	-webkit-border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
	-webkit-appearance: none;
}

.chrome .primary-form-mobile select, .safari .primary-form-mobile select {
	background: url("images/icon-menu.png") no-repeat 98% 15px;
	background-size: 20px 20px;
}


/*-----------------------------------------------------------------------------------*/
/*	Posts Style #1
/*-----------------------------------------------------------------------------------*/

.uxde_posts_widget_home_1 ul li .big.hentry {
	margin: 0 0 25px 0;
	width: 280px;
}

.uxde_posts_widget_home_1 ul li .big.hentry .featured-image {
	width: 280px;
	height: 139px;
}

.uxde_posts_widget_home_1 ul li .big.hentry .featured-image img {
	width: 280px;
	height: 139px;
}

.uxde_posts_widget_home_1 ul li .hentry {
    float: left;
    margin: 0 0 25px 0;
    width: 280px;
}

.uxde_posts_widget_home_1 ul li .hentry:last-child {
    float: left;
    margin: 0 0 0 0;
    width: 280px;
}

.uxde_posts_widget_home_1 ul li .hentry .featured-image {
	width: 280px;
	height: 160px;
}

.uxde_posts_widget_home_1 ul li .hentry .featured-image img {
	width: 280px;
	height: 160px;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Style #2
/*-----------------------------------------------------------------------------------*/

.uxde_posts_widget_home_2 ul li .big.hentry {
	width: 280px;
	margin: 0 0 25px 0;
	padding: 0 0 25px 0;
	border-bottom: 1px solid #dfdfdf;
}

.uxde_posts_widget_home_2 ul li .big.hentry .featured-image {
	width: 280px;
	height: 129px;
}

.uxde_posts_widget_home_2 ul li .big.hentry .featured-image img {
	width: 280px;
	height: 129px;
}

.uxde_posts_widget_home_2 ul li .hentry {
	width: 280px;
	padding: 0 0 25px 0;
	border-bottom: 1px solid #dfdfdf;
}

.uxde_posts_widget_home_2 ul li .hentry:last-child {
	padding: 0 0 0 0;
	border-bottom: none;
}

.uxde_posts_widget_home_2 ul li .post-header {
	width: 170px;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Style #3
/*-----------------------------------------------------------------------------------*/

.uxde_posts_widget_home_3 ul li .featured-image {
	width: 280px;
	height: 246px;
	margin: 0 0 20px 0;
}

.uxde_posts_widget_home_3 ul li .featured-image img {
	width: 280px;
	height: 246px;
}

.uxde_posts_widget_home_3 ul li .post-content {
	width: 280px;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Half Style
/*-----------------------------------------------------------------------------------*/

.widget.uxde_posts_widget_half {
	width: 280px;
	margin: 0 0 25px 0;
}

.uxde_posts_widget_half ul li .big.hentry { 
	width: 280px;
}

.uxde_posts_widget_half ul li .big.hentry .featured-image {
	width: 280px;
	height: 146px;
}

.uxde_posts_widget_half ul li .big.hentry .featured-image img {
	width: 280px;
	height: 146px;
}

.uxde_posts_widget_half ul li .hentry {
	width: 280px;
}

.uxde_posts_widget_half ul li .hentry .featured-image {
	width: 75px;
	height: 75px;
	margin: 0 10px 0 0;
}

.uxde_posts_widget_half ul li .post-header {
	width: 195px;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Half Last Style
/*-----------------------------------------------------------------------------------*/

.widget.uxde_posts_widget_half_last {
	width: 280px;
	margin: 0 0 25px 0;
}

.uxde_posts_widget_half_last ul li .big.hentry { 
	width: 280px;
}

.uxde_posts_widget_half_last ul li .big.hentry .featured-image {
	width: 280px;
	height: 146px;
}

.uxde_posts_widget_half_last ul li .big.hentry .featured-image img {
	width: 280px;
	height: 146px;
}

.uxde_posts_widget_half_last ul li .hentry {
	width: 280px;
}

.uxde_posts_widget_half_last ul li .hentry .featured-image {
	width: 75px;
	height: 75px;
}

.uxde_posts_widget_half_last ul li .post-header {
	width: 195px;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Gallery Style
/*-----------------------------------------------------------------------------------*/

.widget.uxde_posts_widget_home_gallery {
	width: 280px;
}

.uxde_posts_widget_home_gallery ul li .hentry {
	width: 280px;
	margin: 0 0 15px 0;
}

.uxde_posts_widget_home_gallery ul li .hentry:last-child {
    margin: 0 0 0;
}

.uxde_posts_widget_home_gallery ul li .hentry .featured-image {
	width: 280px;
	height: 247px;
}

.uxde_posts_widget_home_gallery ul li .hentry .featured-image img {
	width: 280px;
	height: 247px;
}

.uxde_posts_widget_home_gallery ul li .hentry h2.post-title {
	width: 256px;
}

/*-----------------------------------------------------------------------------------*/
/*	Load More
/*-----------------------------------------------------------------------------------*/

#load-more {
	font-size: 18px;
	line-height: 24px;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Blog Style
/*-----------------------------------------------------------------------------------*/

.block {
	width: 100%;
}

.block .hentry .featured-image {
	width: 280px;
	height: 246px;
	margin: 0 0 20px 0;
}

.block .hentry .featured-image img {
	width: 280px;
	height: 246px;
}

.block .hentry .post-content {
	width: 280px;
}

#content.full-width .block .hentry .post-content {
    float: left;
    width: 280px;
}

/*-----------------------------------------------------------------------------------*/
/*	Pagination
/*-----------------------------------------------------------------------------------*/

.pagination a, .pagination span {
	background: none;
	color: #555555;
    border-radius: 0 0 0 0;
    display: inline-block;
    float: left;
    font-family: 'Raleway',sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    margin: 0 10px 0 0;
    overflow: hidden;
    padding: 0 0 0 0;
    text-align: center;
}

.pagination .current {
	background: none;
	color: #222222;
}

.pagination a:hover {
	background: none;
	color: #222222;
}

/*-----------------------------------------------------------------------------------*/
/*	Single Post
/*-----------------------------------------------------------------------------------*/

.block.loop-single .hentry .post-content {
	width: 280px;
}

.block.loop-single .hentry .featured-image.video {
	width: 280px;
	height: 158px;
}

.block.loop-single .hentry .featured-image {
	width: 280px;
	height: 123px;
}

.block.loop-single .hentry .featured-image img {
	width: 280px;
	height: 123px;
}

.block.loop-single .hentry .post-content .share-buttons {
	padding: 20px 20px 20px 20px;
	width: 237px;
}

.share-buttons ul li {
	margin: 0 0 0 0;
}

.share-buttons ul li.twitter-button {
	width: 86px;
}

.share-buttons ul li.facebook-button {
	width: 86px;
}

.share-buttons ul li.google-button {
	width: 63px;
    margin: 0 0 0 0;
}

.share-buttons ul li.linkedin-button {
    display: none;
}

.share-buttons ul li.pinterest-button {
    display: none;
}

.share-buttons ul li.stumbleupon-button {
    display: none;
}

.block.loop-single .hentry .post-content .tags-nav {
	width: 250px;
}

.block.loop-single .hentry .post-content .post-tags {
	width: 250px;
}

.block.loop-single .hentry .post-content .post-nav-link {
	display: none;
}

/*-----------------------------------------------------------------------------------*/
/*	Author
/*-----------------------------------------------------------------------------------*/

.author-wrap {
	padding: 15px 15px 15px 15px;
}

.author-gravatar {
	display: none;
	margin: 0 20px 0 0;
}

.author-info {
    float: left;
    width: 248px;
}

/*-----------------------------------------------------------------------------------*/
/*	Related Posts
/*-----------------------------------------------------------------------------------*/

.block.loop-single .hentry .related-posts ul li {
	width: 280px;
	margin: 0 0 20px 0;
}

.block.loop-single .hentry .related-posts ul li:last-child {
	margin: 0 0 0 0;
}

.block.loop-single .hentry .related-posts .featured-image {
	width: 280px;
	height: 161px;
	margin: 0 0 10px 0;
}

.block.loop-single .hentry .related-posts .featured-image img {
	width: 280px;
	height: 161px;
}

/*-----------------------------------------------------------------------------------*/
/*	Content Full Width
/*-----------------------------------------------------------------------------------*/

#content.full-width .block .hentry .post-content {
    float: left;
    width: 280px;
}

#content.full-width .block.loop-single .hentry .post-content {
    float: left;
    width: 280px;
}

#content.full-width .block.loop-single .featured-image {
    height: 123px;
    width: 280px;
}

#content.full-width .block.loop-single .featured-image.video {
    height: 158px;
    width: 280px;
}

#content.full-width .block.loop-single .hentry .post-content .share-buttons {
	padding: 20px 20px 20px 20px;
	width: 237px;
}

#content.full-width .block.loop-single .hentry .post-content .share-buttons ul li {
	margin: 0 0 0 0;
}

#content.full-width .block.loop-single .hentry .post-content .share-buttons ul li.twitter-button {
	width: 86px;
}

#content.full-width .block.loop-single .hentry .post-content .share-buttons ul li.facebook-button {
	width: 86px;
}

#content.full-width .block.loop-single .hentry .post-content .share-buttons ul li.google-button {
	width: 63px;
    margin: 0 0 0 0;
}

#content.full-width .block.loop-single .hentry .post-content .share-buttons ul li.linkedin-button {
    display: none;
}

#content.full-width .block.loop-single .hentry .post-content .share-buttons ul li.pinterest-button {
    display: none;
}

#content.full-width .block.loop-single .hentry .post-content .share-buttons ul li.stumbleupon-button {
    display: none;
}

#content.full-width .block.loop-single .hentry .post-content .tags-nav { 
	width: 250px;
}

#content.full-width .block.loop-single .hentry .post-content .post-tags {
	width: 250px;
}

#content.full-width .block.loop-single .hentry .author-wrap {
	padding: 15px 15px 15px 15px;
}

#content.full-width .block.loop-single .hentry .author-info {
    float: left;
    width: 248px;
}

#content.full-width .block.loop-single .hentry .related-posts ul li {
	width: 280px;
	margin: 0 0 20px 0;
}

#content.full-width .block.loop-single .hentry .related-posts ul li:last-child {
	margin: 0 0 0 0;
}

#content.full-width .block.loop-single .hentry .related-posts .featured-image {
	width: 280px;
	height: 161px;
}

#content.full-width .block.loop-single .hentry .related-posts .featured-image img {
	width: 280px;
	height: 161px;
}

#content.full-width .block.loop-single .hentry #respond textarea {
    width: 254px;
}

/*-----------------------------------------------------------------------------------*/
/*	Comments
/*-----------------------------------------------------------------------------------*/

#respond textarea {
	width: 254px;
}

.comment-body time {
	display: none;
}

#respond #submit {
	width: 280px;
}

textarea {
	width: 90%;
}

/*-----------------------------------------------------------------------------------*/
/*	Page Templates
/*-----------------------------------------------------------------------------------*/

.block.loop-single .archive-lists ul {
	margin: 0 0 20px 0;
}

.block.loop-single .archive-lists .recent-post-list {
	width: 100%;
	margin: 0 0 0 0;
}

.block.loop-single .archive-lists .popular-post-list {
	width: 100%;
	margin: 0 0 0 0;
}

.block.loop-single .archive-lists .archives {
	width: 100%;
	margin: 0 0 0 0;
}

.block.loop-single .archive-lists .categories {
	width: 100%;
	margin: 0 0 0 0;
}

.error-search #searchform {
	width: 276px;
}

.error-search #searchform input[type="text"] {
	width: 224px; 
}

/*-----------------------------------------------------------------------------------*/
/*	Search Hide
/*-----------------------------------------------------------------------------------*/

.search-hide-form #searchform {
	width: 280px;
	margin-left: -140px;
}

.search-hide-form h3 {
	font-size: 14px;
	line-height: 20px;
	margin: -22px auto 1px auto;
}

.search-hide-form #searchform input[type="text"] {
	width: 210px;
}

/*-----------------------------------------------------------------------------------*/
/* Footer
/*-----------------------------------------------------------------------------------*/

#footer .widgets {
	width: 310px;
}

#footer .widgets {
	padding-right: 15px;
	padding-left: 15px;
	width: 280px;
}

#footer .widgets .widget-1 {
	width: 280px;
	border-right: none;
}

#footer .widgets .widget-2 {
	display: none;
}

#footer .widgets .widget-3 {
	display: none;
}

#footer .widgets .widget-4 {
	display: none;
}

#footer .widgets .widget-5 { 
	display: none;
}

/*-----------------------------------------------------------------------------------*/
/*	End Responsive
/*-----------------------------------------------------------------------------------*/


}






/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {


/*-----------------------------------------------------------------------------------*/
/*	Body
/*-----------------------------------------------------------------------------------*/

.body.boxed {
	width: 430px;
}

.container {
	width: 400px;
	padding: 0 15px;
}

.wrapper {
	width: 400px;
}

#content {
	width: 400px;
}

#sidebar {
	display: none;
}

/*-----------------------------------------------------------------------------------*/
/*	Menu Bar
/*-----------------------------------------------------------------------------------*/

#top-navigation {
	width: 370px;
}

.top-navigation-left {
	width: 170px;
	margin: 0 0 0 0;
}

#top-menu {
	display: none;
}

.top-form-mobile {
	background: #ffffff;
	height: 38px;
	display: block;
	width: 170px;
	margin: 1px 0 1px 0;
}

.top-form-mobile select {
	line-height: 13px;
	width: 170px;
	padding: 9px 11px 9px 11px;
	border: none;
	-webkit-appearance: none;
}

.chrome .top-form-mobile select, .safari .top-form-mobile select {
	background: url("images/icon-menu.png") no-repeat 97% 8px;
	background-size: 20px 20px;
}

/*-----------------------------------------------------------------------------------*/
/*	Header Ads
/*-----------------------------------------------------------------------------------*/

#logo-ads { 
	width: 400px;
}

.logo { 
	margin: 0 0 0 0;
}

.header-ads {
	display: none;
}

/*-----------------------------------------------------------------------------------*/
/*	Primary Menu
/*-----------------------------------------------------------------------------------*/

#primary-navigation {
	width: 400px;
}

#primary-menu {
	display: none;
}

.primary-form-mobile { 
	background: #ffffff;
	display: block;
	height: 50px;
	margin: 0 0 0 0;
}

.primary-form-mobile select {
	line-height: 13px;
	padding: 16px 11px 16px 11px;
	width: 400px;
	-webkit-border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
	border-radius: 0 0 0 0;
	-webkit-appearance: none;
}

.chrome .primary-form-mobile select, .safari .primary-form-mobile select {
	background: url("images/icon-menu.png") no-repeat 98% 15px;
	background-size: 20px 20px;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Style #1
/*-----------------------------------------------------------------------------------*/

.uxde_posts_widget_home_1 ul li .big.hentry {
	margin: 0 0 25px 0;
	width: 400px;
}

.uxde_posts_widget_home_1 ul li .big.hentry .featured-image {
	width: 400px;
	height: 199px;
}

.uxde_posts_widget_home_1 ul li .big.hentry .featured-image img {
	width: 400px;
	height: 199px;
}

.uxde_posts_widget_home_1 ul li .hentry {
    float: left;
    margin: 0 14px 0 0;
    width: 193px;
}

.uxde_posts_widget_home_1 ul li .hentry:last-child {
    float: left;
    margin: 0 0 0 0;
    width: 193px;
}

.uxde_posts_widget_home_1 ul li .hentry .featured-image {
	width: 193px;
	height: 110px;
}

.uxde_posts_widget_home_1 ul li .hentry .featured-image img {
	width: 193px;
	height: 110px;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Style #2
/*-----------------------------------------------------------------------------------*/

.uxde_posts_widget_home_2 ul li .big.hentry {
	width: 400px;
	margin: 0 0 25px 0;
	padding: 0 0 25px 0;
	border-bottom: 1px solid #dfdfdf;
}

.uxde_posts_widget_home_2 ul li .big.hentry .featured-image {
	width: 400px;
	height: 184px;
}

.uxde_posts_widget_home_2 ul li .big.hentry .featured-image img {
	width: 400px;
	height: 184px;
}

.uxde_posts_widget_home_2 ul li .hentry {
	width: 400px;
	padding: 0 0 25px 0;
	border-bottom: 1px solid #dfdfdf;
}

.uxde_posts_widget_home_2 ul li .hentry:last-child {
	padding: 0 0 0 0;
	border-bottom: none;
}

.uxde_posts_widget_home_2 ul li .post-header {
	width: 290px;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Style #3
/*-----------------------------------------------------------------------------------*/

.uxde_posts_widget_home_3 ul li .featured-image {
	width: 150px;
	height: 132px;
	margin: 0 10px 0 0;
}

.uxde_posts_widget_home_3 ul li .post-content {
	width: 240px;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Half Style
/*-----------------------------------------------------------------------------------*/

.widget.uxde_posts_widget_half {
	width: 400px;
	margin: 0 0 30px 0;
}

.uxde_posts_widget_half ul li .big.hentry { 
	width: 400px;
}

.uxde_posts_widget_half ul li .big.hentry .featured-image {
	width: 400px;
	height: 209px;
}

.uxde_posts_widget_half ul li .big.hentry .featured-image img {
	width: 400px;
	height: 209px;
}

.uxde_posts_widget_half ul li .hentry {
	width: 400px;
}

.uxde_posts_widget_half ul li .hentry .featured-image {
	width: 75px;
	height: 75px;
	margin: 0 10px 0 0;
}

.uxde_posts_widget_half ul li .post-header {
	width: 315px;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Half Last Style
/*-----------------------------------------------------------------------------------*/

.widget.uxde_posts_widget_half_last {
	width: 400px;
	margin: 0 0 30px 0;
}

.uxde_posts_widget_half_last ul li .big.hentry { 
	width: 400px;
}

.uxde_posts_widget_half_last ul li .big.hentry .featured-image {
	width: 400px;
	height: 209px;
}

.uxde_posts_widget_half_last ul li .big.hentry .featured-image img {
	width: 400px;
	height: 209px;
}

.uxde_posts_widget_half_last ul li .hentry {
	width: 400px;
}

.uxde_posts_widget_half_last ul li .hentry .featured-image {
	width: 75px;
	height: 75px;
}

.uxde_posts_widget_half_last ul li .post-header {
	width: 315px;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Gallery Style
/*-----------------------------------------------------------------------------------*/

.widget.uxde_posts_widget_home_gallery {
	width: 400px;
}

.uxde_posts_widget_home_gallery ul li .hentry {
	width: 126px;
	margin: 0 10px 0 0;
}

.uxde_posts_widget_home_gallery ul li .hentry:last-child {
    margin: 0 0 0;
}

.uxde_posts_widget_home_gallery ul li .hentry .featured-image {
	width: 126px;
	height: 111px;
}

.uxde_posts_widget_home_gallery ul li .hentry h2.post-title {
	display: none;
}

/*-----------------------------------------------------------------------------------*/
/*	Posts Blog Style
/*-----------------------------------------------------------------------------------*/

.block {
	width: 100%;
}

.block .hentry .featured-image {
	width: 150px;
	height: 132px;
	margin: 0 10px 0 0;
}

.block .hentry .post-content {
	width: 240px;
}

#content.full-width .block .hentry .post-content {
    float: left;
    width: 240px;
}

/*-----------------------------------------------------------------------------------*/
/*	Pagination
/*-----------------------------------------------------------------------------------*/

.pagination a, .pagination span {
	background: none;
	color: #555555;
    border-radius: 0 0 0 0;
    display: inline-block;
    float: left;
    font-family: 'Raleway',sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    margin: 0 15px 0 0;
    overflow: hidden;
    padding: 0 0 0 0;
    text-align: center;
}

.pagination .current {
	background: none;
	color: #222222;
}

.pagination a:hover {
	background: none;
	color: #222222;
}

/*-----------------------------------------------------------------------------------*/
/*	Single Post
/*-----------------------------------------------------------------------------------*/

.block.loop-single .hentry .post-content {
	width: 400px;
}

.block.loop-single .hentry .featured-image.video {
	width: 400px;
	height: 226px;
}

.block.loop-single .hentry .featured-image {
	width: 400px;
	height: 176px;
}

.block.loop-single .hentry .post-content .share-buttons {
	padding: 20px 55px 20px 55px;
	width: 288px;
}

.share-buttons ul li {
	margin: 0 10px 0 0;
}

.share-buttons ul li.twitter-button {
	width: 95px;
}

.share-buttons ul li.facebook-button {
	width: 95px;
}

.share-buttons ul li.google-button {
	width: 68px;
    margin: 0 0 0 0;
}

.share-buttons ul li.linkedin-button {
    display: none;
}

.share-buttons ul li.pinterest-button {
    display: none;
}

.share-buttons ul li.stumbleupon-button {
    display: none;
}

.block.loop-single .hentry .post-content .tags-nav {
	width: 370px;
}

.block.loop-single .hentry .post-content .post-tags {
	width: 370px;
}

.block.loop-single .hentry .post-content .post-nav-link {
	display: none;
}

/*-----------------------------------------------------------------------------------*/
/*	Author
/*-----------------------------------------------------------------------------------*/

.author-wrap {
	padding: 10px 10px 10px 10px;
}

.author-gravatar {
	margin: 0 20px 0 0;
}

.author-info {
    float: left;
    width: 248px;
}

/*-----------------------------------------------------------------------------------*/
/*	Related Posts
/*-----------------------------------------------------------------------------------*/

.block.loop-single .hentry .related-posts ul li {
	width: 400px;
	margin: 0 0 30px 0;
}

.block.loop-single .hentry .related-posts ul li:last-child {
	margin: 0 0 0 0;
}

.block.loop-single .hentry .related-posts .featured-image {
	width: 400px;
	height: 230px;
}

.block.loop-single .hentry .related-posts .featured-image img {
	width: 400px;
	height: 230px;
}

/*-----------------------------------------------------------------------------------*/
/*	Content Full Width
/*-----------------------------------------------------------------------------------*/

#content.full-width .block .hentry .post-content {
    float: left;
    width: 240px;
}

#content.full-width .block.loop-single .hentry .post-content {
    float: left;
    width: 400px;
}

#content.full-width .block.loop-single .featured-image {
    height: 176px;
    width: 400px;
}

#content.full-width .block.loop-single .featured-image.video {
    height: 226px;
    width: 400px;
}

#content.full-width .block.loop-single .hentry .post-content .share-buttons {
	padding: 20px 55px 20px 55px;
	width: 288px;
}

#content.full-width .block.loop-single .hentry .post-content .share-buttons ul li {
	margin: 0 10px 0 0;
}

#content.full-width .block.loop-single .hentry .post-content .share-buttons ul li.twitter-button {
	width: 95px;
}

#content.full-width .block.loop-single .hentry .post-content .share-buttons ul li.facebook-button {
	width: 95px;
}

#content.full-width .block.loop-single .hentry .post-content .share-buttons ul li.google-button {
	width: 68px;
    margin: 0 0 0 0;
}

#content.full-width .block.loop-single .hentry .post-content .share-buttons ul li.linkedin-button {
    display: none;
}

#content.full-width .block.loop-single .hentry .post-content .share-buttons ul li.pinterest-button {
    display: none;
}

#content.full-width .block.loop-single .hentry .post-content .share-buttons ul li.stumbleupon-button {
    display: none;
}

#content.full-width .block.loop-single .hentry .post-content .tags-nav { 
	width: 370px;
}

#content.full-width .block.loop-single .hentry .post-content .post-tags {
	width: 370px;
}

#content.full-width .block.loop-single .hentry .author-wrap {
	padding: 10px 10px 10px 10px;
}

#content.full-width .block.loop-single .hentry .author-gravatar {
	margin: 0 20px 0 0;
}

#content.full-width .block.loop-single .hentry .author-info {
    float: left;
    width: 248px;
}

#content.full-width .block.loop-single .hentry .related-posts ul li {
	width: 400px;
	margin: 0 0 30px 0;
}

#content.full-width .block.loop-single .hentry .related-posts ul li:last-child {
	margin: 0 0 0 0;
}

#content.full-width .block.loop-single .hentry .related-posts .featured-image {
	width: 400px;
	height: 230px;
}

#content.full-width .block.loop-single .hentry .related-posts .featured-image img {
	width: 400px;
	height: 230px;
}

#content.full-width .block.loop-single .hentry #respond textarea {
    width: 374px;
}

/*-----------------------------------------------------------------------------------*/
/*	Comments
/*-----------------------------------------------------------------------------------*/

#respond textarea {
	width: 374px;
}

.comment-body time {
	display: none;
}

textarea {
	width: 93%;
}

/*-----------------------------------------------------------------------------------*/
/*	Page Templates
/*-----------------------------------------------------------------------------------*/

.block.loop-single .archive-lists ul {
	margin: 0 0 20px 0;
}

.block.loop-single .archive-lists .recent-post-list {
	width: 100%;
	margin: 0 0 0 0;
}

.block.loop-single .archive-lists .popular-post-list {
	width: 100%;
	margin: 0 0 0 0;
}

.block.loop-single .archive-lists .archives {
	width: 100%;
	margin: 0 0 0 0;
}

.block.loop-single .archive-lists .categories {
	width: 100%;
	margin: 0 0 0 0;
}

.error-search #searchform {
	width: 396px;
}

.error-search #searchform input[type="text"] {
	width: 342px; 
}

/*-----------------------------------------------------------------------------------*/
/*	Search Hide
/*-----------------------------------------------------------------------------------*/

.search-hide-form #searchform {
	width: 400px;
	margin-left: -200px;
}

.search-hide-form #searchform input[type="text"] {
	width: 340px;
}

/*-----------------------------------------------------------------------------------*/
/* Footer
/*-----------------------------------------------------------------------------------*/

#footer .widgets {
	width: 430px;
}

#footer .widgets {
	padding-right: 15px;
	padding-left: 15px;
	width: 400px;
}

#footer .widgets .widget-1 {
	width: 400px;
	border-right: none;
}

#footer .widgets .widget-2 {
	display: none;
}

#footer .widgets .widget-3 {
	display: none;
}

#footer .widgets .widget-4 {
	display: none;
}

#footer .widgets .widget-5 { 
	display: none;
}

/*-----------------------------------------------------------------------------------*/
/*	End Responsive
/*-----------------------------------------------------------------------------------*/


}