/*


Theme Name:         Amzola
Theme URI:          http://www.uxde.net/amzola-theme
Description:        Amzola is a premium Wordpress theme by UXDE dot Net.
Version:            1.0.0
Author:             Toan Nguyen Minh
Author URI:         http://www.uxde.net
Tags: white, black, two-columns, custom-colors, right-sidebar, fixed-width, flexible-width, custom-menu, editor-style, featured-images, full-width-template
License: GNU General Public License
License URI: http://www.gnu.org/copyleft/gpl.html


*/


/*-----------------------------------------------------------------------------------*/


:: 01. CSS Reset & Clearfix
:: 02. Global
:: 03. Structure
:: 04. Header
:: 05. Content
:: 06. Sidebar
:: 07. Comment
:: 08. Footer
:: 09. Pages & Templates


/*-----------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------*/

/*	1.	CSS Reset & Clearfix - http://meyerweb.com/eric/tools/css/reset/

/*-----------------------------------------------------------------------------------*/


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }

.clearfix:before, .clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0; 
}

.clearfix:after {
	clear: both; 
}

.clearfix {
	zoom: 1; 
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}


/*-----------------------------------------------------------------------------------*/

/*	2.	Global

/*-----------------------------------------------------------------------------------*/


body {
	font-family: "Raleway", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	background: #ffffff;
	color: #555555;
	word-wrap: break-word;
	margin: 0;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

:focus {
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
}

iframe, embed {
	max-width: 100%;
}

input,
textarea,
select {
	background: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #333333;
    font-size: 13px;
    line-height: 21px;
    padding: 11px;
    width: 250px;
}

input[type="radio"], input[type="checkbox"] {
	width: 15px;
	height: 15px;
}

textarea {
	resize: vertical;
	width: 95%;
}

input[type="button"], input[type="submit"], input[type="reset"] {
    -webkit-appearance: none;
}

.hidden { display: none; }

.left {
    float: left;
}

.right {
    float: right;
}

.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}

.alignleft { 
	float: left; 
}

.alignright { 
	float: right; 
}

.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}

a { 
    color: #45a4f5;
    text-decoration: underline;
}

a:hover { 
	color: #45a4f5;
	text-decoration: none; 
}

a img { border: none; }

p,
pre,
ul,
ol,
dl,
dd,
blockquote,
address,
table,
fieldset,
form { margin: 0 0 20px 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway',Helvetica,Arial,sans-serif;
	font-weight: 500;
}

h1 {
	font-size: 30px;
	line-height: 36px;
	margin: 0 0 20px 0;
}

h2 {
	font-size: 24px;
	line-height: 30px;
	margin: 0 0 20px 0;
}

h3 {
	font-size: 22px;
	line-height: 28px;
	margin: 0 0 15px 0;
}

h4 {
	font-size: 18px;
	line-height: 24px;
	margin: 0 0 15px 0;
}

h5 {
	font-size: 16px;
	line-height: 22px;
	margin: 0 0 10px 0;
}

h6 {
	font-size: 16px;
	line-height: 22px;
	margin: 0 0 10px 0;
}

address { font-style: italic; }

abbr[title],
acronym[title],
dfn[title] {
	cursor: help;
	border-bottom: 1px dotted #666;
}

blockquote {
	font-size: 16px;
	font-style: italic;
	line-height: 24px;
	color: #858c96;
	margin: 30px 60px 30px 60px;
}

blockquote p {
	font-size: 16px;
	font-style: italic;
	line-height: 24px;
	color: #858c96;
}

strong { font-weight: bold; }

em,
dfn,
cite { font-style: italic; }

dfn { font-weight: bold; }

sup {
	font-size: 11px;
	vertical-align: top;
}

sub {
	font-size: 11px;
	vertical-align: bottom;
}

small { font-size: 11px; }

del { text-decoration: line-through; }

ins { text-decoration: underline; }

code,
pre { line-height: 18px; }

var,
kbd,
samp,
code,
pre {
	font: 11px/18px Consolas, "Andale Mono", Courier, "Courier New", monospace;
}

kbd { font-weight: bold; }

samp,
var { font-style: italic; }

pre, code, tt {
	background: url(images/pre-bg.png) repeat;
	border: none;
    color: #888888;
    display: block;
    font-size: 12px;
	line-height: 20px;
    overflow: auto;
    padding: 20px;
    word-wrap: break-word;
	vertical-align: baseline;
}

ul, ol, dl { 
	margin-left: 30px; 
	padding: 0;
}

table {
	border: 1px solid #ccc;
	border-width: 1px;
	line-height: 18px;
	margin: 0 0 22px 0;
	text-align: left;
	padding: 0 5px;
}

table .even { background: #ddd; }

caption { text-align: left; }

tr { border-bottom: 1px solid #ccc; }

th,
td {
	padding: 5px;
	vertical-align: middle;
	text-align: center;
}

.sticky {}

.bypostauthor {}

img.alignleft,
img.alignright,
img.aligncenter,
img.alignnone {
    background: #FFFFFF;
}

img.alignleft {
	float: left;
	margin: 10px 25px 10px 0;
}

img.alignright {
	display: block;
	margin: 10px 0 25px 20px;
}

img.aligncenter {
	display: block;
	clear: both;
    margin: 10px auto;
}

img.alignnone {
    display: block;
    margin: 10px 0;
}

.wp-caption {
	text-align: center;
	margin: 10px auto;
	max-width: 100% ! important;
	color: #999999;
	font-style: italic;
}

.wp-caption a {
    display: inline-block;
}

.wp-caption.aligncenter { margin: 20px auto; }

.wp-caption.alignleft { margin-left: 0; }

.wp-caption.alignright { margin-right: 0; }

.wp-caption.alignnone { margin-left: 0; }

.wp-caption img,
.wp-caption img a {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption
.wp-caption-text {
	margin: 0;
	padding: 5px;
}

.wp-smiley {
	max-height: 13px;
	margin: 0 !important;
}

.gallery { margin: auto; }

.gallery-image {
	border: none;
	margin-left: 0;
}

.gallery-caption { 
    font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #999999;
    margin: 0 0 0 0;
}

.gallery {
	display: block;
	width: 100%;
	margin: 0 auto 20px auto ! important;
	overflow: hidden;
}

.gallery br {
	height: 0 ! important;
	display: none;
}	

.gallery-item { 
    float: left; 
    margin: 0 0 0 0 ! important;
    text-align: center;
	font-size: 0px;
	line-height: 0px;
}

.gallery-icon {
	margin: 0 0 0 0;
	display: block;
	overflow: hidden;
}

.gallery-item .gallery-caption { 
	display: block;
	text-align: center;
    margin-bottom: 5px !important;
	font-size: 12px;
	line-height: 20px;
}

.gallery-item img {
	border: none ! important;
	margin: 0 !important;
	padding:  0 !important;
	width: 100%;
}

.gallery-item a {
	float: left;
	margin:  0 0 2% 0!important;
	padding: 0 !important;
	line-height: 0;
	font-size: 1px;
	width: 98%;
}


/*-----------------------------------------------------------------------------------*/

/*	3.	Structure

/*-----------------------------------------------------------------------------------*/

.body-content {
	padding: 0 0 0 0;
}

.body.full {
	background: #ffffff;
	width: 100%;
	float: left;
	margin: 0 0 0 0;
}

.body.boxed {
	display: block;
	background: #ffffff;
	width: 1180px;
	margin: 0 auto 0 auto;
	padding: 0 0 0 0;
	overflow: hidden;
	-webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.body.full {
	display: block;
	background: #ffffff;
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	overflow: hidden;
}

.container {
	width: 1130px;
	margin: 0 auto;
	padding: 0 25px 0 25px;
}

.container.full {
	width: 100%;
}

.wrapper {
	margin: 0 auto;
	width: 1130px;
}

#header {
	float: left;
	width: 100%;
	margin: 0 0 25px 0;
}

#main {
	float: left;
	width: 100%;
	margin: 0 0 35px 0;
}

#main-content {
	float: left;
	width: 100%;
	margin: 0 0 0 0;
}

#content {
	float: left;
	width: 795px;
	margin: 0 0 0 0;
}

#sidebar {
	float: right;
	width: 300px;
	margin: 0 0 0 0;
}

#footer {
	float: left;
	margin: 0 0 0 0;
	width: 100%;
}

/*-----------------------------------------------------------------------------------*/

/*	4.	Header

/*-----------------------------------------------------------------------------------*/


/* Top Navigation
-------------------------------------------------------------------------------------*/


#top-navigation {
	background: #222222;
	float: left;
    width: 1100px;
    height: 40px;
    padding: 0 15px 0 15px;
    margin: 0 0 25px 0;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.top-navigation-left {
	float: left;
	width: 750px;
	padding: 0 0 0 0;
	margin: 0 25px 0 0;
}

.top-navigation-right {
	float: right;
	width: 190px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}


/* Top Menu
-------------------------------------------------------------------------------------*/


#top-menu {
	float: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#top-menu ul {
	float: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	list-style: none;
}

#top-menu ul li {
	float: left;
	position: relative;
	padding: 0 10px 0 10px;
	margin: 0 0 0 0;
}

#top-menu ul li:hover {
	background: #282828;
}

#top-menu ul ul {
	position: absolute;
	top: -9999em;
	width: 250px; /* left offset of submenus need to match (see below) */
}

#top-menu ul ul li { width: 100%; }

/*  Make sub menus appear -------------------------------------------------*/

#top-menu ul li:hover ul,
#top-menu ul li.sfHover ul {
	position: absolute;
	left: -1px;
	margin: 0 0 0 0; /* Added to push sub-menu down */
	top: 40px; /* match top ul list item height */
}

/* Hide all subs subs (4 levels deep) -------------------------------------*/

#top-menu ul li:hover li ul,
#top-menu ul li.sfHover li ul,
#top-menu ul li li:hover li ul,
#top-menu ul li li.sfHover li ul,
#top-menu ul li li li:hover li ul,
#top-menu ul li li li.sfHover li ul { top: -9999em; }

/* Displays all subs subs (4 levels deep) ---------------------------------*/

#top-menu ul li li:hover ul,
#top-menu ul li li.sfHover ul,
#top-menu ul li li li:hover ul,
#top-menu ul li li li.sfHover ul,
#top-menu ul li li li li:hover ul,
#top-menu ul li li li li.sfHover ul {
	left: 250px; /* match .nav ul width */
	top: -1px;
}
	
/* top level skin ---------------------------------------------------------*/

#top-menu ul li a {
	font-family: 'Raleway',Helvetica,Arial,sans-serif;
	color: #FFFFFF;
	display: inline-block;
	padding: 14px 0 13px 0;
	margin: 0 0 0 0;
	font-size: 13px;
	font-weight: 400;
	line-height: 13px;
    text-transform: uppercase;
	text-decoration: none;
}

#top-menu ul li a:hover {
	-webkit-opacity: 0.9;
	-moz-opacity: 0.9;
	opacity: 0.9;
	text-decoration: none;
}

#top-menu ul a:hover,
#top-menu ul li.sfHover > a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

#top-menu ul li.sfHover > a,
#top-menu ul li.current-cat > a,
#top-menu ul li.current_page_item > a,
#top-menu ul li.current-menu-item > a {
    color: #FFFFFF;
	text-decoration: none;
}

#top-menu ul li.current-cat > a:hover,
#top-menu ul li.current_page_item > a:hover,
#top-menu ul li.current-menu-item > a:hover {
    color: #FFFFFF;
	text-decoration: none;
}

/* 2nd level skin --------------------------------------------------------*/

#top-menu ul ul {
	z-index: 9999;
	padding: 0;
	background: #222222;
	border: 1px solid #252525;
}

#top-menu ul ul li {
	border-bottom: 1px solid #252525;
	padding: 10px 0;
	line-height: 22px;
	float: none;
	background: none;
}

#top-menu ul ul li:first-child { 
	margin-top: 0; 
}

#top-menu ul ul li:last-child { 
	border-bottom: none; 
}

#top-menu ul ul li a {
	display: inline-block;
    color: #FFFFFF;
	font-size: 13px;
	line-height: 13px;
	padding: 3px 20px 3px 20px;
	margin: 0 0 0 0;
	text-shadow: 0 1px 1px #000000;
	text-transform: uppercase;
}

#top-menu ul ul li.current-cat > a, 
#top-menu ul ul li.current_page_item > a, 
#top-menu ul ul li.current-menu-item > a { 
	border: none; 
	color: #FFFFFF;
}

#top-menu ul ul li a:hover { 
	border: none; 
	color: #FFFFFF;
}

#top-menu ul li.sfHover ul a { 
	border: none; 
}

#top-menu ul li.menu-item-ancestor a {
	background-image: url(images/header-nav-arrow-2.png);
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 14px;
}

#top-menu ul li.menu-item-ancestor a:hover {
	text-decoration: none;
}

#top-menu ul li.menu-item-ancestor ul a {
	background: none;
	padding-right: 24px;
}

#top-menu ul li.menu-item-ancestor ul a:hover {
	text-decoration: none;
}

#top-menu .sub-menu li.menu-item-ancestor a {
	background-image: url(images/header-nav-arrow.png);
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 24px;
	margin: 0;
}

#top-menu .sub-menu li.menu-item-ancestor a:hover {
	text-decoration: none;
}

#top-menu .sub-menu li.menu-item-ancestor li a {
	background-image: none;
	padding-right: 15px;
	margin: 0;
}


/* Top Mobile Menu
-------------------------------------------------------------------------------------*/


.top-form-mobile {
	display: none;
}


/* Top Icons
-------------------------------------------------------------------------------------*/


.top-navigation-right ul {
	float: right;
	color: #ffffff;
	margin: 8px 0 0 0;
	padding: 0 0 0 0;
	list-style: none;
	text-transform: uppercase;
}

.top-navigation-right ul li {
	float: left;
	margin: 0 5px 0 0;
	padding: 0 0 0 0;
}

.top-navigation-right ul li a {
	color: #ffffff;
	text-decoration: none;
}

.top-navigation-right ul li a:hover {
	-webkit-opacity: 0.9;
	-moz-opacity: 0.9;
	opacity: 0.9;
	text-decoration: none;
}

.top-navigation-right ul li:last-child {
	margin: 0 0 0 0;
}

.top-navigation-right ul li.search a {
	font-family: 'Raleway',Helvetica,Arial,sans-serif;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: 400;
	line-height: 13px;
	text-decoration: none;
}

.top-navigation-right ul li.search a i {
	margin: 0 2px 0 0;
}

.top-navigation-right ul li.search a:hover.search-button {
	cursor: pointer;
}


/* Search Form
-------------------------------------------------------------------------------------*/


.search-hide-form {
	display: none;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999999;
}

.search-hide-form .bg {
	background: #000000;
    height: 100%;
    left: 0;
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9;
    position: absolute;
    top: 0;
    width: 100%;
}

.search-hide-form #searchform {
	background: #ffffff;
	border: none;
    height: 50px;
    left: 50%;
    margin-left: -285px;
    margin-top: -25px;
    position: absolute;
    top: 30%;
    width: 570px;
    z-index: 9999;
}

.search-hide-form h3 {
	color: #ffffff;
	text-transform: uppercase;
	margin: -35px auto 1px auto;
	font-size: 28px;
	line-height: 34px;
	font-weight: 400;
	text-align: center;
}

.search-hide-form #searchform input[type="text"] {
	width: 510px;
	height: 26px;
	color: #222222;
	padding: 12px 15px 12px 15px;
}

.search-hide-form #searchform input[type="submit"] {
	margin: 15px 0 0 0;
}


/* Logo
-------------------------------------------------------------------------------------*/


#logo-ads {
	float: left;
	width: 1130px;
	padding: 0 0 0 0;
	margin: 0 0 25px 0;
}

.logo {
	min-width: 250px;
	float: left;
	margin: 10px 0 0 0;
}

.custom-logo p {
	display: none;
}

.logo img { 
	max-width: 100%;
	height: auto;
	margin: 0; 
}

.logo h1 {
	font-size: 50px;
	line-height: 54px;
	margin: 0 0 0 0;
	text-transform: uppercase;
}

.logo h1 a {
	color: #444444;
	text-decoration: none;
}

.logo h1 a:hover {
	opacity: 0.8;
}

.logo div a:hover {
	opacity: 0.8;
}

.logo p {
	font-family: 'Raleway',Helvetica,Arial,sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #999999;
	font-style: italic;
	font-weight: 300;
	margin-bottom: 0;
	text-transform: uppercase;
}


/* Header Ads
-------------------------------------------------------------------------------------*/


.header-ads {
	float: right;
	width: 728px;
	line-height: 0;
	font-size: 0px;
}


/* Primary Menu
-------------------------------------------------------------------------------------*/


#primary-navigation {
	background: #222222;
	float: left;
	height: 50px;
	width: 1130px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	border-bottom: 5px solid #45a4f5;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
#primary-menu {
	float: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#primary-menu ul {
	float: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	list-style: none;
}

#primary-menu ul li {
	background: url("images/divider.png") no-repeat right top;
	float: left;
	position: relative;
	padding: 0 28px 0 23px;
	margin: 0 0 0 0;
}

#primary-menu ul li:last-child {
	background: none;
	padding: 0 25px 0 23px;
}

#primary-menu ul li:hover {
	background-color: #282828;
}

#primary-menu ul li:first-child:hover {
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
}

#primary-menu ul ul {
	position: absolute;
	top: -9999em;
	width: 250px; /* left offset of submenus need to match (see below) */
}

#primary-menu ul ul li { width: 100%; }

/*  Make sub menus appear -------------------------------------------------*/

#primary-menu ul li:hover ul,
#primary-menu ul li.sfHover ul {
	position: absolute;
	left: -2px;
	margin: 0 0 0 0; /* Added to push sub-menu down */
	top: 55px; /* match top ul list item height */
}

/* Hide all subs subs (4 levels deep) -------------------------------------*/

#primary-menu ul li:hover li ul,
#primary-menu ul li.sfHover li ul,
#primary-menu ul li li:hover li ul,
#primary-menu ul li li.sfHover li ul,
#primary-menu ul li li li:hover li ul,
#primary-menu ul li li li.sfHover li ul { top: -9999em; }

/* Displays all subs subs (4 levels deep) ---------------------------------*/

#primary-menu ul li li:hover ul,
#primary-menu ul li li.sfHover ul,
#primary-menu ul li li li:hover ul,
#primary-menu ul li li li.sfHover ul,
#primary-menu ul li li li li:hover ul,
#primary-menu ul li li li li.sfHover ul {
	left: 250px; /* match .nav ul width */
	top: 0;
}
	
/* top level skin ---------------------------------------------------------*/

#primary-menu ul li a {
	font-family: 'Raleway',Helvetica,Arial,sans-serif;
	color: #FFFFFF;
	display: inline-block;
	padding: 18px 0 17px 0;
	margin: 0 0 0 0;
	font-size: 14px;
	font-weight: 600;
	line-height: 14px;
    text-transform: uppercase;
	text-decoration: none;
}

#primary-menu ul li a i {
	font-size: 14px;
	line-height: 14px;
	margin: 0 5px 0 0;
}

#primary-menu ul a:hover,
#primary-menu ul li.sfHover > a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

#primary-menu ul li.sfHover > a,
#primary-menu ul li.current-cat > a,
#primary-menu ul li.current_page_item > a,
#primary-menu ul li.current-menu-item > a {
    color: #FFFFFF;
	text-decoration: none;
}

#primary-menu ul li.current-cat > a:hover,
#primary-menu ul li.current_page_item > a:hover,
#primary-menu ul li.current-menu-item > a:hover {
    color: #FFFFFF;
	text-decoration: none;
}

/* 2nd level skin --------------------------------------------------------*/

#primary-menu ul ul {
	z-index: 9999;
	padding: 0 0 0 0;
	background: #222222;
	border: 1px solid #252525;
}

#primary-menu ul ul li {
	background: none;
	border-bottom: 1px solid #252525;
	padding: 9px 0 9px 0;
	margin: 0 0 0 0;
	line-height: 22px;
	float: none;
	background: none;
}

#primary-menu ul ul li:last-child { 
	padding: 9px 0 9px 0;
}

#primary-menu ul ul li a {
	display: inline-block;
    color: #FFFFFF;
	font-size: 14px;
	line-height: 14px;
	padding: 8px 25px 8px 25px;
	margin: 0 0 0 0;
	text-shadow: 0 1px 1px #000000;
	text-transform: uppercase;
}

#primary-menu ul ul li.current-cat > a, 
#primary-menu ul ul li.current_page_item > a, 
#primary-menu ul ul li.current-menu-item > a { 
	border: none; 
	color: #FFFFFF;
}

#primary-menu ul ul li a:hover { 
	border: none; 
	color: #FFFFFF;
}

#primary-menu ul li.sfHover ul a { 
	border: none; 
}

#primary-menu ul li.menu-item-ancestor a {
	background-image: url(images/header-nav-arrow-2.png);
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 14px;
}

#primary-menu ul li.menu-item-ancestor a:hover {
	text-decoration: none;
}

#primary-menu ul li.menu-item-ancestor ul a {
	background: none;
	padding-right: 24px;
}

#primary-menu ul li.menu-item-ancestor ul a:hover {
	text-decoration: none;
}

#primary-menu .sub-menu li.menu-item-ancestor a {
	background-image: url(images/header-nav-arrow.png);
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 24px;
	margin: 0;
}

#primary-menu .sub-menu li.menu-item-ancestor a:hover {
	text-decoration: none;
}

#primary-menu .sub-menu li.menu-item-ancestor li a {
	background-image: none;
	padding-right: 15px;
	margin: 0;
}

/* 3rd level skin --------------------------------------------------------*/

#primary-menu ul ul ul {
	margin-top: -2px;
}


/* Primary Mobile Menu
-------------------------------------------------------------------------------------*/


.primary-form-mobile {
	display: none;
}


/*-----------------------------------------------------------------------------------*/

/*	5.	Content

/*-----------------------------------------------------------------------------------*/


.post-box {
	float: left;
	width: 100%;
}


/* Homepage - Recent Post - Style 1
-------------------------------------------------------------------------------------*/


.widget.uxde_posts_widget_home_1 {
	background: url("images/widget-icons/icon-style-1.png") no-repeat;
	background-size: 34px 34px;
}

.widget.uxde_posts_widget_home_1 .flex-direction-nav {
	height: 1px;
	margin-top: 0;
}

.uxde_posts_widget_home_1 {
	position: relative;
}

.uxde_posts_widget_home_1 .flex-control-nav {
	display: none;
}

.uxde_posts_widget_home_1 .flex-direction-nav li {
	display: inline-block;
}

.uxde_posts_widget_home_1 .flex-direction-nav a.flex-prev {
	background: url("images/slider/prev.png") no-repeat;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	margin: 0 0 0 0;
	top: 13px;
	right: 26px;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}

.uxde_posts_widget_home_1 .flex-direction-nav a.flex-next {
	background: url("images/slider/next.png") no-repeat;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	margin: 0 0 0 0;
	top: 13px;
	right: 0;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}

.uxde_posts_widget_home_1 .flex-direction-nav a:hover {
	-webkit-opacity: 0.8;
	-moz-opacity: 0.8;
	opacity: 0.8;
}

.widget.uxde_posts_widget_home_1 ul {
	margin: 0 0 0 0;
	list-style: none;
}

.widget.uxde_posts_widget_home_1 ul li {
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: none;
}

.uxde_posts_widget_home_1 ul li .hentry {
	float: left;
	width: 245px;
	margin: 0 0 30px 0;
}

.uxde_posts_widget_home_1 ul li .hentry:last-child {
	margin: 0 0 0 0;
}

.uxde_posts_widget_home_1 ul li .big.hentry {
	float: left;
	width: 530px;
	margin: 0 20px 0 0;
}

.uxde_posts_widget_home_1 ul li .featured-image {
	display: block;
	width: 245px;
	height: 140px;
	margin: 0 0 10px 0;
}

.uxde_posts_widget_home_1 ul li .big .featured-image {
	display: block;
	width: 530px;
	height: 260px;
	margin: 0 0 20px 0;
}

.uxde_posts_widget_home_1 ul li .meta-info {
	display: block;
	margin: 0 0 10px 0;
	font-size: 13px;
	font-weight: 400;
	line-height: 21px;
	color: #c4c4c4;
	text-transform: uppercase;
}

.uxde_posts_widget_home_1 ul li .big .meta-info {
	margin: 0 0 15px 0;
}

.uxde_posts_widget_home_1 ul li .meta-info a {
	color: #45a4f5;
	font-weight: 600;
	text-decoration: none;
}

.uxde_posts_widget_home_1 ul li .meta-info a:hover {
	color: #45a4f5;
	text-decoration: none;
}

.uxde_posts_widget_home_1 ul li h2.post-title {
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	color: #222222;
	margin: 0 0 0 0;
}

.uxde_posts_widget_home_1 ul li h2.post-title a {
	color: #222222;
	text-decoration: none;
}

.uxde_posts_widget_home_1 ul li h2.post-title a:hover {
	color: #555555;
	text-decoration: none;
}

.uxde_posts_widget_home_1 ul li .big h2.post-title {
	font-size: 36px;
	line-height: 40px;
	font-weight: 400;
	color: #222222;
	margin: 0 0 30px 0;
}

.uxde_posts_widget_home_1 ul li p.description {
	display: block;
	margin: 0 0 0 0;
	font-size: 16px;
	line-height: 28px;
	color: #bbbbbb;
}


/* Homepage - Recent Post - Style 2
-------------------------------------------------------------------------------------*/


.widget.uxde_posts_widget_home_2 {
	background: url("images/widget-icons/icon-style-2.png") no-repeat;
	background-size: 34px 34px;
}

.widget.uxde_posts_widget_home_2 .flex-direction-nav {
	height: 1px;
	margin-top: 0;
}

.uxde_posts_widget_home_2 {
	position: relative;
}

.uxde_posts_widget_home_2 .flex-control-nav {
	display: none;
}

.uxde_posts_widget_home_2 .flex-direction-nav li {
	display: inline-block;
}

.uxde_posts_widget_home_2 .flex-direction-nav a.flex-prev {
	background: url("images/slider/prev.png") no-repeat;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	margin: 0 0 0 0;
	top: 13px;
	right: 26px;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}

.uxde_posts_widget_home_2 .flex-direction-nav a.flex-next {
	background: url("images/slider/next.png") no-repeat;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	margin: 0 0 0 0;
	top: 13px;
	right: 0;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}

.uxde_posts_widget_home_2 .flex-direction-nav a:hover {
	-webkit-opacity: 0.8;
	-moz-opacity: 0.8;
	opacity: 0.8;
}

.widget.uxde_posts_widget_home_2 ul {
	margin: 0 0 0 0;
	list-style: none;
}

.widget.uxde_posts_widget_home_2 ul li {
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: none;
}

.uxde_posts_widget_home_2 ul li .hentry {
	float: left;
	width: 340px;
	margin: 0 0 20px 0;
}

.uxde_posts_widget_home_2 ul li .hentry:last-child {
	margin: 0 0 0 0;
}

.uxde_posts_widget_home_2 ul li .big.hentry {
	float: left;
	width: 435px;
	margin: 0 20px 0 0;
}

.uxde_posts_widget_home_2 ul li .featured-image {
	float: left;
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 10px 0 0;
}

.uxde_posts_widget_home_2 ul li .big .featured-image {
	display: block;
	width: 435px;
	height: 200px;
	margin: 0 0 20px 0;
}

.uxde_posts_widget_home_2 ul li .post-header {
	float: left;
	width: 230px;
}

.uxde_posts_widget_home_2 ul li .meta-info {
	display: block;
	margin: 0 0 0 0;
	font-size: 13px;
	font-weight: 400;
	line-height: 21px;
	color: #c4c4c4;
	text-transform: uppercase;
}

.uxde_posts_widget_home_2 ul li .big .meta-info {
	margin: 0 0 15px 0;
}

.uxde_posts_widget_home_2 ul li .meta-info a {
	color: #c4c4c4;
	text-decoration: none;
}

.uxde_posts_widget_home_2 ul li .meta-info a:hover {
	color: #c4c4c4;
	text-decoration: none;
}

.uxde_posts_widget_home_2 ul li h2.post-title {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #222222;
	margin: 0 0 5px 0;
}

.uxde_posts_widget_home_2 ul li h2.post-title a {
	color: #222222;
	text-decoration: none;
}

.uxde_posts_widget_home_2 ul li h2.post-title a:hover {
	color: #555555;
	text-decoration: none;
}

.uxde_posts_widget_home_2 ul li .big h2.post-title {
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	color: #222222;
	margin: 0 0 10px 0;
}

.uxde_posts_widget_home_2 ul li p.description {
	display: block;
	margin: 0 0 0 0;
	font-size: 14px;
	line-height: 24px;
	color: #222222;
}


/* Homepage - Recent Post - Style 3
-------------------------------------------------------------------------------------*/


.widget.uxde_posts_widget_home_3 {
	background: url("images/widget-icons/icon-style-3.png") no-repeat;
	background-size: 34px 34px;
}

.widget.uxde_posts_widget_home_3 .flex-direction-nav {
	height: 1px;
	margin-top: 0;
}

.uxde_posts_widget_home_3 {
	position: relative;
}

.uxde_posts_widget_home_3 .flex-control-nav {
	display: none;
}

.uxde_posts_widget_home_3 .flex-direction-nav li {
	display: inline-block;
}

.uxde_posts_widget_home_3 .flex-direction-nav a.flex-prev {
	background: url("images/slider/prev.png") no-repeat;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	margin: 0 0 0 0;
	top: 13px;
	right: 26px;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}

.uxde_posts_widget_home_3 .flex-direction-nav a.flex-next {
	background: url("images/slider/next.png") no-repeat;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	margin: 0 0 0 0;
	top: 13px;
	right: 0;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}

.uxde_posts_widget_home_3 .flex-direction-nav a:hover {
	-webkit-opacity: 0.8;
	-moz-opacity: 0.8;
	opacity: 0.8;
}

.widget.uxde_posts_widget_home_3 ul {
	margin: 0 0 0 0;
	list-style: none;
}

.widget.uxde_posts_widget_home_3 ul li {
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: none;
}

.uxde_posts_widget_home_3 ul li .hentry {
	float: left;
	width: 100%;
	margin: 0 0 25px 0;
	padding: 0 0 25px 0;
	border-bottom: 1px solid #dfdfdf;
}

.uxde_posts_widget_home_3 ul li .hentry:last-child {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border-bottom: none;
}

.uxde_posts_widget_home_3 ul li .featured-image {
	float: left;
	display: block;
	width: 250px;
	height: 220px;
	margin: 0 25px 0 0;
}

.uxde_posts_widget_home_3 ul li .post-content {
	float: left;
	width: 520px;
}

.uxde_posts_widget_home_3 ul li .meta-info {
	display: block;
	margin: 0 0 10px 0;
	font-size: 13px;
	font-weight: 400;
	line-height: 21px;
	color: #c4c4c4;
	text-transform: uppercase;
}

.uxde_posts_widget_home_3 ul li .meta-info a {
	color: #c4c4c4;
	text-decoration: none;
}

.uxde_posts_widget_home_3 ul li .meta-info a:hover {
	color: #c4c4c4;
	text-decoration: none;
}

.uxde_posts_widget_home_3 ul li h2.post-title {
	font-size: 20px;
	line-height: 26px;
	font-weight: 500;
	color: #222222;
	margin: 0 0 10px 0;
}

.uxde_posts_widget_home_3 ul li h2.post-title a {
	color: #222222;
	text-decoration: none;
}

.uxde_posts_widget_home_3 ul li h2.post-title a:hover {
	color: #555555;
	text-decoration: none;
}

.uxde_posts_widget_home_3 ul li p.description {
	display: block;
	margin: 0 0 19px 0;
	font-size: 14px;
	line-height: 24px;
	color: #222222;
}

.uxde_posts_widget_home_3 ul li a.more-link {
	background: #45a4f5 url("images/read-more.png") no-repeat 97px 6px;
	background-size: 24px 24px;
	display: inline-block;
	padding: 7px 39px 7px 10px;
	margin: 0 0 0 0;
	color: #ffffff;
	font-size: 14px;
	line-height: 22px;
	text-transform: uppercase;
	text-decoration: none;
}

.uxde_posts_widget_home_3 ul li a:hover.more-link {
	background: #222222 url("images/read-more.png") no-repeat 97px 6px;
	background-size: 24px 24px;
	display: inline-block;
	padding: 7px 39px 7px 10px;
	margin: 0 0 0 0;
	color: #ffffff;
	font-size: 14px;
	line-height: 22px;
	text-transform: uppercase;
	text-decoration: none;
}


/* Homepage - Recent Post - Half
-------------------------------------------------------------------------------------*/


.widget.uxde_posts_widget_half {
	background: url("images/widget-icons/icon-half.png") no-repeat;
	background-size: 34px 34px;
}

.widget.uxde_posts_widget_half .flex-direction-nav {
	height: 1px;
}

.widget.uxde_posts_widget_half {
	width: 382px;
	margin: 0 30px 30px 0;
	position: relative;
}

.uxde_posts_widget_half .flex-control-nav {
	display: none;
}

.uxde_posts_widget_half .flex-direction-nav li {
	display: inline-block;
}

.uxde_posts_widget_half .flex-direction-nav a.flex-prev {
	background: url("images/slider/prev.png") no-repeat;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	margin: 0 0 0 0;
	top: 11px;
	right: 26px;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}

.uxde_posts_widget_half .flex-direction-nav a.flex-next {
	background: url("images/slider/next.png") no-repeat;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	margin: 0 0 0 0;
	top: 11px;
	right: 0;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}

.uxde_posts_widget_half .flex-direction-nav a:hover {
	-webkit-opacity: 0.8;
	-moz-opacity: 0.8;
	opacity: 0.8;
}

.widget.uxde_posts_widget_half ul {
	margin: 0 0 0 0;
	list-style: none;
}

.widget.uxde_posts_widget_half ul li {
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: none;
}

.uxde_posts_widget_half ul li .hentry {
	float: left;
	width: 382px;
	margin: 0 0 25px 0;
	padding: 0 0 25px 0;
	border-bottom: 1px solid #dfdfdf;
}

.uxde_posts_widget_half ul li .hentry:last-child {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	border-bottom: none;
}

.uxde_posts_widget_half ul li .big.hentry {
	float: left;
	width: 382px;
	margin: 0 0 25px 0;
}

.uxde_posts_widget_half ul li .featured-image {
	float: left;
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 10px 0 0;
}

.uxde_posts_widget_half ul li .big .featured-image {
	display: block;
	width: 382px;
	height: 200px;
	margin: 0 0 15px 0;
}

.uxde_posts_widget_half ul li .post-header {
	float: left;
	width: 272px;
}

.uxde_posts_widget_half ul li .meta-info {
	display: block;
	margin: 0 0 10px 0;
	font-size: 13px;
	font-weight: 400;
	line-height: 21px;
	color: #c4c4c4;
	text-transform: uppercase;
}

.uxde_posts_widget_half ul li .big .meta-info {
	margin: 0 0 10px 0;
}

.uxde_posts_widget_half ul li .meta-info a {
	color: #c4c4c4;
	text-decoration: none;
}

.uxde_posts_widget_half ul li .meta-info a:hover {
	color: #c4c4c4;
	text-decoration: none;
}

.uxde_posts_widget_half ul li h2.post-title {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #222222;
	margin: 0 0 5px 0;
}

.uxde_posts_widget_half ul li h2.post-title a {
	color: #222222;
	text-decoration: none;
}

.uxde_posts_widget_half ul li h2.post-title a:hover {
	color: #555555;
	text-decoration: none;
}

.uxde_posts_widget_half ul li .big h2.post-title {
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	color: #222222;
	margin: 0 0 15px 0;
}

.uxde_posts_widget_half ul li p.description {
	display: block;
	margin: 0 0 20px 0;
	font-size: 14px;
	line-height: 24px;
	color: #555555;
}

.uxde_posts_widget_half ul li a.more-link {
	background: #45a4f5 url("images/read-more.png") no-repeat 97px 6px;
	background-size: 24px 24px;
	display: inline-block;
	padding: 7px 39px 7px 10px;
	margin: 0 0 0 0;
	color: #ffffff;
	font-size: 14px;
	line-height: 22px;
	text-transform: uppercase;
	text-decoration: none;
}

.uxde_posts_widget_half ul li a:hover.more-link {
	background: #222222 url("images/read-more.png") no-repeat 97px 6px;
	background-size: 24px 24px;
	display: inline-block;
	padding: 7px 39px 7px 10px;
	margin: 0 0 0 0;
	color: #ffffff;
	font-size: 14px;
	line-height: 22px;
	text-transform: uppercase;
	text-decoration: none;
}


/* Homepage - Recent Post - Half Last
-------------------------------------------------------------------------------------*/


.widget.uxde_posts_widget_half_last {
	background: url("images/widget-icons/icon-half-last.png") no-repeat;
	background-size: 34px 34px;
}

.widget.uxde_posts_widget_half_last .flex-direction-nav {
	height: 1px;
}

.widget.uxde_posts_widget_half_last {
	width: 382px;
	margin: 0 0 30px 0;
	position: relative;
}

.uxde_posts_widget_half_last .flex-control-nav {
	display: none;
}

.uxde_posts_widget_half_last .flex-direction-nav li {
	display: inline-block;
}

.uxde_posts_widget_half_last .flex-direction-nav a.flex-prev {
	background: url("images/slider/prev.png") no-repeat;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	margin: 0 0 0 0;
	top: 11px;
	right: 26px;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}

.uxde_posts_widget_half_last .flex-direction-nav a.flex-next {
	background: url("images/slider/next.png") no-repeat;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	margin: 0 0 0 0;
	top: 11px;
	right: 0;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}

.uxde_posts_widget_half_last .flex-direction-nav a:hover {
	-webkit-opacity: 0.8;
	-moz-opacity: 0.8;
	opacity: 0.8;
}

.widget.uxde_posts_widget_half_last ul {
	margin: 0 0 0 0;
	list-style: none;
}

.widget.uxde_posts_widget_half_last ul li {
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: none;
}

.uxde_posts_widget_half_last ul li .hentry {
	float: left;
	width: 382px;
	margin: 0 0 25px 0;
	padding: 0 0 25px 0;
	border-bottom: 1px solid #dfdfdf;
}

.uxde_posts_widget_half_last ul li .hentry:last-child {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	border-bottom: none;
}

.uxde_posts_widget_half_last ul li .big.hentry {
	float: left;
	width: 382px;
	margin: 0 0 25px 0;
}

.uxde_posts_widget_half_last ul li .featured-image {
	float: left;
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 10px 0 0;
}

.uxde_posts_widget_half_last ul li .big .featured-image {
	display: block;
	width: 382px;
	height: 200px;
	margin: 0 0 15px 0;
}

.uxde_posts_widget_half_last ul li .post-header {
	float: left;
	width: 272px;
}

.uxde_posts_widget_half_last ul li .meta-info {
	display: block;
	margin: 0 0 10px 0;
	font-size: 13px;
	font-weight: 400;
	line-height: 21px;
	color: #c4c4c4;
	text-transform: uppercase;
}

.uxde_posts_widget_half_last ul li .big .meta-info {
	margin: 0 0 10px 0;
}

.uxde_posts_widget_half_last ul li .meta-info a {
	color: #c4c4c4;
	text-decoration: none;
}

.uxde_posts_widget_half_last ul li .meta-info a:hover {
	color: #c4c4c4;
	text-decoration: none;
}

.uxde_posts_widget_half_last ul li h2.post-title {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #222222;
	margin: 0 0 5px 0;
}

.uxde_posts_widget_half_last ul li h2.post-title a {
	color: #222222;
	text-decoration: none;
}

.uxde_posts_widget_half_last ul li h2.post-title a:hover {
	color: #555555;
	text-decoration: none;
}

.uxde_posts_widget_half_last ul li .big h2.post-title {
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
	color: #222222;
	margin: 0 0 15px 0;
}

.uxde_posts_widget_half_last ul li p.description {
	display: block;
	margin: 0 0 20px 0;
	font-size: 14px;
	line-height: 24px;
	color: #555555;
}

.uxde_posts_widget_half_last ul li a.more-link {
	background: #45a4f5 url("images/read-more.png") no-repeat 97px 6px;
	background-size: 24px 24px;
	display: inline-block;
	padding: 7px 39px 7px 10px;
	margin: 0 0 0 0;
	color: #ffffff;
	font-size: 14px;
	line-height: 22px;
	text-transform: uppercase;
	text-decoration: none;
}

.uxde_posts_widget_half_last ul li a:hover.more-link {
	background: #222222 url("images/read-more.png") no-repeat 97px 6px;
	background-size: 24px 24px;
	display: inline-block;
	padding: 7px 39px 7px 10px;
	margin: 0 0 0 0;
	color: #ffffff;
	font-size: 14px;
	line-height: 22px;
	text-transform: uppercase;
	text-decoration: none;
}


/* Homepage - Banner Ads
-------------------------------------------------------------------------------------*/


.uxde_795xxx_widget a {
	display: block;
	line-height: 1px;
}


/* Homepage - Gallery
-------------------------------------------------------------------------------------*/


.widget.uxde_posts_widget_home_gallery {
	background: url("images/widget-icons/icon-gallery.png") no-repeat;
	background-size: 34px 34px;
}

.widget.uxde_posts_widget_home_gallery .flex-direction-nav {
	height: 1px;
}

.widget.uxde_posts_widget_home_gallery {
	width: 795px;
	margin: 0 0 30px 0;
	position: relative;
}

.uxde_posts_widget_home_gallery .flex-control-nav {
	display: none;
}

.uxde_posts_widget_home_gallery .flex-direction-nav li {
	display: inline-block;
}

.uxde_posts_widget_home_gallery .flex-direction-nav a.flex-prev {
	background: url("images/slider/prev.png") no-repeat;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	margin: 0 0 0 0;
	top: 11px;
	right: 26px;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}

.uxde_posts_widget_home_gallery .flex-direction-nav a.flex-next {
	background: url("images/slider/next.png") no-repeat;
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	margin: 0 0 0 0;
	top: 11px;
	right: 0;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}

.uxde_posts_widget_home_gallery .flex-direction-nav a:hover {
	-webkit-opacity: 0.8;
	-moz-opacity: 0.8;
	opacity: 0.8;
}

.widget.uxde_posts_widget_home_gallery ul {
	margin: 0 0 0 0;
	list-style: none;
}

.widget.uxde_posts_widget_home_gallery ul li {
	width: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: none;
}

.uxde_posts_widget_home_gallery ul li .hentry {
	float: left;
	width: 255px;
	margin: 0 15px 0 0;
	padding: 0 0 0 0;
	border: none;
}

.uxde_posts_widget_home_gallery ul li .hentry:last-child {
	margin: 0 0 0 0;
}

.uxde_posts_widget_home_gallery ul li .featured-image {
	float: left;
	display: block;
	width: 255px;
	height: 230px;
	margin: 0 0 0 0;
	position: relative;
}

.uxde_posts_widget_home_gallery ul li h2.post-title {
	background: rgba(0, 0, 0, 0.6);
	color: #ffffff;
	display: block;
	width: 235px;
	padding: 7px 12px;
	margin: 0 0 0 0;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	position: absolute;
	bottom: 0;
}

.uxde_posts_widget_home_gallery ul li h2.post-title a {
	color: #ffffff;
	text-decoration: none;
}

.uxde_posts_widget_home_gallery ul li h2.post-title a:hover {
	color: #ffffff;
	text-decoration: none;
}


/* Load More Articles
-------------------------------------------------------------------------------------*/


#load-more {
	float: left;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	width: 100%;
	margin: 0 0 0 0;
}

#load-more a {
	display: block;
	background: #45a4f5;
	padding: 15px 0;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
}

#load-more a:hover {
	background: #222222;
	color: #ffffff;
	text-decoration: none;
}


/* Articles
-------------------------------------------------------------------------------------*/


.block {
	float: left;
	width: 795px;
	margin: 0 0 0 0;
}

.block .hentry {
	border-bottom: 1px solid #dfdfdf;
	padding: 35px 0;
	display: block;
	overflow: hidden;
}

.block .hentry .post-header {
	position: relative;
}

.block .hentry .featured-image {
	float: left;
	width: 250px;
	height: 220px;
	margin: 0 25px 0 0;
}

.block .hentry .post-content {
	float: left;
	width: 520px;
}

.block .hentry .meta-category {
	font-family: 'Raleway',sans-serif;
    font-size: 13px;
    font-weight: 600;
    left: 0;
    line-height: 13px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
}

.block .hentry .meta-category a {
    background: #00C8FF;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    line-height: 21px;
    padding: 5px 10px;
    text-decoration: none;
}

.block .hentry .post-content h2.post-title {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 28px;
	line-height: 36px;
	color: #222222;
	margin: 0 0 10px 0;
}

.block .hentry .post-content h2.post-title a {
	color: #222222;
	text-decoration: none;
}

.block .hentry .post-content h2.post-title a:hover {
	color: #555555;
	text-decoration: none;
}

.block .hentry .post-content .meta-info {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 21px;
	color: #c4c4c4;
	margin: 0 0 15px 0;
	text-transform: uppercase;
	display: block;
	overflow: hidden;
}

.block .hentry .post-content .meta-info a {
	font-weight: 400;
	font-size: 13px;
	line-height: 21px;
	color: #c4c4c4;
	text-decoration: none;
}

.block .hentry .post-content .meta-info a:hover {
	color: #c4c4c4;
	text-decoration: none;
}

.block .hentry .post-content .description p {
	font-size: 14px;
	line-height: 24px;
	color: #555555;
}

.block .hentry .post-content a.more-link {
	background: #45a4f5 url("images/read-more.png") no-repeat 97px 6px;
	background-size: 24px 24px;
	display: inline-block;
	padding: 7px 39px 7px 10px;
	margin: 0 0 0 0;
	color: #ffffff;
	font-size: 14px;
	line-height: 22px;
	text-transform: uppercase;
	text-decoration: none;
}

.block .hentry .post-content a:hover.more-link {
	background: #222222 url("images/read-more.png") no-repeat 97px 6px;
	background-size: 24px 24px;
	display: inline-block;
	padding: 7px 39px 7px 10px;
	margin: 0 0 0 0;
	color: #ffffff;
	font-size: 14px;
	line-height: 22px;
	text-transform: uppercase;
	text-decoration: none;
}


/* Single Post
-------------------------------------------------------------------------------------*/


.block.loop-single {
	width: 100%;
}

.block.loop-single .hentry {
	padding: 0 0 0 0;
	border-bottom: none;
}

.breadcrumbs {
	font-size: 13px;
	line-height: 21px;
	margin: 0 0 25px 0;
	display: block;
	overfolow: hidden;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #dfdfdf;
}

.breadcrumbs a {
	color: #555555;
	text-decoration: none;
}

.breadcrumbs a:hover {
	color: #45a4f5;
	text-decoration: none;
}

.block.loop-single .breadcrumbs a {
	color: #555555;
	text-decoration: none;
}

.block.loop-single .breadcrumbs a:hover {
	color: #45a4f5;
	text-decoration: none;
}

.block.loop-single .hentry h1.post-title {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 40px;
	line-height: 48px;
	color: #222222;
	margin: 0 0 20px 0;
}	

.block.loop-single .hentry .featured-image {
	width: 795px;
	height: 350px;
	margin: 0 0 25px 0;
}

.block.loop-single .hentry .featured-image.video {
	width: 795px;
	height: 448px;
}

.block.loop-single .hentry .post-content {
	width: 795px;
	display: block;
	overflow: hidden;
	margin: 0 0 30px 0;
	font-size: 15px;
	line-height: 27px;
}

.block.loop-single .hentry .post-content .meta-info {
	color: #C4C4C4;
    display: block;
    font-family: 'Raleway',sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    margin: 0 0 30px 0;
    overflow: hidden;
    text-transform: uppercase;
}

.block.loop-single .hentry .post-content .meta-info a {
	color: #45a4f5;
    font-weight: 600;
    text-decoration: none;
}

.block.loop-single .hentry .post-content .meta-info a:hover {
	color: #45a4f5;
    font-weight: 600;
    text-decoration: none;
}

.block.loop-single .hentry .post-content .meta-info span.comment-info a {
	font-weight: 400;
	color: #c4c4c4;
}

.block.loop-single .hentry .post-content .meta-info span.comment-info a:hover {
	font-weight: 400;
	color: #c4c4c4;
}

.block.loop-single .hentry .post-content .share-buttons {
	border: 1px solid #dfdfdf;
	border-bottom: 5px solid #45a4f5;
	padding: 20px 45px;
	margin: 20px 0 25px 0;
	width: 703px;
	display: block;
	overflow: hidden;
}

.block.loop-single .hentry .post-content .tags-nav {
	font-size: 13px;
	line-height: 21px;
	background: #222222;
	color: #ffffff;
	width: 765px;
	padding: 12px 15px;
	margin: 0 0 0 0;
	display: block;
	overflow: hidden;
}

.block.loop-single .hentry .post-content .post-tags {
	float: left;
	width: 650px;
	line-height: 30px;
}

.block.loop-single .hentry .post-content .post-tags span {
	color: #ffffff;
	font-weight: 600;
}

.block.loop-single .hentry .post-content .post-tags a {
	color: #ffffff;
	text-decoration: none;
}

.block.loop-single .hentry .post-content .post-tags a:hover {
	color: #ffffff;
	text-decoration: underline;
}

.block.loop-single .hentry .post-content .post-nav-link {
	float: right;
	width: auto;
}

.block.loop-single .hentry .post-content .post-nav-link .prev {
	float: left;
}

.block.loop-single .hentry .post-content .post-nav-link .next {
	float: left;
}

.block.loop-single .hentry .post-content .post-nav-link .prev a {
	background: url("images/prev-link.png") no-repeat;
	background-size: 30px 30px;
	width: 30px;
	height: 30px;
	display: block;
	float: left;
	text-indent: -9999px;
}

.block.loop-single .hentry .post-content .post-nav-link .next a {
	background: url("images/next-link.png") no-repeat;
	background-size: 30px 30px;
	width: 30px;
	height: 30px;
	display: block;
	float: left;
	text-indent: -9999px;
	margin-left: 5px;
}

.block.loop-single .hentry .post-content .post-nav-link .prev a:hover,
.block.loop-single .hentry .post-content .post-nav-link .next a:hover {
	-webkit-opacity: 0.8;
	-moz-opacity: 0.8;
	opacity: 0.8;
}


/* Custom Post Layout
-------------------------------------------------------------------------------------*/


#content.full-width .block {
	width: 100%;
}

#content.full-width .block .hentry .post-content {
    float: left;
    width: 855px;
}

#content.full-width .block.loop-single {
	width: 100%;
}

#content.full-width .block.loop-single .featured-image {
	width: 1130px;
	height: 497px;
}

#content.full-width .block.loop-single .featured-image img {
	width: 100%;
	height: auto;
}

#content.full-width .block.loop-single .featured-image.video {
	width: 1130px;
	height: 637px;
}

#content.full-width .block.loop-single .hentry .post-content {
	width: 1130px;
}

#content.full-width .block.loop-single .hentry .post-content .share-buttons {
	width: 1037px;
}

#content.full-width .block.loop-single .hentry .post-content .share-buttons ul {
	margin: 0 auto;
	width: 703px;
}

#content.full-width .block.loop-single .hentry .post-content .tags-nav {
	width: 1100px;
}

#content.full-width .block.loop-single .hentry .post-content .post-tags {
	width: 900px;
}

#content.full-width .block.loop-single .hentry .author-info {
    float: left;
    width: 955px;
}

#content.full-width .block.loop-single .hentry .related-posts ul li {
	width: 360px;
}

#content.full-width .block.loop-single .hentry .related-posts .featured-image {
	width: 360px;
	height: 200px;
}

#content.full-width .block.loop-single .hentry .related-posts .featured-image img {
	width: 100%;
	height: auto;
}

#content.full-width .block.loop-single .hentry #respond textarea {
	width: 1105px;
}

#content.full-width .block.loop-single .archive-lists .featured-image {
    width: 100px;
    height: 100px;
}


/* Post Styling
-------------------------------------------------------------------------------------*/


.post-box ul {
	margin-left: 45px;
	list-style: square outside none;
}

.post-box ul li {
	margin-bottom: 10px;
}

.post-box ol {
	list-style: decimal outside none;
    list-style-position: inside;
}

.post-box ol li {
	margin-bottom: 10px;
}


/* Author
-------------------------------------------------------------------------------------*/


.author-wrap {
	border: 1px solid #dfdfdf;
	padding: 25px;
	margin: 0 0 30px 0;
	display: block;
	overflow: hidden;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
}

.post-box-archives .author-wrap {
	margin: 25px 0 0 0;
}

.author-gravatar {
	width: 100px;
	height: 100px;
	float: left;
	margin: 0 20px 0 0;
	line-height: 1;
	-webkit-border-radius: 50px;
	   -moz-border-radius: 50px;
			border-radius: 50px;
}

.author-gravatar img {
	border: 1px solid #dfdfdf;
	padding: 5px;
	width: 93px;
	height: 93px;
	-webkit-border-radius: 100px;
	   -moz-border-radius: 100px;
			border-radius: 100px;
}

.author-info {
	float: left;
	width: 620px;
}

.author-title {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #222222;
	display: block;
	font-size: 20px;
	line-height: 26px;
	margin: 0 0 10px 0;
}

.author-title a {
	color: #222222;
	text-decoration: none;
}

.author-title a:hover, .author-title a:focus {
	color: #555555;
	text-decoration: none;
}

.block.loop-single .author-title a {
	color: #222222;
	text-decoration: none;
}

.block.loop-single .author-title a:hover, .author-title a:focus {
	color: #555555;
	text-decoration: none;
}

.author-description {
	display: block;
}

.author-description p {	
	margin: 0;
}


/* Related Posts
-------------------------------------------------------------------------------------*/


.related-posts {
	display: block;
	overflow: hidden;
	width: 100%;
	margin: 0 0 20px 0;
	padding: 0 0 30px 0;
	border-bottom: 1px solid #dfdfdf;
}

.related-posts h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 26px;
	line-height: 32px;
	color: #222222;
	margin: 0 0 20px 0;
}

.related-posts ul {
	margin: 0 0 0 0;
	list-style: none;
}

.block.loop-single .hentry .related-posts ul li {
	float: left;
	width: 248px;
	margin: 0 25px 0 0;
	overflow: hidden;
	position: relative;
}

.block.loop-single .hentry .related-posts ul li:last-child {
	margin-right: 0;
}

.block.loop-single .hentry .related-posts .featured-image {
	width: 248px;
	height: 140px;
	margin: 0 0 20px 0;
}	

.block.loop-single .hentry .related-posts h4.related-article {
	font-family: 'Raleway', sans-serif;	
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	margin: 0 0 0 0;
}

.block.loop-single .hentry .related-posts h4.related-article a {
	color: #222222;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
}

.block.loop-single .hentry .related-posts h4.related-article a:hover {
	color: #555555;
}

.block.loop-single .hentry .related-posts .meta-category {
	font-family: 'Raleway',sans-serif;
    font-size: 13px;
    font-weight: 500;
    left: 0;
    line-height: 13px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
}

.block.loop-single .hentry .related-posts .meta-category a {
	background: #45a4f5;
    color: #FFFFFF;
    display: inline-block;
    font-size: 13px;
    line-height: 21px;
    padding: 5px 10px;
    text-decoration: none;
}


/* Archives
-------------------------------------------------------------------------------------*/


.post-box-archives {
	float: left;
	width: 100%;
}

.header-archives {
	display: block;
	padding: 0 0 25px 0;
	border-bottom: 1px solid #dfdfdf;
	overflow: hidden;
}

.post-box-archives .breadcrumbs {
	margin: 0 0 25px 0;
}

.main-page-title {
	font-family: 'Raleway',sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 54px;
	color: #222222;
	margin: 0 0 0 0;
}

.category-description p {
	margin: 25px 0 0 0;
}

#post-nav.post-nav-archives {
	padding: 30px 0 0 0;
}


/* Navigation
-------------------------------------------------------------------------------------*/


#post-nav {  
	float: left;
	width: 100%;
	margin: 0;
	padding: 30px 0 0 0;
}

.pagination a,
.pagination span {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	padding: 10px 18px 10px 18px;
	float: left;
	margin: 0 10px 0 0;
	display: inline-block;
	text-align: center;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	overflow: hidden;
}

.pagination a {
	background: #45a4f5;
	color: #FFFFFF;
	text-decoration: none;
}

.pagination a:hover, .pagination a:focus {
	background: #222222;
	color: #FFFFFF;
	text-decoration: none;
}

.pagination span {
	background: #45a4f5;
	color: #FFFFFF;
	text-decoration: none;
}

.pagination .current {
	background: #222222;
	color: #FFFFFF;
	text-decoration: none;
}


/* Infinite Scroll
-------------------------------------------------------------------------------------*/


#infscr-loading {
	float: left;
	width: 100%;
	padding: 25px 0 0 0;
	margin: 0 0 0 0;
	text-align: center;
}


/*-----------------------------------------------------------------------------------*/

/*	6.	Sidebar

/*-----------------------------------------------------------------------------------*/


/* Widgets
-------------------------------------------------------------------------------------*/


.widget {
	background: url("images/widget-icons/icon-default.png") no-repeat;
	background-size: 34px 34px;
	padding: 0;
	margin: 0 0 25px 0;
	width: 100%;
	font-size: 13px;
	line-height: 21px;
	float: left;
}

#sidebar .widget:last-child {
	margin: 0 0 0 0;
}

h3.widget-title {
	background: url("images/border.png") repeat-x left bottom;
	display: block;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height: 24px;
	color: #222222;
	padding: 0 0 19px 41px;
	margin: 6px 0 25px 0;
}

h3.widget-title a {
	color: #222222;
	text-decoration: none;
}

h3.widget-title a:hover {
	color: #222222;
	text-decoration: none;
}

.widget p {
	color: #555555;
	font-size: 13px;
	line-height: 21px;
}

.widget ul {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.widget ul li {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	border-bottom: 1px solid #dfdfdf;
}

.widget ul li a {	
	color: #45a4f5;
	text-decoration: none;
}

.widget ul li a:hover {
	text-decoration: underline;
}

.widget-section {}


/* Banner Ads - 300 x 250
-------------------------------------------------------------------------------------*/


#sidebar .uxde_300x250_widget a {
	display: block;
	line-height: 1px;
}


/* Search
-------------------------------------------------------------------------------------*/


.widget.widget_search {
	background: url("images/widget-icons/icon-search.png") no-repeat;
	background-size: 34px 34px;
}

#searchform { 
	display: block;
	margin: 0 0 0 0; 
	border: 1px solid #DFDFDF;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
}

#sidebar #searchform {
	float: left;
	width: 298px;
}

#sidebar #searchform h3, #footer #searchform h3 {
	display: none;
}

#searchform input[type='text'] {
	float: left;
	border: medium none;
    box-shadow: none;
	color: #AAAAAA;
	width: 247px;
	font-size: 13px;
	line-height: 21px;
	outline: none;
	margin: 0;
	padding: 12px 11px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0 0 0 0;
	   -moz-box-shadow: 0 0 0 0;
	        box-shadow: 0 0 0 0;
}

#searchform input[type='submit'] {
	background: url("images/search-icon-form.png") no-repeat center center;
    border: medium none;
    box-shadow: none;
    cursor: pointer;
    display: block;
    float: left;
    height: 15px;
    margin: 8px 5px 0 0;
    width: 14px;
}

#searchform input[type='submit']:hover {
	filter:alpha(opacity=80);
	-webkit-opacity: 0.8;
	-moz-opacity: 0.8;
	opacity: 0.8;
}


/* Social Icons
-------------------------------------------------------------------------------------*/


.widget.socialicons_widget_sidebar {
	background: url("images/widget-icons/icon-social.png") no-repeat;
	background-size: 34px 34px;
}

#sidebar .socialicons_widget_sidebar li {
	float: left;
	width: 147px;
	height: 147px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border-bottom: none;
}

#sidebar .socialicons_widget_sidebar li a {
	line-height: 1px;
	display: block;
}

#sidebar .socialicons_widget_sidebar li a:hover img {
	-webkit-opacity: 0.8;
	-moz-opacity: 0.8;
	opacity: 0.8;
}

#sidebar .socialicons_widget_sidebar li a span {
	display: none;
}

#sidebar .socialicons_widget_sidebar li.rss-icon {
	margin: 0 6px 6px 0;
}

#sidebar .socialicons_widget_sidebar li.facebook-icon {
	margin: 0 6px 0 0;
}


/* Categories
-------------------------------------------------------------------------------------*/


.widget.uxde_categories_widget {
	background: url("images/widget-icons/icon-categories.png") no-repeat;
	background-size: 34px 34px;
}

#sidebar .uxde_categories_widget ul {
	margin: 0 0 0 2px;
}

#sidebar .uxde_categories_widget li {
	background: url("images/categories-arrow.png") no-repeat left 5px;
	border: none;
	display: block;
	position: relative;
	padding: 0 0 8px 15px;
	margin: 0 0 8px 0;
}

#sidebar .uxde_categories_widget li:last-child {
	padding: 0 0 0 15px;
	margin: 0 0 0 0;
}

#sidebar .uxde_categories_widget li a {
	color: #555555;
	font-size: 13px;
	lin-height: 21px;
	text-decoration: none;
}

#sidebar .uxde_categories_widget li a:hover {
	text-decoration: underline;
}

#sidebar .uxde_categories_widget li span {
	background: #cacaca;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    padding: 0 12px;
	position: absolute;
	top: 0;
	right: 5px;
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
			border-radius: 20px;
}

#sidebar .uxde_categories_widget li:hover span {
	background: #45a4f5;
}


/* Categories, Archives, Pages & Meta
-------------------------------------------------------------------------------------*/


.widget.widget_categories, .widget.widget_archive, .widget.widget_meta {
	background: url("images/widget-icons/icon-list.png") no-repeat;
	background-size: 34px 34px;
}

#sidebar .widget_categories li, #sidebar .widget_archive li, #sidebar .widget_meta li, #sidebar .widget_pages li, #sidebar .widget_nav_menu li {
    background: #f9f9f9;
	display: block;
	font-size: 14px;
	line-height: 22px;
    margin-bottom: 0;
	border: none;
	padding: 10px 15px;
	margin: 0 0 1px 0;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
}

#sidebar .widget_categories li a , #sidebar .widget_archive li a, #sidebar .widget_meta li a, #sidebar .widget_pages li a, #sidebar .widget_nav_menu li a {
	color: #555555;
	text-shadow: 1px 1px #FFFFFF;
	text-decoration: none;
}


#sidebar .widget_categories li a:hover, #sidebar .widget_archive li a:hover, #sidebar .widget_meta li a:hover, #sidebar .widget_pages li a:hover, #sidebar .widget_nav_menu li a:hover {
	color: #45a4f5;
	text-shadow: 1px 1px #FFFFFF;
	text-decoration: none;
}


/* 125x125 Banners
-------------------------------------------------------------------------------------*/


.widget.uxde_ad125_widget {
	background: url("images/widget-icons/icon-advertisement.png") no-repeat;
	background-size: 34px 34px;
}

.uxde_ad125_widget {
	margin: 0 0 15px 0;
}

.ads-125 ul {
	display: block;
	overflow: hidden;
	margin: 0 0 0 0;
	padding: 0;
}

.ads-125 ul li {
	float: left;
	margin: 0 24px 24px 0;
	padding: 0 0 0 0;
	width: 125px;
	height: 125px;
	border: none;
}

.ads-125 ul li a img { 
	width: 125px;
	height: 125px;
	display: block;
	line-height: 1;
}

.ads-125 ul li:nth-child(2n) {
    margin-left: 0;
    margin-right: 0;
}


/* Twitter Widget 
-------------------------------------------------------------------------------------*/


.widget.uxde_tweet_widget {
	background: url("images/widget-icons/icon-social.png") no-repeat;
	background-size: 34px 34px;
}

.uxde_tweet_widget ul li {
	border-bottom: 1px dotted #dfdfdf;
	padding: 0 0 12px 0;	
	margin: 0 0 12px 0;
}

.uxde_tweet_widget ul li span {
	font-size: 13px;
	line-height: 21px;
}

.uxde_tweet_widget ul li span a {
	color: #555555;
	font-size: 13px;
	line-height: 21px;
}

.uxde_tweet_widget ul li a {
	font-size: 11px;
	line-height: 19px;
	color: #555555;
	border-bottom: 1px solid #eaeaea;
}

.uxde_tweet_widget ul li a:hover {
	text-decoration: underline;
}

a.twitter-link {
	float: right;
}


/* Flickr 
-------------------------------------------------------------------------------------*/


.widget.UXDE_Flickr {
	background: url("images/widget-icons/icon-gallery.png") no-repeat;
	background-size: 34px 34px;
}

.flickr_badge_image {
	float: left;
	width: 85px;
	height: 85px;
	margin: 0 10px 10px 0;
}

.flickr_badge_image img {
	width: 85px;
	height: 85px;
}

.flickr_badge_image img:hover {
}


/* Calendar
-------------------------------------------------------------------------------------*/


.widget.widget_calendar {
	background: url("images/widget-icons/icon-calendar.png") no-repeat;
	background-size: 34px 34px;
}

.widget_calendar table {
	width: 100%;
	margin: 0 0 0 0;
	border: 1px solid #dfdfdf;
}

.widget_calendar table caption {
	border-bottom: 1px solid #DFDFDF;
    font-family: 'Raleway',sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    padding: 0 0 10px;
    margin: 0 0 20px;
	width: 100%;
	overflow: hidden;
}

.widget_calendar table > thead > tr {
	border: 1px solid #45a4f5;
	color: #ffffff;
}

.widget_calendar tbody > tr > td {
    padding: 7px 0 8px;
    text-align: center;
    width: 14.2857%;
}

.widget_calendar table#wp-calendar thead > tr > th {
	background: #45a4f5;
}

.widget_calendar th {
	padding: 7px 8px;
	text-align: center;
	border-right: 1px solid #ffffff;
}

.widget_calendar th:last-child {
	border: none;
}

.widget_calendar table > tbody > tr {
	border: 1px solid #dfdfdf;
}

.widget_calendar table > tbody > tr td {
	border-right: 1px solid #dfdfdf;
}

.widget_calendar table > tbody > tr td a {
	font-weight: bold;
	text-decoration: none;
}

.widget_calendar table > tbody > tr td#today {
	background: #45a4f5;
	color: #ffffff;
}

.widget_calendar a:hover {
	text-decoration: underline;
}

.widget_calendar tfoot > tr {
	border-bottom: 1px #dfdfdf;
}

.widget_calendar #prev {
	text-align: left;
	font-weight: bold;
}

.widget_calendar #prev a {
	text-decoration: none;
}

.widget_calendar #next {
	text-align: right;
	font-weight: bold;
}

.widget_calendar #next a {
	text-decoration: none;
}

/* Optin Form
-------------------------------------------------------------------------------------*/


.widget.uxde_newsletter_widget {
	background: url("images/widget-icons/icon-email.png") no-repeat;
	background-size: 34px 34px;
}

.uxde_newsletter_widget form {
	margin: 0 0 0 0;
}

.uxde_newsletter_widget input[type="text"] {
    padding: 9px 10px 9px 10px;
	margin-bottom: 10px;
	width: 278px;
	display: block;
	-webkit-box-shadow: 0 0 0 0;
	   -moz-box-shadow: 0 0 0 0;
			box-shadow: 0 0 0 0;
	-webkit-border-radius: 2px; 
	   -moz-border-radius: 2px;
			border-radius: 2px;
}

.uxde_newsletter_widget input[type="email"] {
    padding: 9px 10px 9px 10px;
	margin-bottom: 10px;
	width: 278px;
	display: block;
	-webkit-box-shadow: 0 0 0 0;
	   -moz-box-shadow: 0 0 0 0;
			box-shadow: 0 0 0 0;
	-webkit-border-radius: 2px; 
	   -moz-border-radius: 2px;
			border-radius: 2px;
}

.uxde_newsletter_widget input[type="submit"] {
	background: #45a4f5;
	width: auto;
	font-size: 13px;
	font-weight: 500;
	line-height: 21px;
	text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    padding: 9px 12px;
	margin: 0;
	border: none;
	display: inline;
	-webkit-border-radius: 1px; 
	   -moz-border-radius: 1px;
			border-radius: 1px;
}

.uxde_newsletter_widget input[type="submit"]:hover {
	background: #222222;
}

.uxde_newsletter_widget p {
	background: none ! important;
	margin-bottom: 17px;
}


/* Recent & Popular Posts
-------------------------------------------------------------------------------------*/


.widget.uxde_posts_widget {
	background: url("images/widget-icons/icon-recent.png") no-repeat;
	background-size: 34px 34px;
}

.widget.uxde_popular_widget {
	background: url("images/widget-icons/icon-popular.png") no-repeat;
	background-size: 34px 34px;
}

.widget.uxde_posts_widget_reviews {
	background: url("images/widget-icons/icon-style-1.png") no-repeat;
	background-size: 34px 34px;
}

.uxde_posts_widget .widget-post,
.uxde_popular_widget .widget-post,
.uxde_posts_widget_reviews .widget-post {
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
}

.uxde_posts_widget .post-title,
.uxde_popular_widget .post-title,
.uxde_posts_widget_reviews .post-title {
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	margin: 0 0 5px 0;
}

.uxde_posts_widget .post-title a,
.uxde_popular_widget .post-title a,
.uxde_posts_widget_reviews .post-title a {
	color: #222222;
	text-decoration: none;
}

.uxde_posts_widget .post-title a:hover,
.uxde_popular_widget .post-title a:hover,
.uxde_posts_widget_reviews .post-title a:hover {
	color: #555555;
}

.uxde_posts_widget .widget-post,
.uxde_popular_widget .widget-post,
.uxde_posts_widget_reviews .widget-post { 
	background: none;
    border-radius: 0;
    box-shadow: none;
	border: none;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.uxde_posts_widget .widget-post:last-child, 
.uxde_popular_widget .widget-post:last-child,
.uxde_posts_widget_reviews .widget-post:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
}

.uxde_posts_widget .widget-post .featured-image,
.uxde_popular_widget .widget-post .featured-image,
.uxde_posts_widget_reviews .widget-post .featured-image {
	width: 100px;
	height: 100px;
	float: left;
	display: block;
	margin: 0 15px 5px 0;
	position: relative;
}

.uxde_posts_widget .widget-post span,
.uxde_popular_widget .widget-post span,
.uxde_posts_widget_reviews .widget-post span {
	color: #c4c4c4;
	font-size: 12px;
	line-height: 20px;
	text-transform: uppercase;
}


/* Tabbed Widget
-------------------------------------------------------------------------------------*/


.widget .widget-tabs {
	float:left;
	padding: 0;
}

.tab_wrap {
	background: #FFFFFF;
	float: left;
}

.widget .widget-tab ul {
    float: left;
	margin: 0;
}

.widget .widget-tabs ul.drop {
	float: left;
	width: 300px;
	height: 75px;
	margin: 0 0 20px 0;
	padding: 0 0 0 0;
	border-bottom: 5px solid #45a4f5;
}

.widget .widget-tabs ul.drop li a {
	font-family: 'Raleway', sans-serif;
	color: #222222;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	display: block;
	padding: 20px 20px 10px 20px;
	text-transform: none;
	outline: none;
	text-decoration: none;
}

.widget .widget-tabs ul.drop li a:hover {
	background: #45a4f5;
	color: #ffffff;
	text-decoration: none;
}

.widget .widget-tabs ul.drop li a i {
	font-size: 24px;
}

.widget .widget-tabs ul.drop li {
	float: left;
	margin: 0;
	padding: 0 0 0 0;
	border: none;
	text-align: center;
}

.widget .widget-tabs ul.drop li.ui-tabs-active {	
	border: none;
}

.widget .widget-tabs ul.drop li.ui-tabs-active a {
	background: #45a4f5;
	color: #ffffff;
}	

.widget .widget-tabs ul.drop li.tab_nav_1 {
	margin-left: 10px;
	width: 35%;
}

.widget .widget-tabs ul.drop li.tab_nav_2 {
	width: 35%;
}

.widget .widget-tabs ul.nav{
	width:258px;
}

.widget .widget-tabs .widget-tab {
	float:left;
	padding:0;
	margin:0;
}

.widget .widget-tabs .widget-tab li {
    float: left;
    padding: 0 0 5px 0;
	margin: 0 0 5px 0;
   	width: 300px;
	border-bottom: none;
}

.widget .widget-tabs .widget-tab li:last-child {
    padding: 0;
	margin: 0;
	border-bottom: none;
}

.widget .widget-tabs .widget-tab li:last-child .featured-image {
    padding-bottom: 0;
	margin-bottom: 0;
}

.widget .widget-tabs .widget-tab li .widget-post {
	position: relative;
	padding: 0;
	margin: 0;
}

.widget .widget-tabs .widget-tab li .featured-image {
	float: left;
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 15px 5px 0;
	padding: 0;
}

.widget .widget-tabs .widget-tab li h4 {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	margin: 0 0 5px 0;
}

.widget .widget-tabs .widget-tab li h4 a {
	color: #222222;
	text-decoration: none;
}

.widget .widget-tabs .widget-tab li h4 a:hover {
	color: #555555;
	text-decoration: none;
}

.widget .widget-tabs .widget-tab li span {
    color: #C4C4C4;
    font-size: 12px;
    font-style: normal;
    line-height: 20px;
    text-transform: uppercase;
}

.ui-tabs .ui-tabs-hide {
    left: -10000px;
    position: absolute;
}

.ui-tabs .ui-tabs-hide {
    display: none;
}


/* Facebook Widget
-------------------------------------------------------------------------------------*/


.widget.Facebook_like {
	background: url("images/widget-icons/icon-facebook.png") no-repeat;
	background-size: 34px 34px;
}


/* Video Widget
-------------------------------------------------------------------------------------*/


.widget.widget_uxde_video_widget {
	background: url("images/widget-icons/icon-video.png") no-repeat;
	background-size: 34px 34px;
}


/* Custom Menu Widget
-------------------------------------------------------------------------------------*/


.widget.widget_nav_menu {
	background: url("images/widget-icons/icon-links.png") no-repeat;
	background-size: 34px 34px;
}


/* Sidebar Tags
-------------------------------------------------------------------------------------*/


#sidebar .widget.widget_tag_cloud {
	background: url("images/widget-icons/icon-tags.png") no-repeat;
	background-size: 34px 34px;
}

#sidebar .widget.widget_tag_cloud a {
	color: #222222;
}

#sidebar .widget.widget_tag_cloud a:hover {
	color: #555555;
}


/*-----------------------------------------------------------------------------------*/

/*	7.	Comments

/*-----------------------------------------------------------------------------------*/


#comments {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	overflow: hidden;
	display: block;
	width: 100%;
}

.comment-header {
	color: #222222;
    overflow: hidden;
    position: relative;
	margin: 0 0 45px 0;
	padding: 0 0 20px 0;
	border-bottom: 1px solid #dfdfdf;
}

.comment-header h3 {
	font-family: 'Raleway', sans-serif;	
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
	display: block;
	color: #222222;
	margin: 0 0 0 0;
}	

.comment-header h3 a {
	color: #222222;
	text-decoration: none;
}

.comment-header h3 a:hover {
	color: #222222;
	text-decoration: none;
}

.block.loop-single .comment-header h3 a, .block.loop-single .comment-header h3 a:hover {
	color: #222222;
}

.comment-header ul {
    color: #7E7E75;
    display: block;
    float: right;
    font-size: 14px;
    line-height: 32px;
}

.comment-header ul li a {
    float: left;
	padding: 6px 16px;
	color: #FFFFFF;
	text-decoration: none;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.comment-header ul li a:hover {
	text-decoration: underline;
}

ol.commentlist {
	margin: 0 ! important;
	list-style: none ! important;
}

.comment-body {
    margin: 0 0 35px 0;
    overflow: hidden;
	padding: 0 0 35px 0;
	border-bottom: 1px solid #DFDFDF;
    position: relative;
}

.comment-avatar {
	width: 75px;
}

.comment-body .avatar {
	padding: 4px;
	border: 1px solid #dfdfdf;
	width: 65px;
	height: 65px;
	-webkit-border-radius: 100px;
	   -moz-border-radius: 100px;
		    border-radius: 100px;
}

.comment-content {
	display: block;
	position: relative;
	margin: 0 0 0 95px;
}

.comment-meta {
	display: block;
}

.comment .vcard {
	margin: 0 20px 10px 0;
	position: relative;
	width: 75px;
	float: left;
}

.comment {
	margin: 0 0 35px 0;
}

.comment-body .fn {
	font-family: 'Raleway',sans-serif;
	font-weight: 400;
    font-size: 18px;
	font-style: normal;
	line-height: 24px;
	display: block;
    padding: 0 0 15px 0;
}

.comment-body .fn a {
	color: #444444;
	text-decoration: none;
}

.comment-body .fn a:hover {
	color: #222222;
	text-decoration: none;
}

.block.loop-single .comment-body .fn a {
	color: #444444;
}

.block.loop-single .comment-body .fn a:hover {
	color: #222222;
}

.comment-body time {
	display: inline-block;
	color: #d3d3d3;
	font-weight: bold;
	font-size: 13px;
	line-height: 21px;
	text-transform: uppercase;
	position: absolute;
	top: 0;
	right: 0;
}	

.comment-body time a {
	font-style: italic;
	font-weight: bold;
	color: #d3d3d3;
	text-decoration: none;
}

.comment-body time a:hover {
	font-weight: bold;
	color: #d3d3d3;
	text-decoration: none;
}

.block.loop-single .comment-body time a, .block.loop-single .comment-body time a:hover {
	color: #d3d3d3;
}

.comment-edit-link {
	font-size: 16px;
	line-height: 24px;
	font-style: italic;
	display: inline;
}

a.comment-edit-link {
	color: #494949;
}

a:hover.comment-edit-link {
	color: #494949;
}

.reply-rate {
	display: block;
	width: 100%;
	position: relative;
}

.comment-reply-link {
    margin: 0;
}

a.comment-reply-link {
	color: #45a4f5;
	text-decoration: none;	
	font-weight: bold;
	margin: 0 0 0 0;
	text-transform: uppercase;
}

a:hover.comment-reply-link {
	color: #222222;
	text-decoration: none;
	font-weight: bold;
}

#allowed_tags,
.comment p {
	font-size: 14px;
	line-height: 24px;
	color: #474646;
	margin: 0 0 20px 0;
}

section.comment {
	background: #FFFFFF;
	padding: 0;
	margin: 0 0 0 0;
}

.comment .children {
	margin: 0;
}

.comment .children li {
    list-style: none outside none;
    margin: 0;
    padding-bottom: 10px;
    padding-left: 50px;
}

.comments-previous {
	float: left;
}

.comments-next {
	float: right;
}

#respond {
	margin: 30px 0 0 0;
}

#respond h3 {
	color: #222222;
    font-family: 'Raleway',sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 32px;
    margin: 0 0 20px 0;
}

form label {
	margin: 5px 0 3px 0;
	font-size: 14px;
	line-height: 20px;
}

form label.comment-field {
	display: block;
}

#respond input {
	background: #FFFFFF;
	display: block;
	margin-right: 1.33%;
	width: 51%;
	padding: 11px;
	font-size: 14px;
	line-height: 22px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
		    border-radius: 3px;
}

#respond p.respond_desc {
	font-size: 12px !important;
}

#respond input#url {
	margin-right: 0;
}

#respond textarea {
	background: #FFFFFF;
	height: 230px;
	width: 767px;
	margin-top: 2px;
	padding: 11px;
	font-size: 14px;
	line-height: 22px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
		    border-radius: 3px;
}

#respond #submit {
	font-family: 'Raleway',sans-serif;
	background: #45a4f5;
	color: #FFFFFF;
	width: 300px;
	padding: 15px 0;
	border: none;
	cursor: pointer;
	font-weight: 500;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	display: block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
	-webkit-box-shadow: 0 0 0 0;
	   -moz-box-shadow: 0 0 0 0;
	        box-shadow: 0 0 0 0;
}

#respond #submit:hover,
#respond #submit:focus,
#respond #submit:active {
	background: #222222;
	margin: 0;
}

.commentlist #respond { 
	margin: 50px 0 50px 45px; 
}

.form-allowed-tags {
	display: none;
}

.comment-form-author {
	margin: 0 0 10px 0;
	font-weight: bold;
}

.comment-form-email {
	margin: 0 0 10px 0;
	font-weight: bold;
}

.comment-form-url {
	margin: 0 0 10px 0;
	font-weight: bold;
}

.comment-form-comment {
	font-weight: bold;
}

.form-submit {
	margin: 0 0 0 0;
}


/*-----------------------------------------------------------------------------------*/

/*	8.	Footer

/*-----------------------------------------------------------------------------------*/


/* Footer Widgets
-------------------------------------------------------------------------------------*/


#footer {
	background: #222222;
}

#footer .border {
	float: left;
	background: #ffffff;
	height: 15px;
	border-top: 1px solid #dfdfdf;
	width: 100%;
	margin: 0 0 0 0;
}

#footer .widgets {
	width: 1130px;
	padding: 70px 25px 60px 25px;
	margin: 0 auto 0 auto;
	display: block;
	overflow: hidden;
}

#footer .widgets .widget {
	margin: 0 0 0 0;
	background: none;
	color: #ffffff;
}

#footer .widgets .widget h3.widget-title {
	background: none;
	display: block;
	font-size: 16px;
	line-height: 21px;
	font-weight: 600;
	padding: 0 0 0 0;
	margin: 0 0 30px 0;
	color: #ffffff;
	text-transform: uppercase;
	border-bottom: none;
}

#footer .widgets .widget p {
	font-size: 13px;
	line-height: 21px;
	color: #d9d9d9;
}

#footer .widgets .widget a {
	color: #d9d9d9;
	text-decoration: none;
}

#footer .widgets .widget a:hover {
	color: #ffffff;
	text-decoration: none;
}

#footer .widgets .widget ul {
	margin: 0 0 0 0;
	list-style: none;
}

#footer .widgets .widget ul li {
	display: block;
	width: 100%;
	margin: 0 0 6px 0;
	padding: 0 0 6px 0;
	border-bottom: none;
}

#footer .widgets .widget ul li a {
	color: #d9d9d9;
	text-decoration: none;
}

#footer .widgets .widget ul li a:hover {
	color: #d9d9d9;
	text-decoration: underline;
}

#footer .widgets .widget-1 {
	float: left;
	width: 320px;
	padding: 0 25px 0 0;
	margin: 0 30px 0 0;
	border-right: 1px solid #444444;
}

#footer .widgets .widget-2 {
	float: left;
	width: 140px;
	padding: 0 25px 0 0;
	margin: 0 30px 0 0;
	border-right: 1px solid #444444;
}

#footer .widgets .widget-3 {
	float: left;
	width: 140px;
	padding: 0 25px 0 0;
	margin: 0 30px 0 0;
	border-right: 1px solid #444444;
}

#footer .widgets .widget-4 {
	float: left;
	width: 140px;
	padding: 0 25px 0 0;
	margin: 0 30px 0 0;
	border-right: 1px solid #444444;
}

#footer .widgets .widget-5 {
	float: left;
	width: 140px;
	padding: 0 25px 0 0;
	margin: 0 0 0 0;
	border-right: none;
}


/* Widget - Social Icons 
-------------------------------------------------------------------------------------*/


#footer .widgets .widget.socialicons_widget_footer li {
	float: left;
}

#footer .widgets .widget.socialicons_widget_footer a {
	float: left;
	width: 100%;
	height: 32px;
	position: relative;
}

#footer .widgets .widget.socialicons_widget_footer a img {
	margin: 0 8px 0 0; 
	padding: 0 0 0 0;
}

#footer .widgets .widget.socialicons_widget_footer a span {
	position: absolute;
	top: 8px;
	left: 40px;
}

#footer .widgets .widget.socialicons_widget_footer a:hover span {
	text-decoration: underline;
}


/* Copyright
-------------------------------------------------------------------------------------*/


.copyright {
	float: left;
	color: #d9d9d9;
	font-size: 13px;
	line-height: 21px;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	width: 100%;
}

.copyright a {
	color: #d9d9d9;
	text-decoration: none;
}

.copyright a:hover {
	color: #d9d9d9;
	text-decoration: underline;
}


/* Back Top Button
-------------------------------------------------------------------------------------*/


#back-top {
    bottom: 43%;
    position: fixed;
    right: 20px;
    visibility: visible;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

#back-top a {
    display: block;
    width: 50px;
}

#back-top a:hover {
	-webkit-opacity: 0.7;
	-moz-opacity: 0.7;
	opacity: 0.7;
}

#back-top span {
    background: url("images/back-top.png") no-repeat;
    background-size: 50px 50px;
    display: block;
    height: 50px;
    width: 50px;
}


/*-----------------------------------------------------------------------------------*/

/*	9.	Page Templates

/*-----------------------------------------------------------------------------------*/


/* Full Width
-------------------------------------------------------------------------------------*/

#content.full-width {
	border-right: none;
	width: 100%;
	padding-right: 0;
}

#content.full-width .block.loop-single {
	width: 100%;
	margin: 0 0 0 0;
}


/* Archives
-------------------------------------------------------------------------------------*/

.archive-lists h2 {
    font-family: 'Raleway',sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    padding: 0 0 10px;
	margin: 0 0 25px 0;
	border-bottom: 1px solid #DFDFDF;
}

.archive-lists ul {
    margin: 0 0 40px 0;
	list-style: none:
	overflow: hidden;
}

.archive-lists ul.children {
	border-bottom: none;
	margin: 0 0 0 15px;
}

.archive-lists ul li {
	display: block;
	margin: 0 0 10px 0;
}

.archive-lists .recent-post-list {
	float: left;
	width: 47%;
	margin: 0 6% 0 0;
}

.archive-lists .popular-post-list {
	float: left;
	width: 47%;
	margin: 0 0 0 0;
}

.block.loop-single .hentry .archive-lists ul li .widget-post {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	position: relative;
	overflow: hidden;
}

.block.loop-single .hentry .archive-lists ul li .widget-post .featured-image {
    display: block;
    float: left;
    height: 80px;
    margin: 0 15px 5px 0;
    padding: 0;
    width: 100px;
}

.block.loop-single .hentry .archive-lists ul li .widget-post .featured-image img {
	height: 80px;
	width: 100px;
}

.block.loop-single .hentry .archive-lists ul li .widget-post h4 {
	font-family: 'Raleway',sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 0 0 5px;
}

.block.loop-single .hentry .archive-lists ul li .widget-post h4 a {
	color: #222222;
	text-decoration: none;
}

.block.loop-single .hentry .archive-lists ul li .widget-post h4 a:hover {
	color: #555555;
	text-decoration: none;
}

.block.loop-single .hentry .archive-lists ul li .widget-post .meta-category {
    font-family: 'Raleway',sans-serif;
    font-size: 10px;
    font-weight: 600;
    left: 0;
    line-height: 10px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
}

.block.loop-single .hentry .archive-lists ul li .widget-post .meta-category a {
    background: #00C8FF;
    color: #FFFFFF;
    display: inline-block;
    font-size: 10px;
    line-height: 18px;
    padding: 2px 4px;
    text-decoration: none;
}

.archive-lists ul li .widget-post .meta-category a {
	color: #FFFFFF;
	text-decoration: none;
}

.archive-lists .archives {
	float: left;
	width: 47%;
	margin: 0 6% 0 0;
}

.archive-lists .categories {
	float: left;
	width: 47%;
	margin: 0 0 0 0;
}

.archive-lists .categories ul li {
	background: url("images/categories-arrow.png") no-repeat left 7px;
    border: none;
    display: block;
    margin: 0 0 8px;
    padding: 0 0 8px 15px;
    position: relative;
}

.archive-lists .categories ul li a {
	color: #222222;
	font-size: 13px;
	line-height: 21px;
	text-decoration: none;
}

.archive-lists .categories ul li a:hover {
	text-decoration: underline;
}

.archive-lists .categories ul li span {
    background: #CACACA;
    border-radius: 20px 20px 20px 20px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    padding: 0 12px;
    position: absolute;
    right: 5px;
    top: 0;
}

.archive-lists .categories ul li:hover span {
	background: #45a4f5;
}

.archive-lists .archives ul li {
	background: url("images/categories-arrow.png") no-repeat left 7px;
    border: none;
    display: block;
    margin: 0 0 8px;
    padding: 0 0 8px 15px;
    position: relative;
}

.archive-lists .archives ul li a {
	color: #222222;
	font-size: 13px;
	line-height: 21px;
	text-decoration: none;
}

.archive-lists .archives ul li a:hover {
	text-decoration: underline;
}

.archive-lists .archives ul li span {
    background: #CACACA;
    border-radius: 20px 20px 20px 20px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    padding: 0 12px;
    position: absolute;
    right: 5px;
    top: 0;
}

.archive-lists .archives ul li:hover span {
	background: #45a4f5;
}


/* 404 Page
-------------------------------------------------------------------------------------*/


.error-search {
	padding: 0 0 50px 0;
	margin: 0 0 60px 0;
	display: block;
	overflow: hidden;
	border-bottom: 1px solid #dfdfdf;
}

.error-search #searchform {
	float: left;
	border: 1px solid #dfdfdf;
	width: 793px;	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.error-search #searchform h3 {
	display: none;
}

.error-search #searchform input[type="text"] {
	width: 740px;
	border: none;
	-webkit-border-radius: 0 0 0 0 ! important;
	   -moz-border-radius: 0 0 0 0 ! important;
			border-radius: 0 0 0 0 ! important;
}