-----------------------------------------------------------------------------------
/* Admin styles
/*-----------------------------------------------------------------------------------*/ 

.updated, .error {
	display:none!important
} /* disable the admin notices */

#of_container {
	margin: 17px 17px 17px 0;
	width: 785px;
	position:relative;
	z-index: 0
}

#of_container #header {
	background: #3f3f3f;
	background: -moz-linear-gradient(top, #3f3f3f 0%, #303030 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f3f3f), color-stop(100%,#303030));
	background: -webkit-linear-gradient(top, #3f3f3f 0%,#303030 100%);
	background: -o-linear-gradient(top, #3f3f3f 0%,#303030 100%);
	background: -ms-linear-gradient(top, #3f3f3f 0%,#303030 100%);
	background: linear-gradient(to bottom, #3f3f3f 0%,#303030 100%);
	-webkit-boder-radius: 10px 10px 0 0;
	  -moz-border-radius: 10px 10px 0 0;
		   border-radius: 10px 10px 0 0;
	height: 135px;
	position: relative;
	overflow: hidden;
}

#of_container #header .logo {
	float: left;
	width: 180px;
	margin:	35px 20px 35px 20px;
}

#of_container #header .text-right {
	width: 250px;
	float: right;
	margin: 45px 20px 45px 20px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-align: right;
}

#of_container #header .text-right h2 {
	color: #FFFFFF;
	padding: 0 0 0 0;
	text-transform: uppercase;
	display: block;
}

#of_container #header .text-right span {
	color: #FFFFFF;
	display: block;
	text-transform: uppercase;
}

#of_container #js-warning {
    color: red;
    float: left;
    margin: 20px 10px;
    width: 330px;
}

#of_container ul,#of_container ol {margin: 0;}

.js #of_container #js-warning {
 	display: none;
 }

#of_container #header .logo h2 {
	display:inline-block;
	font-style:normal;
	padding-right:5px;
}

#of_container #header .logo span {
	color:#888888;
}

#of_container #header .border {
	background: url(../images/border.png) no-repeat;
	width: 785px;
	height:5px;	
	position: absolute;
	bottom: 0;
	left: 0;
}

#of_container #info_bar {
	background: #3f3f3f;
	background: -moz-linear-gradient(top, #3f3f3f 0%, #303030 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f3f3f), color-stop(100%,#303030));
	background: -webkit-linear-gradient(top, #3f3f3f 0%,#303030 100%);
	background: -o-linear-gradient(top, #3f3f3f 0%,#303030 100%);
	background: -ms-linear-gradient(top, #3f3f3f 0%,#303030 100%);
	background: linear-gradient(to bottom, #3f3f3f 0%,#303030 100%);
	border-bottom: 1px solid #1E1E1E;
	padding: 10px 20px 2px 14px;
	height: 39px;
	text-align: left;
	position: relative;
}

#of_container #info_bar .our-links {
	float: left;
	width: 500px;
	margin: 1px 0 0 0;
	text-transform: uppercase;
}

#of_container #info_bar .our-links li {
	margin: 0 25px 0 0;
	display: inline;
	line-height: 30px;
}

#of_container #info_bar .our-links a {
	outline: none;
	font-size: 13px;
	font-weight: bold;
	line-height: 30px;
	padding: 2px 0 0 24px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
}

#of_container #info_bar .our-links a:hover {
	text-decoration: none;
}

#of_container #info_bar .our-links li.forum a {
	background: url(../images/icon-forum.png) no-repeat;
}

#of_container #info_bar .our-links li.theme a {
	background: url(../images/icon-theme.png) no-repeat;
}

#of_container #expand_options{
	cursor: pointer;
	display: block;
	height: 22px;
	width: 21px;
	float: left;
	font-size:0px;
	text-indent: -9999px;
	margin: 0 0 0 10px;
	border: 1px solid #bbb;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#of_container  #info_bar .expand { background: url(../images/toggle_tabs.png) no-repeat -2px -1px; }

#of_container #info_bar .close { background: url(../images/toggle_tabs.png) no-repeat -2px -26px; }

#of_container #expand_options:hover {
	cursor: pointer;
	border-color: #888;
}

#of_container #main {
	background-color: #2b2b2b;
	border-right: 1px solid #DFDFDF;
	overflow: hidden;
	width: 784px;
}

#of_container #of-nav {
	float: left;
	position: relative;
	z-index: 9999;
	width: 200px;
}

#of_container #of-nav ul {
	margin:0;
}

#of_container #of-nav li {
	border-bottom: 1px solid #1E1E1E;
    border-top: 1px solid #3C3C3C;
    list-style: none outside none;
    margin: 0;
    padding: 0;
	background: #383838;
	background: -moz-linear-gradient(top,  #383838 0%, #2f2f2f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#383838), color-stop(100%,#2f2f2f));
	background: -webkit-linear-gradient(top,  #383838 0%,#2f2f2f 100%);
	background: -o-linear-gradient(top,  #383838 0%,#2f2f2f 100%);
	background: -ms-linear-gradient(top,  #383838 0%,#2f2f2f 100%);
	background: linear-gradient(to bottom,  #383838 0%,#2f2f2f 100%);
}

#of_container #of-nav li:hover {
	border-top: 1px solid #D73F3F;
	background: #ef4c4c;
	background: -moz-linear-gradient(top,  #ef4c4c 0%, #b23333 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef4c4c), color-stop(100%,#b23333));
	background: -webkit-linear-gradient(top,  #ef4c4c 0%,#b23333 100%);
	background: -o-linear-gradient(top,  #ef4c4c 0%,#b23333 100%);
	background: -ms-linear-gradient(top,  #ef4c4c 0%,#b23333 100%);
	background: linear-gradient(to bottom,  #ef4c4c 0%,#b23333 100%);
}

#of_container #of-nav li.current {
	border-top: 1px solid #D73F3F;
	background: #ef4c4c;
	background: -moz-linear-gradient(top,  #ef4c4c 0%, #b23333 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef4c4c), color-stop(100%,#b23333));
	background: -webkit-linear-gradient(top,  #ef4c4c 0%,#b23333 100%);
	background: -o-linear-gradient(top,  #ef4c4c 0%,#b23333 100%);
	background: -ms-linear-gradient(top,  #ef4c4c 0%,#b23333 100%);
	background: linear-gradient(to bottom,  #ef4c4c 0%,#b23333 100%);
}

#of_container #of-nav li:last-child {

}

#of_container #of-nav li a, #of_container #of-nav ul li a:link, #of-nav ul li a:visited {
	font-size:13px; 
	font-weight:bold; 
	line-height:50px; 
	outline: none;
	display: block;
	padding: 0 10px 0 38px;
	background-repeat: no-repeat;
	background-position: 13px 16px;
	text-decoration: none;
	color: #FFFFFF;
}

#of_container #of-nav ul li.current a {
	color: #FFFFFF;
}

#of_container #of-nav ul li a:hover {
	color: #FFFFFF;
}

/*menu icons - customize to your liking*/
#of_container #of-nav li.generalsettings a { background:url(../images/icon-settings.png);}
#of_container #of-nav li.slideroptions a { background:url(../images/icon-slider.png);}
#of_container #of-nav li.metrobox a { background:url(../images/icon-slider.png);}
#of_container #of-nav li.stylingoptions a { background:url(../images/icon-paint.png);}
#of_container #of-nav li.exampleoptions a { background:url(../images/icon-docs.png);}
#of_container #of-nav li.homesettings a { background:url(../images/icon-home.png);}
#of_container #of-nav li.backupoptions a { background: url(../images/icon-backup.png) no-repeat;}
#of_container #of-nav li.advancedsettings a { background: url(../images/wrench16.png) no-repeat;}
#of_container #of-nav li.typography a { background: url(../images/icon-typography.png) no-repeat;}
#of_container #of-nav li.advertisement a { background: url(../images/icon-ads.png) no-repeat;}
#of_container #of-nav li.translation a { background: url(../images/icon-translation.png) no-repeat;}
#of_container #of-nav li.socialshare a { background: url(../images/icon-social.png) no-repeat;}
#of_container #of-nav li.seomarketing a { background: url(../images/icon-seo.png) no-repeat;}

#of_container #content {
	float: left;
	min-height: 500px;
	width: 544px;
	padding: 0 20px;
	font-family: "Lucida Grande", Sans-serif;
	background-color: #FFFFFF;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
}
#of_container #content .section {
	margin-bottom: 10px;
	overflow-x : hidden;
}
#of_container #content .section h3.heading {
	font-family:;
	margin: 12px 0 12px 0;
	padding: 7px 0px;
	border-bottom: 1px solid #e7e7e7;
	text-transform: uppercase;
}
#of_container #content .section .controls {
	float: left;
	width: 293px;
	margin: 0 15px 0 0;
}
#of_container #content .section .explain {
	float: left;
	width: 225px;
	padding: 0 10px 0 0;
	font-size: 11px;
	line-height: 16px;
	color: #999999;
}
#of_container #content .section-checkbox .controls {
	width: 15px
}

#of_container #content .section-multicheck .controls input.checkbox {
	margin-top:0;
}

#of_container #content .section-checkbox .explain {
	max-width:93%;
	margin-top: 3px;
}
#of_container #content .section-color .controls {
	width:105px
}
#of_container #content .section-color .explain {
	width:440px
}
#of_container #content .section-info h3.heading {
	display: block;
}
#of_container #content .section-info .explain {
	width: 544px;
}
#of_container #content .section-info .controls {
	margin: 12px 0 0;
	float:none;
	width: auto;
}
#of_container #content .section-info .controls .of-info{
	padding: 15px 10px;
	line-height: 1.5em;
	font-size: 12px;
	background-color: #EFF9FF;
	border: 1px solid #D6F0FF;
	color:#777;	
	display: none;
}

#of_container #content .section-info .controls .of-info ._icon { 
	height:16px; width:16px;
	margin: 0 10px 0 0;
	float: left;
}
#of_container #content .section-info .controls small {
	font-size: 12px
}
#of_container #content .section-info h3.heading {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
#of_container #content .section-info .controls {
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
#of_container .sorter {margin-right: -20px;}
#of_container .sorter ul {
	background: #F9F9F9;
	border: 1px dashed #E3E3E3;
	min-height: 40px;
	padding: 10px 10px 0;
	width: 145px;
	float: left;
	margin: 0 15px 0 0;
}
#of_container  .sorter ul h3 {
	margin: 0 0 10px;
	text-align: center;
	color: #777;
	text-transform: capitalize;
}
#of_container  .sorter ul li {
	border: 1px solid #DFDFDF;
	cursor: move;
	font-weight: bold;
	margin-bottom:10px;
	padding:0 10px;
	height: 40px;
	line-height: 40px;
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top,#f9f9f9,#ececec);
	background-image: -moz-linear-gradient(top,#f9f9f9,#ececec);
	background-image: -o-linear-gradient(top,#f9f9f9,#ececec);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#ececec));
	background-image: -webkit-linear-gradient(top,#f9f9f9,#ececec);
	background-image: linear-gradient(top,#f9f9f9,#ececec);
	overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
	text-align:center;
}


#of_container #content .section-sorter li.placeholder {
	background:#f9f9f9;
	border-width:1px;
	border-style:dashed;
	height:40px;}
	
#of_container #content .section-slider li.placeholder {
	background:#f9f9f9;
	border-width:1px;
	border-style:dashed;
	height:33px;
}

#of_container textarea, #of_container input, #of_container select, #of_container button{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-style:solid;
	border-width:1px;
}

#of_container .controls input, #of_container .controls select, #of_container .controls textarea {
	margin-bottom: 9px !important;
	background-color: #f1f1f1;
	border: 1px solid;
	border-color: #ccc #e6e6e6 #e6e6e6 #ccc;
	width: 278px;
	padding: 4px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 12px;
}

#of_container .controls input:hover, #of_container .controls textarea:hover {
	background-color: #f9f9f9;
	-webkit-box-shadow: none ! important;
	   -moz-box-shadow: none ! important;
			box-shadow: none ! important;
}

#of_container .controls input:focus, #of_container .controls textarea:focus { 
	background-color: #fff;
	border-color: #ccc #e6e6e6 #e6e6e6 #ccc;
	outline:0;
	-webkit-box-shadow: none ! important;
	   -moz-box-shadow: none ! important;
			box-shadow: none ! important;
}

#of_container .controls .upload {
	width: 278px;
	padding: 3px 4px 3px 4px;
}


#of_container .controls select {
	height: 28px;
	padding: 4px 5px;
	width: 288px;
}

#of_container .controls textarea {
	width: 288px;
}

#of_container input[type=text] {
	width: 288px;
	height: 28px;
}

#of_container input.checkbox {
	width: 30px;
	margin-top:3px;
}
#of_container input.of-radio {
	width: 30px;
}
label.radio, label.multicheck {
  position: relative;
  bottom: 0px;
}
#of_container .controls .input-text-small {
	width: 60px;
	margin-right:10px
}
#of_container .meta-two {
	margin-right:10px
}
#of_container .controls .of-color {
	float:left;
	width: 70px;
	line-height: 1.4em ! important;
	padding: 3px 4px 3px 4px;
	margin-top: 0px ! important;
	margin-left:5px; /* font-size:20px; height:34px;*/
}
#of_container #content .section-typography .controls {
	width:440px
}
#of_container #content .section-typography .explain {
	width:130px
}
#of_container .controls .of-typography-size {
	width:70px;
	float:left
}
#of_container .controls .of-typography-unit {
	width:60px;
	float:left
}
#of_container .controls .of-typography-face {
	width:145px;
	float:left
}
#of_container .controls .of-typography-style {
	width:95px;
	float:left
}
#of_container .controls .of-radio-img-img {
	border:3px solid #fff;
	margin:0 5px 10px 0;
	display:none;
	cursor:pointer;
	float:left;
}
#of_container .controls .of-radio-img-selected {
	border:3px solid #ccc
}
#of_container .controls .of-radio-img-img:hover {
	opacity:.8;
}

#of_container .controls .of-radio-tile-img {
	width:50px;
	height:50px;
	border:3px solid #f9f9f9;
	margin:0 5px 10px 0;
	display:none;
	cursor:pointer;
	float:left;
}
#of_container .controls .of-radio-tile-selected {
	border:3px solid #ccc
}
#of_container .controls .of-radio-tile-img:hover {
	opacity:.8;
}

#of_container .controls .of-border-width {
	width:70px;
	float:left
}
#of_container .controls .of-border-style {
	width:95px;
	float:left
}
#of_container .group {
	display:none;
	padding-bottom:20px;
}
#of_container .group h2 {
	display:none;
	border-bottom:3px solid #e7e7e7
}
#of_container .controls input:focus, #of_container select:focus, #of_container textarea:focus {
	background:#fff;
}

#of_container .accept {
	background: #DBF6BE no-repeat 10px center;
	border: solid #9BBF65;
	border-width: 0px 1px 1px 1px;
	color: #060;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
#of_container .warning {
	background: #ffeeee no-repeat 10px center;
	;
	border: solid #dfbfbf;
	border-width: 0px 1px 1px 1px;
	color: #333;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
#of_container .update_available {
	background: #FFFEEB no-repeat 10px center;
	border: solid #CCCCCC;
	border-width: 0px 1px 1px 1px;
	color: #333;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
#of_container .of-save-popup {
	position:absolute;
	background:rgba(0, 0, 0, 0.5);
	color:#fff;
	font-size:24px;
	text-align:center;
	display:none;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

#of_container .of-save-popup div{
	background-repeat: no-repeat;
	background-position: 20px 50%;
	padding:30px 30px 30px 60px;
}
#of_container .of-save-save {
	background-image: url(../images/button_check.png);
}
#of_container .of-save-reset {
	background-image: url(../images/sign_warning.png);
}
#of_container .of-save-fail {
	background-image:url(../images/stop.png);
}

#of_container .accept {
	background: #DBF6BE no-repeat 10px center;
	border: solid #9BBF65;
	border-width: 0px 1px 1px 1px;
	color: #060;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
#of_container .warning {
	background: #ffeeee no-repeat 10px center;
	;
	border: solid #dfbfbf;
	border-width: 0px 1px 1px 1px;
	color: #333;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
#of_container .update_available {
	background: #FFFEEB no-repeat 10px center;
	border: solid #CCCCCC;
	border-width: 0px 1px 1px 1px;
	color: #333;
	font-weight: bold;
	padding: 10px;
	text-align: center;
}
#of_container .of-save-popup {
	position:absolute;
	background:rgba(0, 0, 0, 0.5);
	color:#fff;
	font-size:24px;
	text-align:center;
	display:none;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

#of_container .of-save-popup div{
	background-repeat: no-repeat;
	background-position: 20px 50%;
	padding:30px 30px 30px 60px;
}
#of_container .of-save-save {
	background-image: url(../images/button_check.png);
}
#of_container .of-save-reset {
	background-image: url(../images/sign_warning.png);
}
#of_container .of-save-fail {
	background-image:url(../images/stop.png);
}

#of_container .accept,
#of_container .warning,
#of_container .update_available,
#of_container .of-save-popup {
	z-index: 9999;
}

#of_container .upload_button_div {
	margin-top: 0;
	margin-bottom: 15px;
}

#of_container .button {
	height: 26px ! imporant;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-color: #dfdfdf;
	background-color: #fff;
	margin: 0 0 4px;
}


#of_container .button:hover,#of_container .button_hover {
	border-color: #bbb;
	color: #464646;
}

#of_container .button_active {
    background:#eee url(../../images/white-grad-active.png) repeat-x scroll left top;
}

#of_container .image_reset_button, #of_container .mlu_remove_button {
	margin-left:10px;
	color:#ef521d;
	height: 24px;	
	display: inline-block;
}

#of_container .image_reset_button:hover, #of_container .mlu_remove_button:hover {
	color:red;
}

#of_container .upload-error {
	float:left;
	color:#666;
	font-size:10px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0 #FFFFFF;
	margin: 0 10px 0 0;
	padding:3px 10px;
	background:#FFDFEC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#of_container .reset-button {
	color: #ffffff ! important;
	background: #ef4c4c;
	background: -moz-linear-gradient(top,  #ef4c4c 0%, #b23333 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef4c4c), color-stop(100%,#b23333));
	background: -webkit-linear-gradient(top,  #ef4c4c 0%,#b23333 100%);
	background: -o-linear-gradient(top,  #ef4c4c 0%,#b23333 100%);
	background: -ms-linear-gradient(top,  #ef4c4c 0%,#b23333 100%);
	background: linear-gradient(to bottom,  #ef4c4c 0%,#b23333 100%);
	font-family: Arial,Verdana,sans-serif;
	padding: 0 10px;
	height: 32px;
	line-height: 23px;
	border: none ! important;
	border-width: 0 ! important;
	box-shadow: none ! important;
	float: left;
	text-shadow: none ! important;
	margin: 0 5px 0 0 ! important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

#of_container .reset-button:hover { 
	background: #f85959;
	background: -moz-linear-gradient(top,  #f85959 0%, #c53b3b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f85959), color-stop(100%,#c53b3b));
	background: -webkit-linear-gradient(top,  #f85959 0%,#c53b3b 100%);
	background: -o-linear-gradient(top,  #f85959 0%,#c53b3b 100%);
	background: -ms-linear-gradient(top,  #f85959 0%,#c53b3b 100%);
	background: linear-gradient(to bottom,  #f85959 0%,#c53b3b 100%);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

#of_container .slide_add_button { float:right; margin-top:10px; }


#of_container .save_bar {
	background: #3f3f3f;
	background: -moz-linear-gradient(top, #3f3f3f 0%, #303030 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f3f3f), color-stop(100%,#303030));
	background: -webkit-linear-gradient(top, #3f3f3f 0%,#303030 100%);
	background: -o-linear-gradient(top, #3f3f3f 0%,#303030 100%);
	background: -ms-linear-gradient(top, #3f3f3f 0%,#303030 100%);
	background: linear-gradient(to bottom, #3f3f3f 0%,#303030 100%);
	border-top: 1px solid #1E1E1E;
	padding: 25px 20px 0px 20px;
	height: 55px;
	text-align: right;
	position: relative;
}

#of_save {
	color: #ffffff ! important;
	background: #719400;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#719400), to(#89b300)) !important;
	background: -webkit-linear-gradient(top, #89b300, #719400) !important;
	background: -moz-linear-gradient(top, #89b300, #719400) !important;
	background: -ms-linear-gradient(top, #89b300, #719400) !important;
	background: -o-linear-gradient(top, #89b300, #719400) !important;
	font-family: Arial,Verdana,sans-serif;
	padding: 0 10px;
	height: 32px;
	line-height: 23px;
	border: none ! important;
	border-width: 0 ! important;
	box-shadow: none ! important;
	float:right;	
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

#of_save:hover {
	border: none ! important;
	border-width: 0 ! important;
	background: #89b300;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#719400), to(#9bca01)) !important;
	background: -webkit-linear-gradient(top, #9bca01, #719400) !important;
	background: -moz-linear-gradient(top, #9bca01, #719400) !important;
	background: -ms-linear-gradient(top, #9bca01, #719400) !important;
	background: -o-linear-gradient(top, #9bca01, #719400) !important;
}

#of_container .hide {
	display:none
}
#of_container .ajax-loading-img-top {
	margin: 5px 4px 0;
	float:left
}
#of_container .ajax-loading-img-bottom {
	margin: 0 0 0 0;
	position: absolute;
	top: 15px;
	right: 127px;
}
#of_container .save_bar .ajax-loading-img-bottom {
	top: 32px;
	right: 127px;
}

#of_container .ajax-reset-loading-img {
	display: block;
	margin-left: 100px;
}

#of_container .screenshot { 
	max-width:340px;
	margin-bottom:9px;
}

#of_container .of-uploaded-image {
	
}

#of_container .of-option-image {
	max-width:340px;
	padding: 5px;
	border:1px solid #e3e3e3;
	background:#f7f7f7;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#of_container .select_wrapper {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
	font-size: 12px;
	background: #F1F1F1 url(../images/select.png) no-repeat right center;
	border-color: #CCC #E6E6E6 #E6E6E6 #CCC;;
	border-style: solid;
	border-width: 1px;
	float: left;
	height: 26px;
	width: 288px;
	margin: 0;
	margin-bottom: 9px !important;
	display: block;
	color: #888;
	position:relative;
}

#of_container .select_wrapper:hover {background-color:#f9f9f9;}

#of_container .section-select {
	display: block;
	background: none ! important;
	overflow: hidden;
}

#of_container .mini .controls select, #of_container #content .section .mini .controls, #of_container  .controls .typography-size, #of_container  .controls .border-width,#of_container  .controls .mini,#of_container .mini .controls input, #of_container #content .mini .controls {width: 70px;}
#of_container  .controls .typography-face {width: 145px;}
#of_container  .controls .typography-style, #of_container  .controls .border-style {width: 95px;}
#of_container  .controls .typography-size,#of_container  .controls .typography-face,#of_container  .controls .typography-style, #of_container  .controls .border-width, #of_container  .controls .border-style {margin-right:5px;}

#of_container #content .mini .explain {
	width:500px;
}
#of_container .of-notice {
	background: #ffd1d1;
	border:1px solid #DFDFDF;
	-moz-border-radius:8px;
	text-align: center;
	margin-bottom: 15px
}

#of_container .slider li {
	width: 288px;
	border: 1px solid #dfdfdf;
	background:#f9f9f9;
	overflow:hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
}

#of_container .slide_header {
	cursor:move;
	height:32px;
	padding-left:10px;
	padding-right:20px;
	line-height:32px;
	background-color: #F1F1F1;
	margin: 1px 0 -1px 0;
	border-bottom: 1px solid #dfdfdf;
	background-image: -ms-linear-gradient(top,#f9f9f9,#ececec);
	background-image: -moz-linear-gradient(top,#f9f9f9,#ececec);
	background-image: -o-linear-gradient(top,#f9f9f9,#ececec);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#ececec));
	background-image: -webkit-linear-gradient(top,#f9f9f9,#ececec);
	background-image: linear-gradient(top,#f9f9f9,#ececec);
	overflow:hidden;
	position: relative;
}

#of_container .slide_body {
	display:none;
	padding:10px 10px 10px 11px;
}


#of_container .slider li input,#of_container .slider li textarea,#of_container .slider li .screenshot,#of_container .slider li .of-option-image {
	width: 254px;
}

#of_container a.slide_edit_button, #of_container a.slide_delete_button {
	text-indent:-9999px;
	font-size:0;
}
#of_container a.slide_edit_button {
	position: absolute;
	right: 0;
	top: 0;
	width:32px;
	height:32px;
	background: url(../images/dropdown-arrow.png) no-repeat 9px -28px;
}
	#of_container a:hover.slide_edit_button {
	background: url(../images/dropdown-arrow.png) no-repeat 9px 11px;}
	
#of_container a.slide_delete_button { 
	float: right;
	margin: 0 0 0 7px;
	width:16px;
	height:16px;
	background: url(../images/icon-delete.png) no-repeat
}

#of_container .select_wrapper span {
	height: 28px;
	line-height: 28px;
	z-index: 2;
	padding-left: 6px;
	position:absolute;
	left:0;
}

#of_container .select_wrapper .select {
	cursor: pointer;
	height: 26px;
	margin: 0;
	-moz-opacity: 0;
	filter: alpha(opacity: 0);
	opacity: 0;
	padding: 0;
	position: relative;
	width: inherit;
	z-index: 4;	
}

#of_backup {
	margin: 40px 20px;
	width: 600px;
}

#of_backup textarea {
	margin-bottom: 9px !important;
	background-color: #F1F1F1;
	border: 1px solid;
	width: 100%;
	padding: 4px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	font-size: 12px;
	border-color: #CCC #E6E6E6 #E6E6E6 #CCC;
}

#of_container #content .section-backup .controls { width: 80%}

#of_container #content .section-backup .explain {
    display:none
}

#of_container #content .section-backup .backup-box {
    margin: 0 0 20px;
}

#of_container #content .section-backup .instructions {
    margin: 0 0 10px;
    color: #777;
}
#of_container #content .section-backup .button, #of_container #content .section-transfer .button {
    margin: 0 25px 0 0;
}

.temphide {display:none;}

/*-------------------------------------------------------------------------------------------*/
/* GENERAL STYLES */
/*-------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

html body * span.clear, html body * div.clear, html body * li.clear, html body * dd.clear {
	background: none;
	border: 0;
	clear: both;
	display: block;
	float: none;
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}


/*-------------------------------------------------------------------------------------------*/
/* Tipsy
/*-------------------------------------------------------------------------------------------*/
.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
  .tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

  /* Rounded corners */
  .tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
  
  /* Uncomment for shadow */
  /*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
  
  .tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }
  
  /* Rules to colour arrows */
  .tipsy-arrow-n { border-bottom-color: #000; }
  .tipsy-arrow-s { border-top-color: #000; }
  .tipsy-arrow-e { border-left-color: #000; }
  .tipsy-arrow-w { border-right-color: #000; }
  
	.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
    .tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
    .tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
  .tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
    .tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
  .tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }

  #of_container .controls .of-radio-img-img{width:30px; height:30px;}